{% extends "layout.html" %}

<!-- Header -->
{% block header %}
<header class="py-5 mb-5" id="header" style="background-image: linear-gradient(0deg, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%),url(https://static.igem.wiki/teams/4214/wiki/attributions/2.jpg);">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-12">
        <h1 class="display-4 text-white">Attributions</h1>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block page_content %}

<!-- side bar -->
<div class="row mt-4">
  <div class="col-lg-3">
    <div class="side-bar sticky-top">
      <nav class="navigation">
        <ul class="nav-ul-sidebar">
          <li class="nav-ul-li-sidebar">
            <a class="nav-ul-li-a-sidebar" href="#tag1">Team members</a>
            <a class="nav-ul-li-a-sidebar" href="#tag2">Principal Investigators</a>
            <a class="nav-ul-li-a-sidebar" href="#tag3">Instructors</a>
            <a class="nav-ul-li-a-sidebar" href="#tag4">Advisors</a>
            <a class="nav-ul-li-a-sidebar" href="#tag5">External advisor</a>
            <a class="nav-ul-li-a-sidebar" href="#tag6">Sponsors</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
<!-- END of sidebar -->

  <!-- Include chapters here -->
  <div class="col-lg-9">
    <div class="main-content">

      <section id="tag1">
        <h2 class="revealfromtop">Team members</h2>
          <div class="row mt-4 reveal">
          
            <div class="col-lg-3">
              <h5>Adam<br>Johansson<br>Holopainen</h5>
            </div>
            <div class="col-lg-9">
              <p>Adam is our design guy! He managed the production of our promotional video together with Sumant and Daniela, and was responsible for creating the cool assets and several of the animations in our videos, as well as illustrations on our team clothing and social media posts. Outside of his expertise with the drawing pad, he spent a lot of the summer participating in the wetlab effort, being involved with minipreps, colony PCR, and a few of our successful clonings.</p>
              <p></p>
            </div>

            <div class="col-lg-3">
              <h5>Aishwarya<br>Sajimon</h5>
            </div>
            <div class="col-lg-9">
              <p>Aishwarya was part of both the drylab and wetlab endeavours throughout and acted as a bridge between both when needed. Being a valuable member of wetlab, throughout summer, she picked up various tasks in the bacterial lab and actively participated in cloning and site-directed mutagenesis experiments (SDMs). She also contributed to primer design and optimization of PCR protocols for SDMs during the troubleshooting phases. As part of drylab she was involved in the various in-silico modelling efforts</p>
              <p></p>
            </div>

            <div class="col-lg-3">
              <h5>Amela<br>Peco</h5>
            </div>
            <div class="col-lg-9">
              <p>Amela has carried our human practices to success: she has written a children’s book, prepared classroom activities and interviewed many experts throughout the project. She has also been adopted into the wetlab crew during the summer and she became a workhorse creating mutants and midi-prepping during her free time. With her young age, we don’t expect anything else from her other than becoming a great iGEM leader in the future.</p>
              <p></p>
            </div>

            <div class="col-lg-3">
              <h5>Barathram<br>Swaminathan</h5>
            </div>
            <div class="col-lg-9">
              <p>Barathram is our lab guru. He’s been involved in pretty much every step from the project conceptualization and development to the validation studies at the end, with every step in between. His knowledge, experience and quick skills in wet lab were crucial during our troubleshooting phases, which would have ended up a lot more painful without Barath. </p>
              <p></p>
            </div>

            <div class="col-lg-3">
              <h5>Daniela<br>Weh</h5>
            </div>
            <div class="col-lg-9">
              <p>Daniela was our event manager for SiC, the wetlab taskmaster and a media person. She took up the monumental responsibility of the mutant production part in our project in its entirety and pulled it off. She co-ordinated the “big team” to produce the mutants at breakneck speeds and her long portfolio of other iGEM obligations. For the media team, she contributed with texts, postings and especially with directing the promotion video production alongside Adam and Sumant. Together with Pragha and Sumant, she came up with the idea of organising the first Swedish iGEM conference - short “SIC” - and created the fundament on which subsequent iGEM teams can build up a new tradition.</p>
              <p></p>
            </div>

            <div class="col-lg-3">
              <h5>Evgenia<br>Paraskevi<br>Ntaouka</h5>
            </div>
            <div class="col-lg-9">
              <p>Or Zenia, has been instrumental in bringing several ideas of our wet lab to fruition.  She has been involved in helping with the cell culture part of our project apart from offering her never-ending but crucial observations and opinions which shaped the project. She has been a part of other wetlab tasks such as cloning, creating mutants and prepping for the steps in between. In addition, she got involved in media work with promoting our project to the general public through our social media accounts. </p>
              <p></p>
            </div>

            <div class="col-lg-3">
              <h5>Joël<br>Tekoniemi</h5>
            </div>
            <div class="col-lg-9">
              <p>Joël is one of the two team leaders with a focus on leading wet lab and human practices as well as co-leading the finance subteam. He has an eye for optimization - relentlessly searching for ways to optimise the experiments and to extract every ounce out of them. He was involved in planning and executing some of our experiments, ordering materials and reaching out to sponsors. He also performed interviews and went to school visits and headed out partnership with UZurich. </p>
              <p></p>
            </div>

            <div class="col-lg-3">
              <h5>Karolina<br>Gustavsson</h5>
            </div>
            <div class="col-lg-9">
              <p>Karolina was part of Drylab and has mainly focused on immunogenicity modelling using both linear and discontinuous epitopes. Besides the immunogenicity modelling she also did a bunch of smaller things, plasmid design and modelling thermodynamics between IF and cubilin with Mutabind2. </p>
              <p></p>
            </div>

            <div class="col-lg-3">
              <h5>Keerthi<br>Anand<br>Raghavender</h5>
            </div>
            <div class="col-lg-9">
              <p>Keerthi is another cornerstone of wetlab, who was indispensable with her experience in cell culture part of wet lab. Apart from leading the team for setting up the Transfection, Western Blotting, Flow cytometry and Flourecence Microscopy experiments, she solely led the cell culture faction for the entirety of its execution. She managed to reiterate the protocols until she and the instructors were satisfied. With parallel tasking master thesis and iGEM, she really made bought the vision of the project (Antibodies binding and B12 binding) successful in all her attempts.</p>
              <p></p>
            </div>

            <div class="col-lg-3">
              <h5>Lumeng<br>Li</h5>
            </div>
            <div class="col-lg-9">
              <p>As one of the two team leaders, Lumeng mainly leads the media and drylab teams as well as co-leads the finance team. Her involvement in the successful grant application was a solid foundation for the smooth progress of the team's project at KI. In addition to funding, she has been instrumental in getting the KI lab up and running. Maintaining good communication with the PI, instructor, advisors, doctors, investors, and sponsors by her is key to our project's continued improvement with external voices. In research, she has worked on the application of fluorescence detection (also conducted Interab using plate reader), specialised in image analysis and participated in the development of HEK cell experiments using fluorescence microscopy. </p>
              <p></p>
            </div>

            <div class="col-lg-3">
              <h5>Malcolm<br>Halvarson</h5>
            </div>
            <div class="col-lg-9">
              <p>Malcolm was primarily a part of the wetlab team, helping to produce the mutants by setting up PCRs, making cultures and running endless minipreps. In addition, he helped develop ideas in the HP team.
</p>
              <p></p>
            </div>

            <div class="col-lg-3">
              <h5>Mariia<br>Minaeva</h5>
            </div>
            <div class="col-lg-9">
              <p>With her expertise in Bioinformatics, Mariia has been the pillar of the dry lab team.  Not only has she created the script to generate our mutant proteins, she also successfully designed all the primers needed for the site-directed mutagenesis. As co-creator of the ProMutor software, she also mastered the proteins structures prediction, the docking study, and actively participated in every media task.</p>
              <p></p>
            </div>

            <div class="col-lg-3">
              <h5>Praghadhesh<br>Thiagarajan</h5>
            </div>
            <div class="col-lg-9">
              <p>Pragha has been the solid link between the Wetlab and Finance team, but focusing a lot on both. Having a firm hand on the ever-increasing expenditures of the wet lab team, he was pivotal in navigating the corporate trenches getting us better deals at every turn. Thanks to him we have obtained grants and sponsors and he has made a substantial amount of mutants and cultures as well. You can often find him typing emails to prospective companies, drafting proposals and as well as organising fikas.</p>
              <p></p>
            </div>

            <div class="col-lg-3">
              <h5>Raphaël<br>Mauron</h5>
            </div>
            <div class="col-lg-9">
              <p>Raphaël is our wiki manager, coder, designer,.. Well, without him the wiki would not have existed. Raphaël was part of both wet lab and dry lab team until the wiki marathon began. Despite supporting the wet lab work with his expertise in designing plasmids and inspiring the whole team with his amazing project proposal, he successfully used JavaScript to bring to life our ProMutor software. He also mastered web design and developpment for both our first official iGEM Stockholm webpage and Wikipage. You won’t believe it when we tell you that he is doing these things for the first time!</p>
              <p></p>
            </div>
                        
            <div class="col-lg-3">
              <h5>Shuanghao<br>Tang</h5>
            </div>
            <div class="col-lg-9">
              <p>Primarily a finance team member who has been the point of contact with banks in order to sort out internal fund transfers. Apart from that, she is involved in budgeting, finding external collaborations and sponsors, as well as pitching the product to different incubators. Thanks to her we have secured a sponsorship from a data analytics company so that we could use the tool to analyze data collected from the lab experiments. In addition to that, she has assisted the team with various grant applications, which served as a primary source of funding for the project. Additionally, being a part of both human practice and media teams, she acted as a moderator for our SIC conference, did market research and analysis to investigate the market potential for our product, and assisted in shooting a promotional video.</p>
              <p></p>
            </div>

            <div class="col-lg-3">
              <h5>Sumant<br>Salphale</h5>
            </div>
            <div class="col-lg-9">
              <p>A primary media guy, Sumant managed all of our social media channels and contributed to their content with stunning views from his drone! By listening to so many native speakers in different languages while recording and editing the 11 voice overs of our video, he must be a language expert by now. His ability of fast-understanding made him an amazing mate in the lab. His acumen and sincerity shines through even in wet lab experiments where he was responsible for getting us that perfect cloning result. He was the guy everyone called when the autoclave gave us problems. He also got dragged into almedalen and to perform interviews which earned him a role as honorary member of human practices. </p>
              <p></p>
            </div>

            <div class="col-lg-3">
              <h5>Tingting<br>Zhou</h5>
            </div>
            <div class="col-lg-9">
              <p>Tingting Zhou is a member of the Financing team and Human Practice Team. As a financing team member, she has helped with getting the all kinds of fundings and sponsorships successfully. Besides, she contacted some early-stage Venture Capitals for advices of potential business model. Being a part of the human practice team, she is always thrilling to get more feedback about our project from society. For this, she interviewed doctors and consulting companies to understand the current incidence, risks, diagnosis and treatment of PA in clinical trial, and checked the regulation of the application of drugs and food.</p>
              <p></p>
            </div>

        </div>
      </section>


      <section id="tag2">
        <h2 class="revealfromtop">Principal Investigators</h2>
        <div class="row mt-4 reveal">
          
            <div class="col-lg-3">
            <figure>
              <a href="https://www.kth.se/profile/farsan" target="_blank">
              <img class="img-fluid" style="max-width: 160px" src="https://static.igem.wiki/teams/4214/wiki/attributions/advisor-and-pis/johan.jpg"/>
              </a>
            </figure>
            <p></p>
            </div>
            <div class="col-lg-9">
              <h5>Prof. Johan Rockberg</h5>
              <p>Johan is our primary PI and he has always been there for us, for administrative questions most of the time, but also with crucial guidance and advice that not only helped us but shaped the project. His expertise in epitope mapping inspired our project to tackle antibody binding, with a twist. We are incredibly thankful for Johan for having allowed us to take part in this journey, and we hope to have made him proud of us.</p>
              <p></p>
            </div>

            <div class="col-lg-3">
            <figure>
              <a href="https://medarbetare.ki.se/people/ute-romling" target="_blank">
              <img class="img-fluid" style="max-width: 160px" src="https://static.igem.wiki/teams/4214/wiki/attributions/advisor-and-pis/ute.jpeg"/>
              </a>
            </figure>

            <p></p>
            </div>
            <div class="col-lg-9">
              <h5>Prof. Ute Römling</h5>
              <p>Secondary iGEM PI and the head of a research group at the Department of Microbiology, Tumor and Cell Biology at Karolinska Institutet with a research focus on microbiology. She helped us by providing timely suggestions and advice, DH-alpha cells for inter-lab, and contacting a working space in IMM for level 2 cell lab.</p>
              <p></p>
            </div>
        </div>

      </section>

      <section id="tag3">
        <h2 class="revealfromtop">Instructors</h2>
          <div class="row mt-4 reveal">
          
            <div class="col-lg-3">
            <figure>
              <a href="https://www.kth.se/profile/amanme" target="_blank">
              <img class="img-fluid" style="max-width: 160px" src="https://static.igem.wiki/teams/4214/wiki/attributions/advisor-and-pis/aman.jpg"/>
              </a>
            </figure>
            <p></p>
            </div>

            <div class="col-lg-9">
              <h5>Aman Mebrahtu</h5>
              <p>Phd student<br>
Aman has been helping us with our cloning strategy by giving us an introduction to SnapGene and sharing his experience so that we were able to avoid time-costing mistakes.</p>
              <p></p>
            </div>

            <div class="col-lg-3">
            <figure>
              <a href="https://www.kth.se/profile/maritm" target="_blank">
              <img class="img-fluid" style="max-width: 160px" src="https://static.igem.wiki/teams/4214/wiki/attributions/advisor-and-pis/marit.jpg"/>
              </a>
            </figure>
            <p></p>
            </div>
            <div class="col-lg-9">
              <h5>Marit Möller</h5>
              <p>Phd student<br>
Marit has helped us shape our project since the beginning, with valuable advice and helping us place orders quickly. She specializes in the field of Protein engineering and contributed to the project by imparting knowledge at key moments.</p>
              <p></p>
            </div>

            <div class="col-lg-3">
            <figure>
              <a href="https://staff.ki.se/people/magnus-olsson " target="_blank">
              <img class="img-fluid" style="max-width: 160px" src="https://static.igem.wiki/teams/4214/wiki/attributions/advisor-and-pis/magnus.jpeg"/>
              </a>
            </figure>
            <p></p>
            </div>
            <div class="col-lg-9">
              <h5>Magnus Olsson</h5>
              <p>Senior research specialist in Molecular Toxicology at Karolinska Institutet, Institute of Environmental Medicine, Unit of Systems Toxicology. He provided us with a level 2 cell lab and HEL 293T cells for our experiments. Besides, he guided us from designing the protocol, to choosing the proper antibodies for fluorescent microscopy, to the hands-on training on cell transfection, coverslip preparation and staining, and fluorescent microscopy in his lab.</p>
              <p></p>
            </div>

        </div>
      </section>

      <section id="tag4">
        <h2 class="revealfromtop">Advisors</h2>
        <div class="row mt-4 reveal">
          <p>We were fortunate to have a large team of eager researchers around us in the lab, who were or became our advisors during the project. We always knew that someone with the special skills and knowledge for a specific issue would be there and happy to help us, which made our lives a lot more comfortable while working in their lab.</p>
          
            <div class="col-lg-3">
            <figure>
              <a href="https://www.kth.se/profile/hannesth" target="_blank">
              <img class="img-fluid" style="max-width: 160px" src="https://static.igem.wiki/teams/4214/wiki/attributions/advisor-and-pis/hannes.jpg"/>
              </a>
            </figure>
            <p></p>
            </div>
            <div class="col-lg-9">
              <h5>Hannes Thorell</h5>
              <p>Phd Student<br>
Hannes was there from the start when we were discussing our project during our brainstorming phase and when we were developing our project. He enabled us to get access to a cell lab and allowed us to obtain our transfection results.
.</p>
              <p></p>
            </div>

            <div class="col-lg-3">
            <figure>
              <a href="https://www.kth.se/profile/malinjo7" target="_blank">
              <img class="img-fluid" style="max-width: 160px" src="https://static.igem.wiki/teams/4214/wiki/attributions/advisor-and-pis/malin.jpg"/>
              </a>
            </figure>
            <p></p>
            </div>
            <div class="col-lg-9">
              <h5>Malin Jönsson</h5>
              <p>Phd student<br>
Malin works with protein engineering in relation to developing novel therapy approaches. She guided the team in the project planning phase.
              </p>
              <p></p>
            </div>

            <div class="col-lg-3">
            <figure>
              <a href="https://www.kth.se/profile/mkarla" target="_blank">
              <img class="img-fluid" style="max-width: 160px" src="https://static.igem.wiki/teams/4214/wiki/attributions/advisor-and-pis/max.jpg"/>
              </a>
            </figure>
            <p></p>
            </div>
            <div class="col-lg-9">
              <h5>Maximillian Karlander</h5>
              <p>Phd student<br>
Max is working with gene therapy and affinity protein engineering. He guided the team with variant design, cloning and selection of antibodies based on the applications.
              </p>
              <p></p>
            </div>

            <div class="col-lg-3">
            <figure>
              <a href="https://www.kth.se/profile/numv" target="_blank">
              <img class="img-fluid" style="max-width: 160px" src="https://static.igem.wiki/teams/4214/wiki/attributions/advisor-and-pis/num.jpg"/>
              </a>
            </figure>
            <p></p>
            </div>
            <div class="col-lg-9">
              <h5>Num Vistbacka</h5>
              <p>Laboratory engineer<br>
Num became more involved when we were trying to produce recombinant protein and were performing western blots. 
</p>
              <p></p>
            </div>

            <div class="col-lg-3">
            <figure>
              <a href="https://staff.ki.se/people/emma-wincent" target="_blank">
              <img class="img-fluid" style="max-width: 160px" src="https://static.igem.wiki/teams/4214/wiki/attributions/advisor-and-pis/emma.jpg"/>
              </a>
            </figure>
            <p></p>
            </div>
            <div class="col-lg-9">
              <h5>Emma Vincent</h5>
              <p>Senior researcher in Molecular Toxicology at Karolinska Institutet, Institute of Environmental Medicine, Unit of Systems Toxicology. As a financial supervisor, she helped us with grant applications at KI. As a scientific advisor, she helped us order lab materials for our experiments in IMM. 
</p>
              <p></p>
            </div>

            <div class="col-lg-3">
            <figure>
              <a href="https://www.bioimaging.bio.lmu.de/personen/leonhardt_group/hoerl/index.html" target="_blank">
              <img class="img-fluid" style="max-width: 160px" src="https://static.igem.wiki/teams/4214/wiki/attributions/advisor-and-pis/david.jpeg"/>
              </a>
            </figure>
            <p></p>
            </div>
            <div class="col-lg-9">
              <h5>David Hörl</h5>
              <p>Postdoc at Department of Human Biology & Bioimaging at Ludwig Maximilian University of Munich. He gave us a lot of insights into fluorescent microscopy by walking us through all the practical and technical details in terms of the difficulties and beauties of image analysis based on his experience and expertise.
</p>
              <p></p>
            </div>

        </div>

      </section>

      <section id="tag5">
        <h2 class="revealfromtop">External advisor</h2>
        <div class="row mt-4 reveal">          
            <div class="col-lg-3">
            <figure>
              <a href="https://www.linkedin.com/in/mauronf" target="_blank">
              <img class="img-fluid" style="max-width: 160px" src="https://static.igem.wiki/teams/4214/wiki/attributions/advisor-and-pis/frederic.jpeg"/>
              </a>
            </figure>
            <p></p>
            </div>
            <div class="col-lg-9">
              <h5>Frédéric Mauron</h5>
              <p>Engineer in microelectronics<br>
Frédéric has been of the greatest help on the technical parts of the software creation. With his availability, knowledge and faith in our side project, he successfully guided us in the darker areas of software creation. By having multiple looks at our bugs and providing priceless advices, we successfully glued the pieces together. Last but not least, we are remarkably thankful for the vierge server he put at our disposal for free.</p>
              <p></p>
            </div>
      </section>


      <section id="tag6">
        <h2 class="revealfromtop">Sponsors</h2>
          
        <div class="scene reveal">
          
          <a href="https://www.kth.se/en" target="_blank">
            <div class="flipcard">
              <div class="flipcard__face flipcard__face--front">
                <img class="flipcard-img img-fluid" src="https://static.igem.wiki/teams/4214/wiki/experiments/attributions/kth-logo.jpg" />
              </div>
              <div class="flipcard__face flipcard__face--back">
                <p style="font-size:100% !important;">KTH Royal Institute of Technology served as the main sponsor of iGEM Stockholm 2022 the same as in previous years. As Sweden's largest technical research and learning institution and prides itself on being a key centre of intellectual talent and innovation.
KTH provided us funding from the CBH school, big lab space, equipment and materials for our bacterial experiments as well as HEK 293T cells. Staff and students from KTH supported us by giving advice and suggestions during the whole project.</p>
              </div>
            </div>
          </a>
                
          <a href="https://ki.se/en" target="_blank">
            <div class="flipcard">
              <div class="flipcard__face flipcard__face--front">
                <img class="flipcard-img img-fluid" src="https://static.igem.wiki/teams/4214/wiki/experiments/attributions/ki.png" />
              </div>
              <div class="flipcard__face flipcard__face--back">
                <p>Karolinska Institute was the second major sponsor of iGEM Stockholm 2022. KI is one of the world's leading medical universities. 
This year, KI supported us financially with two grants (KI Board grant and ToxiMaster grant), a level-two cell lab for HEK 293T experiments in IMM with equipment and basic lab materials. Professors and researchers from KI not only appreciate iGEM students’ ambition but also guide us to build a more scientific and critical way of thinking.</p>
              </div>
            </div>
          </a>

          <a href="https://karolinskainnovations.ki.se/en/about-us-2/" target="_blank">
            <div class="flipcard">
              <div class="flipcard__face flipcard__face--front">
                <img class="flipcard-img img-fluid" src="https://static.igem.wiki/teams/4214/wiki/attributions/sponsors/ki-innovation.jpg" />
              </div>
              <div class="flipcard__face flipcard__face--back">
                <p>An incubator, located inside of Karolinska Institutet Solna campus. It supports research groups in life sciences to develop business model for their projects evaluated with commercial potential.
KI innovation not only provided us with a grant but also bridged us with investors and consultants, and gave us a workshop for business in the medical field.</p>
              </div>
            </div>
          </a>

          <a href="https://igem.org/" target="_blank">
            <div class="flipcard">
              <div class="flipcard__face flipcard__face--front">
                <img class="flipcard-img img-fluid" src="https://static.igem.wiki/teams/4214/wiki/attributions/sponsors/igem-logo.jpg"/>
              </div>
              <div class="flipcard__face flipcard__face--back">
                <p>iGEM is the largest synthetic biology competition and has motivated many students from various backgrounds to choose synthetic biology for education and as a career option. 
iGEM has supported 90 teams with the most impactful projects annually by providing grants and incentives. We thank iGEM for the support and trust they placed in our impactful project.</p>
              </div>
            </div>
          </a>
          

          <a href="https://www.sinobiological.com/" target="_blank">
            <div class="flipcard">
              <div class="flipcard__face flipcard__face--front">
                <img class="flipcard-img img-fluid" src="https://static.igem.wiki/teams/4214/wiki/attributions/sponsors/sinobiological.png" />
              </div>
              <div class="flipcard__face flipcard__face--back">
                <p>A company that is dedicated to providing the scientific community with high-quality recombinant proteins and antibody reagents to promote life science research and drug discovery.
As our biggest sponsor of antibodies, this company provided us with primary and secondary antibodies for different applications.</p>
              </div>
            </div>
          </a>

          <a href="https://www.atlasantibodies.com/" target="_blank">
            <div class="flipcard">
              <div class="flipcard__face flipcard__face--front">
                <img class="flipcard-img img-fluid" src="https://static.igem.wiki/teams/4214/wiki/attributions/sponsors/atlas-antibody.jpg"/>
              </div>
              <div class="flipcard__face flipcard__face--back">
                <p>Atlas Antibodies is a Swedish company that has tremendous success in producing specific monoclonal and polyclonal antibodies toward proteins found in the human body. 
We thank them for the support they extended to us in the form of discounts while purchasing their primary antibodies.</p>
              </div>
            </div>
          </a>

          <a href="https://www.riedia.com/" target="_blank">
            <div class="flipcard">
              <div class="flipcard__face flipcard__face--front">
                <img class="flipcard-img img-fluid" src="https://static.igem.wiki/teams/4214/wiki/attributions/sponsors/riedia.jpg"/>
              </div>
              <div class="flipcard__face flipcard__face--back">
                <p>Riedia is a news media-based startup from KTH Royal Institute of Stockholm. We thank Riedia for allowing us to use their platform to introduce the public to concepts of synthetic biology, iGEM and iGEM Stockholm. 
Being revolutionary in bringing local and international news to personal devices, we encourage everyone to install and be benefitted from their content.</p>
              </div>
            </div>
          </a>

          <a href="https://eu.idtdna.com/pages" target="_blank">                
            <div class="flipcard">
              <div class="flipcard__face flipcard__face--front">
                <img class="flipcard-img img-fluid" src="https://static.igem.wiki/teams/4214/wiki/attributions/sponsors/idt.jpg" />
              </div>
              <div class="flipcard__face flipcard__face--back">
                <p>Integrated DNA Technologies (IDT) company develops, manufactures, and markets nucleic acid (DNA) products that support the life sciences industry.
IDT’s support has proven crucial for our project and we would like to thank them for providing us with gBlocks and primers.</p>
              </div>
            </div>
          </a>

          <a href="https://se.promega.com/" target="_blank">                
            <div class="flipcard">
              <div class="flipcard__face flipcard__face--front">
                <img class="flipcard-img img-fluid" src="https://static.igem.wiki/teams/4214/wiki/attributions/sponsors/promega.jpg" />
              </div>
              <div class="flipcard__face flipcard__face--back">
                <p>A company that is deeply rooted in the fields of genomics, protein analysis, drug discovery and molecular biology. They supply the researchers and scientists of today and tomorrow to perform numerous experiments in the field of biotechnology.
The Nordic division of the company was one of the earliest sponsors and has supported us generously by providing midi- and miniprep kits.</p>
              </div>
            </div>
          </a>

          <a href="https://www.microsynth.com/home-fr.html" target="_blank">                
            <div class="flipcard">
              <div class="flipcard__face flipcard__face--front">
                <img class="flipcard-img img-fluid" src="https://static.igem.wiki/teams/4214/wiki/attributions/sponsors/microsynth.jpg" />
              </div>
              <div class="flipcard__face flipcard__face--back">
                <p>Microsynth is a leading European company in nucleic acid synthesis and analysis with three main business areas, DNA/RNA Synthesis, DNA/RNA Analysis and Sequencing, and Contract Research/Outsourcing.
Microsynth is one of the leading providers of Sanger sequencing services and we are grateful for having received sequencing labels from them.</p>
              </div>
            </div>
          </a>

          <a href="https://www.bio-rad.com/" target="_blank">                
            <div class="flipcard">
              <div class="flipcard__face flipcard__face--front">
                <img class="flipcard-img img-fluid" src="https://static.igem.wiki/teams/4214/wiki/attributions/sponsors/biorad.svg" />
              </div>
              <div class="flipcard__face flipcard__face--back">
                <p>Bio-Rad manufactures genomics, proteomics, cell biology research, and clinical diagnostics products for medical, industrial, and academic research.
Biorad supported us by offering advice and discounts on western blotting products and reagents.</p>
              </div>
            </div>
          </a>

          <a href="https://biorender.com/" target="_blank">                
            <div class="flipcard">
              <div class="flipcard__face flipcard__face--front">
                <img class="flipcard-img img-fluid" src="https://static.igem.wiki/teams/4214/wiki/attributions/sponsors/biorender.jpg" />
              </div>
              <div class="flipcard__face flipcard__face--back">
                <p>BioRender is an online app used to create, edit, and collaborate on scientific diagrams, and illustrations. It’s the world's first tool to help scientists create and share beautiful, professional scientific figures.
Biorender provided us with a premium account, which we used throughout the project to communicate our solution in a clean, professional manner.</p>
              </div>
            </div>
          </a>

          <a href="https://www.snapgene.com/" target="_blank">                
            <div class="flipcard">
              <div class="flipcard__face flipcard__face--front">
                <img class="flipcard-img img-fluid" src="https://static.igem.wiki/teams/4214/wiki/attributions/sponsors/snapgene.jpg" />
              </div>
              <div class="flipcard__face flipcard__face--back">
                <p>SnapGene is a user-friendly cloning tool which provides the easiest and most secure way to plan, visualize, and document molecular biology procedures for scientists.
Snapgene provided 16 team members with a software license, allowing everyone to perform <i>in silico</i> cloning.</p>
              </div>
            </div>
          </a>

          <a href="https://www.beckmancoulter.com/" target="_blank">                
            <div class="flipcard">
              <div class="flipcard__face flipcard__face--front">
                <img class="flipcard-img img-fluid" src="https://static.igem.wiki/teams/4214/wiki/attributions/sponsors/beckman.jpg" />
              </div>
              <div class="flipcard__face flipcard__face--back">
                <p>Beckman Coulter offers clinical diagnostic products and comprehensive clinical laboratory solutions backed by more than 80 years of experience and innovation. It operates in two industries: Diagnostics and Life Sciences.
We thank Beckman Coulter for sending us their CosMCPrep kit for plasmid isolation.</p>
              </div>
            </div>
          </a>

          <a href="https://www.neb.uk.com/" target="_blank">                
            <div class="flipcard">
              <div class="flipcard__face flipcard__face--front">
                <img class="flipcard-img img-fluid" src="https://static.igem.wiki/teams/4214/wiki/attributions/sponsors/new-england-biolabs.jpg" />
              </div>
              <div class="flipcard__face flipcard__face--back">
                <p>New England Biolabs is one of the leading companies in the development of reagents for molecular biology. NEB has supported many iGEM teams by providing support kits for performing recombination.
We thank New England Biolabs for providing restriction enzymes, ligases, and gel electrophoresis kits.</p>
              </div>
            </div>
          </a>

        </div>
      </section>


      <section>
        <div class="box">
          <a href="{{ url_for('pages', page='team') }}" class="a_pages"><div class="reveal flashbox_pages"><p class="p_pages"><i class="fa fa-solid fa-arrow-left fa_pages"></i> Team</p></div></a>

          <a href="{{ url_for('pages', page='partnership') }}" class="a_pages"><div class="reveal flashbox_pages"><p class="p_pages">Partnership <i class="fa fa-solid fa-arrow-right fa_pages"></i></p></div></a>
        </div>
      </section>
    </div>
  </div>
</div>
{% endblock %}
