{% extends "layout.html" %}

<!-- Header -->
{% block header %}
<header class="py-5 mb-5" id="header" style="background-image: linear-gradient(0deg, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%),url(https://static.igem.wiki/teams/4214/wiki/collaborations/collab-header.png);">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-12">
        <h1 class="display-4 text-white">Collaborations</h1>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block page_content %}

<!-- side bar -->
<div class="row mt-4">
  <div class="col-lg-3">
    <div class="side-bar sticky-top">
      <nav class="navigation">
        <ul class="nav-ul-sidebar">
          <li class="nav-ul-li-sidebar">
            <a class="nav-ul-li-a-sidebar" href="#tag1">SynBio Dictionary</a>
            <a class="nav-ul-li-a-sidebar" href="#tag2">Level Up</a>
            <a class="nav-ul-li-a-sidebar" href="#tag3">Chalmers-Gothenburg and Riedia</a>
            <a class="nav-ul-li-a-sidebar" href="#tag4">Zürich</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <!-- END of sidebar -->

  <!-- Include chapters here -->
  <div class="col-lg-9">
    <div class="main-content">
      <section id="tag1">
        <h2>SynBio Dictionary</h2>

        <!-- logo collaboration -->
        <figure>
          <img src="https://static.igem.wiki/teams/4214/wiki/collaborations/collab-synbio.gif" class="img-fluid reveal center" alt="Molecule shaped logos of iGEM Lund, EPFL and Stockholm hugging">
          <figcaption>
            <p><i style="font-weight:bold;">Gif.</i><i> Molecule shaped logos of iGEM Lund, EPFL and Stockholm hugging</i></p>
          </figcaption>
        </figure>

        <p class="reveal">
        The teams from Lund (Sweden) and Paris (France) developed an amazing idea: the SynBio Dictionary. This dictionary helps those without any scientific background to understand the world of synthetic biology as much as the ones of iGEM. The iGEM teams from Uppsala, Chalmers and us - Stockholm - provided terms which are generally used in genetic engineering and biology. Then, the iGEM teams from Lund and Paris have formatted and designed the dictionary. After the “translation” section, the reader can apply their new knowledge and receive a first look into biological projects with short descriptions of each iGEM team’s project. This way, we aim to raise attention to the problems we want to tackle and raise curiosity for science, especially synthetic biology.</p>
        <p class="reveal">
Curious? Check it out and dive into the world of biology:</p>

        <!-- Dictionary!!! -->
        <div class="box_page">
          <a href="https://static.igem.wiki/teams/4214/wiki/collaborations/onlinereading-synthetic-biology-dictionary-deep-igem.pdf" target="_blank" class="a_pages"><div class="reveal flashbox_pages"><p class="p_pages">Dictionary <i class="fa fa-solid fa-arrow-right fa_pages"></i></p></div></a>
        </div>
        
        <figure class="reveal">
          <img src="https://static.igem.wiki/teams/4214/wiki/collaborations/lund.jpg" class="img-fluid reveal center" alt="2 members from iGEM Lund and 2 members from iGEM Stockholm">
          <figcaption>
            <p><i style="font-weight:bold;">Picture.</i><i> 2 members from iGEM Lund and 2 members from iGEM Stockholm</i></p>
          </figcaption>
        </figure>

      </section>


      <section id="tag2">
        <h2 class="revealfromtop">Level Up</h2>

        <!-- logo collaboration -->
        <figure class="reveal">
          <img src="https://static.igem.wiki/teams/4214/wiki/collaborations/collab-levelup.gif" class="img-fluid reveal center" alt="Molecule shaped logos of iGEM ULaval, Patras, Thessaloniki and Stockholm hugging">
          <figcaption>
            <p><i style="font-weight:bold;">Gif.</i><i> Molecule shaped logos of iGEM ULaval, Patras, Thessaloniki and Stockholm hugging</i></p>
          </figcaption>
        </figure>

        <p class="reveal">
        Together with iGEM ULaval, iGEM Patras and iGEM Thessaloniki, we were a part of the Level Up collaboration - a science communication collaboration in synthetic biology. Our goal was to raise awareness about synthetic biology and to explain to different audiences how it can be used to create a more sustainable society. By creating four pamphlets that explain the concept of synthetic biology at four different levels of complexity, we were able to target four groups of people: children, high school students, general public and STEM students. 
To distribute all the pamphlets, our teams organized an event called iGEM Day at our universities. Apart from this, in order to reach out to more people and include different nationalities, we also asked other iGEM teams to participate by translating the pamphlets in their own language and distribute them at their universities. The pamphlets were translated to japanese, kazakh, russian, french, german, greek and persian by teams around the world.
        </p>

        <div class="box_page">
          <a href="https://static.igem.wiki/teams/4214/wiki/collaborations/level-up-comic.pdf" target="_blank" class="a_pages"><div class="reveal flashbox_pages"><p class="p_pages">Children <i class="fa fa-solid fa-arrow-right fa_pages"></i></p></div></a>

          <a href="https://static.igem.wiki/teams/4214/wiki/collaborations/level-up-high-school.pdf" target="_blank" class="a_pages"><div class="reveal flashbox_pages"><p class="p_pages">High school students <i class="fa fa-solid fa-arrow-right fa_pages"></i></p></div></a>
        </div>

        <div class="box_page">
          <a href="https://static.igem.wiki/teams/4214/wiki/collaborations/level-up-general-public.pdf" target="_blank" class="a_pages"><div class="reveal flashbox_pages"><p class="p_pages">General public <i class="fa fa-solid fa-arrow-right fa_pages"></i></p></div></a>

          <a href="https://static.igem.wiki/teams/4214/wiki/collaborations/level-up-stem-students.pdf" target="_blank" class="a_pages"><div class="reveal flashbox_pages"><p class="p_pages">STEM students <i class="fa fa-solid fa-arrow-right fa_pages"></i></p></div></a>
        </div>
      </section>


      <section id="tag3">
        <h2 class="revealfromtop">Chalmers-Gothenburg and Riedia</h2>

        <!-- logo collaboration -->
        <figure class="reveal">
          <img src="https://static.igem.wiki/teams/4214/wiki/collaborations/collab-chalmers.gif" class="img-fluid reveal center" alt="Molecule shaped logos of iGEM Chalmers and Stockholm hugging">
          <figcaption>
            <p><i style="font-weight:bold;">Gif.</i><i> Molecule shaped logos of iGEM Chalmers and Stockholm hugging</i></p>
          </figcaption>
        </figure>
        <p></p>

        <p class="reveal">
            iGEM Stockholm and Chalmers-Gothenburg have collaborated with Riedia, a news media based application that was homegrown in KTH - Royal Institute of Technology. The goal of this collaboration is to raise awareness among the people about our work, our teams and the iGEM competition as a whole. Since the target audience of Riedia is students and internationals, it would help to promote the field of synthetic biology as a potential area of research among young students and it helps the teams attract determined talents in the future. Since Riedia has recently started operating in Stockholm and Gothenburg, the teams were supporting the company by advertising Riedia's application to university students.
          </p>

        <figure class="reveal">
          <img src="https://static.igem.wiki/teams/4214/wiki/collaborations/chalmers.jpg" class="img-fluid reveal center" alt="2 members from iGEM Lund and 2 members from iGEM Stockholm">
          <figcaption>
            <p><i style="font-weight:bold;">Picture.</i><i> Gothenburg and Stockholm iGEM teams meet up</i></p>
          </figcaption>
        </figure>
        <p></p>
      </section>



      <section id="tag4">
        <h2 class="revealfromtop">Zürich</h2>

        <figure class="reveal">
          <img src="https://static.igem.wiki/teams/4214/wiki/collaborations/collab-zurich.gif" class="img-fluid reveal center" alt="Molecule shaped logos of iGEM Zürich and Stockholm hugging">
          <figcaption>
            <p><i style="font-weight:bold;">Gif.</i><i> Molecule shaped logos of iGEM Zürich and Stockholm hugging</i></p>
          </figcaption>
        </figure>

        <p class="reveal">We partnered up with the iGEM team Zürich to work together on our projects early on, since we were working on gut-related problems. The goal was to help each other out with the realization of all project aspects, especially of common human practices goals. We first set out to cover regulations regarding the market authorisation of our products (a protein drug for us and a probiotic for UZurich) by contacting our respective drug agencies. We communicated these results through a poster infographic. In addition, we made an infographic describing the gut with regards to vitamins and the microbiota.</p>

        <figure class="reveal">
          <img src="https://static.igem.wiki/teams/4214/wiki/partnership/zoom-uzurich.png" class="img-fluid reveal" alt="zoom UZurich">
          <figcaption>
            <p><i style="font-weight:bold;">Figure.</i><i> Team Stockholm and UZurich in a common meeting. Top left: Nathalie (UZurich), top right: Amela and Joel (Stockholm), bottom: Martina (UZurich)</i></p>
          </figcaption>
        </figure>
      </section>   
         

         
      <section>
        <div class="box">
          <a href="{{ url_for('pages', page='partnership') }}" class="a_pages"><div class="reveal flashbox_pages"><p class="p_pages"><i class="fa fa-solid fa-arrow-left fa_pages"></i> Partnership</p></div></a>

          <a href="{{ url_for('pages', page='entrepreneurship') }}" class="a_pages"><div class="reveal flashbox_pages"><p class="p_pages">Entrepreneurship <i class="fa fa-solid fa-arrow-right fa_pages"></i></p></div></a>
        </div>
      </section>
    </div>
  </div>
</div>
{% endblock %}
