{% extends "layout.html" %}

<!-- Header -->
{% block header %}
<header class="py-5 mb-5" id="header" style="background-image: url(https://static.igem.wiki/teams/4214/wiki/picture.png);">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12">
        <h1 class="display-4 text-white mt-5 mb-2">Collaborations</h1>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block page_content %}

<div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h4>Silver Medal Criterion #2</h4>
      <p>Collaborate with one (or more) 2022 iGEM team(s) in a meaningful way.</p>
      <hr>
      <p>Please see the <a href="https://competition.igem.org/judging/medals">2022 Medals Page</a> for more information.</p>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-lg-6">
    <h2>Which teams can we work with?</h2>
    <hr>
    <p>You can work with any other iGEM 2022 team in the competition. You can also work with non-iGEM research groups, but they do not count towards the iGEM team collaboration silver medal criterion.</p>
  </div>
  <div class="col-lg-6">
    <h2>Some suggestions</h2>
    <hr>
    <ul>
      <li>Improve the function of another team's BioBrick Part or Device</li>
      <li>Characterize another team's part</li>
      <li>Debug a construct</li>
      <li>Model or simulate another team's system</li>
      <li>Test another team's software</li>
      <li>Help build and test another team's hardware project</li>
    </ul>
  </div>
</div>

{% endblock %}
