{% extends "layout.html" %}

<!-- Header -->
{% block header %}
<header class="py-5 mb-5" id="header" style="background-image: linear-gradient(0deg, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%),url(https://static.igem.wiki/teams/4214/wiki/picture.png);">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-12">
        <h1 class="display-4 text-white">Project Description</h1>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block page_content %}

<!-- side bar -->
<div class="row mt-4">
  <div class="col-lg-3">
    <div class="side-bar sticky-top">
      <nav class="navigation">
        <ul class="nav-ul-sidebar">
          <li class="nav-ul-li-sidebar">
            <a class="nav-ul-li-a-sidebar" href="#tag1">Abstract</a>
            <a class="nav-ul-li-a-sidebar" href="#tag2">Pernicious anemia</a>
            <a class="nav-ul-li-a-sidebar" href="#tag3">Why pernicious anemia?</a>
            <a class="nav-ul-li-a-sidebar" href="#tag4">Road map</a>
            <a class="nav-ul-li-a-sidebar" href="#tag5">Future prospects</a>
            <a class="nav-ul-li-a-sidebar" href="#references">References</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
<!-- END of sidebar -->

<!-- Include chapters here -->
  <div class="col-lg-9">
    <div class="main-content">

      <section id="tag1">
        <h2 class="revealfromtop">Abstract</h2>
        <p class="reveal">
          The Big IF project aims to develop a new treatment for Pernicious Anemia, a severe form of vitamin b12 deficiency. In pernicious anemia, the body has an autoimmune reaction towards and thus breaks down a protein called Intrinsic Factor, a crucial carrier protein that allows vitamin b12 to be taken up in the gut after consumption.
        </p>
        <p class="reveal">
        Our idea is to engineer a recombinant IF to which Pernicious anemia autoantibodies cannot bind. This is done through site-directed mutagenesis of the autoantibody binding site, while making sure that the vitamin B12 affinity remains unaffected. This modified protein could then be cheaply produced in bacteria and easily taken in pill form, allowing the patient’s B12 absorption ability to be restored.
        </p>

        <div class="row reveal">
          <div class="col form-floating">
            <form id="form1" method="post">
                <label class="label-dropdown" for="floatingSelect">Choose a language:</label>
                <select class="form-select" id="language" onchange="setIframeSource()">
                  <option value="https://video.igem.org/videos/embed/d7e36b34-c2eb-4da5-a0ab-b326f63757c1">English</option>
                  <option value="https://video.igem.org/videos/embed/6f992379-cec2-4b97-95b4-1cb7621d51ad">Swedish</option><hr>
                  <option value="https://video.igem.org/videos/embed/6e1e3cba-9221-40f3-af5a-212846e0a559">Bosnian</option> 
                  <option value="https://video.igem.org/videos/embed/cd51dfe9-f05f-4e7d-87e5-4baace6566e9">Chinese</option> 
                  <option value="https://video.igem.org/videos/embed/430f7f9a-7c2f-4cd6-9587-bbc8d2c60532">Finnish</option>
                  <option value="https://video.igem.org/videos/embed/b7133958-8bf6-4836-83b0-088f286dbec3">French</option> 
                  <option value="https://video.igem.org/videos/embed/af4a5a01-06c9-4a9b-b579-107416f79198">German</option> 
                  <option value="https://video.igem.org/videos/embed/a0d70754-68d1-4fc2-aa2f-9ced247c1fe4">Greek</option> 
                  <option value="https://video.igem.org/videos/embed/6cf173f8-ea07-4636-a90b-a318eada5769">Hindi</option> 
                  <option value="https://video.igem.org/videos/embed/e26601ca-9968-4907-8c5a-bed1719d2b10">Russian</option> 
                  <option value="https://video.igem.org/videos/embed/94cf2588-b9fb-40d0-ab9b-7ec2b20096b2">Tamil</option> 
              </select>
            </form>
          </div>
          <div class="col-md-9"></div>
        </div>
        
        <p></p>

        <p align="center" class="reveal"><iframe id="myPromovideo" title="Stockholm: BIG IF? Big-Yes!!! (2022) - Project Promotion [English]" width="700" height="400" src="https://video.igem.org/videos/embed/d7e36b34-c2eb-4da5-a0ab-b326f63757c1" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups"></iframe>
        </p>
        
      </section>

      <section id="tag2">
        <h2 class="revealfromtop">Pernicious anemia</h2>
        <h3 class="revealfromtop">Description of the disease</h3>
        <p class="reveal">
          Vitamin B12 is one of the essential vitamins due to its importance in metabolic effects: 
It acts as a cofactor in DNA synthesis, in both fatty acid and amino acid metabolism, plays a role in the synthesis of myelin, is essential for the nervous system, and is necessary for the maturation of red blood cells in the bone marrow contributing to the circulatory system
The main sources of vitamin B12 are animal-derived foods, pharmaceutical compounds used in intramuscular and intravenous injection, namely Hydroxocobalamin, and supplements in the form of cyanocobalamin. 
        </p>

        <figure class="reveal">
          <img src="https://static.igem.wiki/teams/4214/wiki/description/disease.png" class="img-fluid reveal" alt="B12 absorption pathway">
          <figcaption>
            <p><i style="font-weight:bold;">B12 absroption.</i><i> B12 absorption pathway</i></p>
          </figcaption>
        </figure>

        <h3 class="revealfromtop">Pernicious anemia</h3>
        <p class="reveal">
          Pernicious anemia (PA) <a href="#references">[1]</a> is an autoimmune condition that prevents your body from absorbing vitamin B12, which is one of the leading causes of vitamin B12 deficiency. An affected will have fewer red blood cells carrying oxygen throughout their body if they do not get enough vitamin B12. Pernicious anemia can be present for several years before a person with the disease may notice any changes in their body. Pernicious anemia, if left untreated, can lead to serious medical problems, including irreversible damage to your nervous system. Patients with PA are usually prescribed Vitamin B12 supplements to treat it.
        </p>

        <h3 class="revealfromtop">Prevalence of PA</h3>
        <p class="reveal">
          PA is widespread across all continents and the prevalence of the disease ranges from 0.1% in the general population and up to 2% in ages 60+ <a href="#references">[2]</a>, depending on the diagnostic criteria. However, PA prevalence is probably underestimated as a result of the complexity of the diagnosis. The mean age of patients with PA ranges from 59 to 62 years. PA is more common in people with African or European ancestry than in those with Asian ancestry. The highest prevalence is seen in northern Europeans, especially those in the UK and Scandinavian countries <a href="#references">[3]</a>.
        </p>

      </section>

      <section id="tag3">
        <h2 class="revealfromtop">Why pernicious anemia?</h2>
        <p class="reveal">
          When choosing a project topic, the team had a clear focus on medicine and diagnostics, as these were our main fields of interest. When we came across the condition of Pernicious Anemia, we were quickly captured by its relevance. Not only was pernicious anemia a severe disease, meaning we could potentially contribute to a tangible decrease in loss of life, but it also was especially locally relevant due to its prevalence in Scandinavia, as described above. This aspect not only made us more personally interested, but also seemed to be an interesting angle to use in fundraising.</p>
 
        <p class="reveal">Furthermore, we came across an article <a href="#references">[4]</a> that described the exact location of the epitope of the protein to which the autoantibodies bind. This paper became foundational to the project, as it became the basis of our plan for where we could modify the IF to avoid the autoimmune response, allowing us to treat the Pernicious Anemia. KTH has a history and arguable specialization on protein sciences when it comes to the field of synthetic biology. A protein design-based project such as this thus seemed especially favorable, since it would allow us to easily contact local experts and former professors for advice during later project phases.</p>

        <p class="reveal">Alongside the Big IF idea, we also developed several other ideas during the brainstorming phase. We pitched these ideas to a board of experts from both academia and industry. Their response was a nearly unanimous endorsement of the Big IF project idea over the others, based on it being realistically doable within the relatively short time scale and it being very practically useful, as opposed to just being novel.
        </p>
      </section>

      <section id="tag4">
        <h2 class="revealfromtop">Road map</h2>
        <p class="reveal">
          The roles played by the dry lab in our project were inevitable and diverse. Every great wet lab project has to pass a design phase where biological components like DNA and proteins have to be thought of.
        </p>

        <h3 class="revealfromtop">Protein desing</h3>
        <p class="reveal">
          To address the challenging task of protein design, we performed thorough modelling to select the best candidates to be tested in the lab. First, we designed our mutants based on the rationale of preserving structure as much as possible. This principle was chosen as the antibody binding region is in close proximity to the B12 binding region <a href="#references">[4]</a>. We aimed the mutagenesis to prevent intrinsic factor (IF) from binding to autoimmune antibodies while preserving ligand-receptor binding affinity.
        </p>

        <h3 class="revealfromtop">And what we made? (Mutant selection)</h3>
        <p class="reveal">
          To verify that designed mutants would preserve properties of the wild-type IF, protein structure predictions were performed <a href="#references">[5]</a>. This enabled us to refine the list of tested mutants by filtering out the ones with improperly folded structures.</p>

        <p class="reveal">As a final step of screening for candidates, we performed docking studies to ensure that the binding affinity of engineered protein to vitamin B12 is at least on par with the wild-type IF. Docking studies were performed in 2 steps, first making the prediction followed by the energy refinement step <a href="#references">[6]</a><a href="#references">[7]</a>.</p>

        <p class="reveal">As a result, we identified the most promising candidates to be tested in wet lab experiments. We found that most selected mutants have similar or better binding affinity to vitamin B12. Those results indicate that our pipeline is adequate and applicable to the research question.</p>

        <p class="reveal">Nevertheless, simulation results were pretty promising, we proceeded them to the wet lab to test for the proper folding and binding affinity of engineered IF with vitamin B12 in vitro as well as to establish a stable production system of engineered protein.
        </p>

        <figure class="reveal">
          <img src="https://static.igem.wiki/teams/4214/wiki/description/description.gif" class="img-fluid reveal" alt="Rotating structure of B12-IF complex">
          <figcaption>
            <p><i style="font-weight:bold;">Model.</i><i> Rotating structure of B12-IF complex</i></p>
          </figcaption>
        </figure>

        <h3 class="revealfromtop">Mutant creation</h3>
        <p class="reveal">
          Using primers for site-directed mutagenesis allowed by cloning vector assembly, mutations were inserted into the CBLIF gene (encoding IF protein), now a part of the plasmid, using a modified PCR program suitable for site-directed mutagenesis. In this step, we generated single-point mutants whereas subsequent mutations were added on top of the single-point IF mutants to sequentially achieve the desired double, triple and quadruple mutants.
        </p>

        <figure class="reveal">
          <img src="https://static.igem.wiki/teams/4214/wiki/description/chart1.png" class="img-fluid reveal" alt="Mutant generation machination">
          <figcaption>
            <p><i style="font-weight:bold;">Figure.</i><i> Mutant generation machination</i></p>
          </figcaption>
        </figure>


        <h3 class="revealfromtop">Hypothesis testing</h3>
        <p class="reveal">
          HEK 293 cells were transfected with the wild-type and mutant variants of IF and the binding of auto-antibodies was evaluated using Western Blot, Fluorescence Microscopy, and Flow Cytometry techniques. Those experiments enabled us to verify our initial hypothesis that site-directed mutagenesis targeting known auto-immune antibody epitopes would prevent mutant IF from triggering their response.
        </p>

        <figure class="reveal">
          <img align="middle" src="https://static.igem.wiki/teams/4214/wiki/description/chart2.png" style="max-height: 750px; margin: auto;" class="img-fluid reveal" alt="Binding testing strategy">
          <figcaption>
            <p><i style="font-weight:bold;">Figure.</i><i> Binding testing strategy</i></p>
          </figcaption>
        </figure>

        <h3 class="revealfromtop">Cherry on top</h3>
        <p class="reveal">
          In addition to extensive work both in dry and wet labs, we developed a simple tool that facilitates protein design based on mutagenesis. Our software called *** is a user-friendly web-based tool that would enable others to select protein candidates based on their requirements in how much to preserve the structure. *** also has direct access to the well-known protein structure prediction tool ColabFold. We utilized it for creating our pool of mutants for the docking studies and the downstream experiments.
        </p>

      </section>

      <section id="tag5">
        <h2 class="revealfromtop">Future prospects</h2>
        <p class="reveal">
          Once an effective variant of our engineered IF is found we would then continue with toxicology and efficacy studies, and assemble our IF with vitamin B12  in a pill as a medical product. We also plan to use bacterial strains instead of mammalian cells to further push down our costs of development and production. The idea behind this plan is to establish a novel drug development company with the settled template we created in our project to tackle problems in all autoimmune diseases in terms of improving treatment and diagnosis. 
With the results from our iGEM project, we would want to go ahead with much more detailed market research, while also furthering our research and bringing this product to fruition.
        </p>
      </section>

      <section id="references">
        <!-- REFERENCES !!! -->
        <h2 class="revealfromtop">References</h2>
          <div class="tabs reveal">
            <div class="tab">
              <input type="checkbox" id="chck1">
              <label class="tab-label" for="chck1">References</label>
              <div class="tab-content">
                <ol>
                  <li>
                    <p><!--authors here-->Cleveland Clinic<br>
                    <!--paper titles--><b style="font-weight: bold !important;">Pernicious Anemia</b><br>
                    <!-- journal's name--><i>Cleveland Clinic</i><br>
                    <!-- link to artile--><a href="https://my.clevelandclinic.org/health/diseases/22377-pernicious-anemia" target="_blank">Read it</a>
                    </p>
                  <hr>
                  </li>

                  <li>
                    <p><!--authors here-->Andres E, Serraj K<br>
                    <!--paper titles--><b style="font-weight: bold !important;"> Optimal management of pernicious anemia.</b><br>
                    <!-- journal's name--><i>J Blood Med.</i><br>
                    <!-- link to artile--><a href="https://doi.org/10.2147/JBM.S25620" target="_blank">https://doi.org/10.2147/JBM.S25620</a>
                    </p>
                  <hr>
                  </li>

                  <li>
                    <p>Todd Gersten, MD<br>
                    <b style="font-weight: bold !important;"> Pernicious anemia </b><br>
                    <i>MedlinePlus</I><br>
                    <a href="https://medlineplus.gov/ency/article/000569.htm" target="_blank">Read it</a>
                    </p>
                  <hr>
                  </li>
                  
                  <li>
                    <p>Guéant JL, Safi A, Aimone-Gastin I, Rabesona H, Bronowicki JP, Plénat F, Bigard MA, Haertlé T<br>
                    <b style="font-weight: bold !important;">Autoantibodies in pernicious anemia type I patients recognize sequence 251-256 in human intrinsic factor</b><br>
                    <i>Proc Assoc Am Physicians</I><br>
                    <a href="https://pubmed.ncbi.nlm.nih.gov/9285945/" target="_blank">PMID: 9285945</a>
                    </p>
                  <hr>
                  </li>

                  <li>
                    <p>Jumper, J., Evans, R., Pritzel, A. et al.<br>
                    <b style="font-weight: bold !important;">Highly accurate protein structure prediction with AlphaFold.</b><br>
                    <i>Nature</I><br>
                    <a href="https://doi.org/10.1038/s41586-021-03819-2" target="_blank">doi.org/10.1038/s41586-021-03819-2</a>
                    </p>
                    <hr>
                  </li>

                  <li>
                    <p>Trott O, Olson AJ.<br>
                    <b style="font-weight: bold !important;">AutoDock Vina: improving the speed and accuracy of docking with a new scoring function, efficient optimization, and multithreading.</b><br>
                    <i>Journal of computational chemistry.</I><br>
                    <a href="https://doi.org/10.1002/jcc.21334" target="_blank">doi.org/10.1002/jcc.21334 </a>
                    </p>
                    <hr>
                  </li>

                  <li>
                    <p>Durrant JD, McCammon JA.<br>
                    <b style="font-weight: bold !important;">NNScore 2.0: a neural-network receptor–ligand scoring function.</b><br>
                    <i>Journal of chemical information and modeling.</I><br>
                    <a href="https://doi.org/10.1021/ci2003889" target="_blank">https://doi.org/10.1021/ci2003889</a>
                    </p>
                  </li>

                </ol>
              </div>
            </div>  
          </div>
      </section>


      <section>
        <div class="box">
          <a href="{{ url_for('pages', page='index') }}" class="a_pages"><div class="reveal flashbox_pages"><p class="p_pages"><i class="fa fa-solid fa-arrow-left fa_pages"></i> Home</p></div></a>

          <a href="{{ url_for('pages', page='dry-lab') }}" class="a_pages"><div class="reveal flashbox_pages"><p class="p_pages">Dry lab <i class="fa fa-solid fa-arrow-right fa_pages"></i></p></div></a>
        </div>
      </section>
    </div>
  </div>
</div>
{% endblock %}
