{% extends "layout.html" %}

<!-- Header -->
{% block header %}
<header class="py-5 mb-5" id="header" style="background-image: linear-gradient(0deg, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%),url(https://static.igem.wiki/teams/4214/wiki/drylab/dry-lab.png);">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-12">
        <h1 class="display-4 text-white">Dry lab</h1>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block page_content %}

<!-- side bar -->
<div class="row mt-4">
  <div class="col-lg-3">
  <div class="side-bar sticky-top">
    <nav class="navigation">
      <ul class="nav-ul-sidebar">
        <li class="nav-ul-li-sidebar">
          <a class="nav-ul-li-a-sidebar" href="#tag1">Introduction</a>
          <a class="nav-ul-li-a-sidebar" href="#tag2">Wikipage</a>
        </li>
      </ul>
    </nav>
  </div>
  </div>
  <!-- END of sidebar -->

  <!-- Include chapters here -->
  <div class="col-lg-9">
    <div class="main-content">
    
      <section id="tag1">
        
        <div class="row mt-4">
            <div class="col-lg-4">
              <h2 class="revealfromtop center">Engineering</h2>

              <figure class="reveal">
                <img src="https://static.igem.wiki/teams/4214/wiki/engineering/engineering-cycle.png" style="height: 130px;" class="img-fluid reveal center" alt="Pie charts">
                <figcaption>
                  <!--<p><i style="font-weight:bold;">Figure.</i><i> Our five target groups</i></p>-->
                </figcaption>
              </figure>

              <p class="reveal">To achieve our goal of engineering a recombinant Intrinsic Factor (BiG-IF), mutants were designed based on the rationale of preserving structure as much as possible. They were further screened using different in silico modelling techniques to select ones to be tested in wet lab experiments. Corresponding primers for site-directed mutagenesis as well as plasmids for protein production were designed.</p>

              <div class="box_page reveal">
                <a href="{{ url_for('pages', page='engineering') }}" class="a_pages"><div class="reveal flashbox_pages"><p class="p_pages">Engineering</p></div></a>
              </div>
            </div>

            <div class="col-lg-4">
              <h2 class="revealfromtop center">Model</h2>

              <figure class="reveal">
                <img src="https://static.igem.wiki/teams/4214/wiki/model/model.gif" style="height: 130px;" class="img-fluid reveal center" alt="Pie charts">
                <figcaption>
                  <!--<p><i style="font-weight:bold;">Figure.</i><i> Our five target groups</i></p>-->
                </figcaption>
              </figure>

              <p class="reveal">No successful wet lab experiment can be performed without proper modelling. A multistep modelling pipeline was built to get insights into how desired mutations will affect the structure of IF and its binding properties with B12 and cubulin. Starting with protein structure predictions of all possible mutants to docking, molecular dynamics and immunogenicity studies, we used this rigorous approach to pick only the best out of the best ones.</p>

              <div class="box_page reveal">
                <a href="{{ url_for('pages', page='model') }}" class="a_pages"><div class="reveal flashbox_pages"><p class="p_pages">Model</p></div></a>
              </div>
            </div>

            <div class="col-lg-4">
              <h2 class="revealfromtop center">Software</h2>

              <figure class="reveal" style="height: 130px;">
                <img src="https://static.igem.wiki/teams/4214/wiki/home/soft-logo.png" class="img-fluid reveal center" alt="Pie charts">
                <figcaption>
                  <!--<p><i style="font-weight:bold;">Figure.</i><i> Our five target groups</i></p>-->
                </figcaption>
              </figure>

              <p class="reveal">Introducing ProMutor - Protein Mutant Generator, a user-friendly web tool for selecting potent mutants of your choice. Given a nucleotide or amino acid sequence, the tool suggests a list of mutants, scored based on epistatic relationships between amino acis as well as their conservation. It enables direct assessment of mutation effect on the protein. The tool also provides a direct access to tools for further protein mutants investigation.</p>

              <div class="box_page reveal">
                <a href="{{ url_for('pages', page='software') }}" class="a_pages"><div class="reveal flashbox_pages"><p class="p_pages">Software</p></div></a>
              </div>
            </div>
        </div>

      </section>

      <section id="tag2">
        <h2 class="revealfromtop">Wikipage</h2>
        <p class="reveal">Priority has been the user-friendly experience and accessibility of the information. Subpages organized in a logical order are accessible by using the menu with only 1 click or by reading the wikipage from start to end using the “previous/next” buttons at the bottom of every page. The side menu allows the user to navigate through the page or simply jump to a specific section of interest. The non-overwhelming organization of the references into a dropdown allows the most agreeable experience. "Inclusive and accessible" is the page's motto primarily achieved by the pleasant and sober font style, the color choice that allows colorblind people to detect shapes in both dark and light modes, particular font style and size make the wiki dyslexic-friendly and descriptive figure captions allow for screen-reader usage. The dynamic elements integrated successfully add life to the wikipage which keeps the user engaged!</p>
      </section>


      <section>
        <div class="box">
          <a href="{{ url_for('pages', page='engineering') }}" class="a_pages"><div class="reveal flashbox_pages"><p class="p_pages"><i class="fa fa-solid fa-arrow-left fa_pages"></i> Engineering</p></div></a>

          <a href="{{ url_for('pages', page='model') }}" class="a_pages"><div class="reveal flashbox_pages"><p class="p_pages">Model <i class="fa fa-solid fa-arrow-right fa_pages"></i></p></div></a>
        </div>
      </section>
    </div>
  </div>
</div>
{% endblock %}
