{% extends "layout.html" %}

<!-- Header -->
{% block header %}
<header class="py-5 mb-5" id="header" style="background-image: linear-gradient(0deg, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%),url(https://static.igem.wiki/teams/4214/wiki/picture.png)">  
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-12">
        <h1 class="display-4 text-white">Education & Communication</h1>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block page_content %}

<!-- side bar -->
<div class="row mt-4">
  <div class="col-lg-3">
    <div class="side-bar sticky-top">
      <nav class="navigation">
        <ul class="nav-ul-sidebar">
          <li class="nav-ul-li-sidebar">
            <a class="nav-ul-li-a-sidebar" href="#tag1">Introduction</a>
            <a class="nav-ul-li-a-sidebar" href="#tag2">LEGO game</a>
            <a class="nav-ul-li-a-sidebar" href="#tag3">Children's book</a>
            <a class="nav-ul-li-a-sidebar" href="#tag4">Level Up Collab</a>
            <a class="nav-ul-li-a-sidebar" href="#tag5">Rays visit</a>
            <a class="nav-ul-li-a-sidebar" href="#tag6">High school</a>
            <a class="nav-ul-li-a-sidebar" href="#tag7">ForskarFredag</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <!-- END of sidebar -->

  <!-- Include chapters here -->
  <div class="col-lg-9">
    <div class="main-content">

      <section id="tag1">
        <h2 class="revealfromtop">Introduction</h2>
        <p class="reveal">
          Extremely we promotion remainder eagerness enjoyment an. Ham her demands removal brought minuter raising invited gay. Contented consisted continual curiosity contained get sex. Forth child dried in in aware do. You had met they song how feel lain evil near. Small she avoid six yet table china. And bed make say been then dine mrs. To household rapturous fulfilled attempted on so.
        </p>
      </section>

      <section id="tag2">
        <h2 class="revealfromtop">LEGO game</h2>

            <p class="reveal">
              One of our main goals within education has been to make our school visits as interactive and as fun as possible. We decided to do this by letting children do what they like the most - play games. To make it easier for both teachers and us to explain basic principles of synthetic biology in an interesting and simple way, we created a LEGO game where students are supposed to modify organisms by making their own plasmids with the help of lego bricks.
            </p>

            <figure class="reveal">
              <img src="https://static.igem.wiki/teams/4214/wiki/education/tullinge-survey.png" class="img-fluid reveal" alt="inclusivity picture">
              <figcaption>
                <p><i style="font-weight:bold;">Figure.</i><i> Pie charts showing that 85.2% of the participants found the workshorp informative and 88.9% that the lego game made it easier to understand the concept of plasmids</i></p>
              </figcaption>
            </figure>
        <p></p>
      </section>

      <section id="tag3">
        <h2 class="revealfromtop">Children's book</h2>
        <p class="reveal">
          Vitamins are highly important to keep the body working properly. Our aim is to raise awareness about vitamins among children and to make them understand why vitamins are so important. One of the easiest ways to reach out to children is by illustrating and telling them a story. That is why we have written a children’s book, named “Stories from Albert’s market”. In this book, the function that all vitamins have in our body and their sources are described in a simple and interesting way to make sure that even the youngest one can understand it. The book was translated to Swedish and English and they were distributed around childcare centers, hospitals and school libraries in Stockholm. 
        </p>

        <div class="box_page">
          <a href="https://static.igem.wiki/teams/4214/wiki/education/book-version-4-english.pdf" target="_blank" class="a_pages"><div class="reveal flashbox_pages"><p class="p_pages">Book in English <i class="fa fa-solid fa-arrow-right fa_pages"></i></p></div></a>

          <a href="https://static.igem.wiki/teams/4214/wiki/education/book-version-4-swedish.pdf" target="_blank" class="a_pages"><div class="reveal flashbox_pages"><p class="p_pages">Book in Swedish <i class="fa fa-solid fa-arrow-right fa_pages"></i></p></div></a>
        </div>

      </section>

      <section id="tag4">
        <h2 class="revealfromtop">Level Up Collab</h2>
        <p class="reveal">
          Together with iGEM ULaval, iGEM Patras and iGEM Thessaloniki, we were a part of the Level Up collaboration - a science communication collaboration in synthetic biology. Main goal with this collaboration was to communicate synthetic biology and explain to different audiences how it can be used to create a more sustainable society. By creating four pamphlets that explain the concept of synthetic biology at four different levels of complexity we were able to target four groups of people. For more information visit the Collaboration page.</p>

        <p class="reveal">
To target general public and STEM students, we organized an iGEM day at three different university campuses in Stockholm on September 13th, where we distributed 600 pamphlets. During the distribution we also had the opportunity to have a dialogue with students about synthetic biology and its possibilities, but also talk about Pernicious Anemia and our project BIG-IF.</p>

        <p class="reveal">
Pamphlets for children were distributed during our elementary school visits. During European researchers night (ForskarFredag), we distributed pamphlets for the general public and teenagers. this part will be modified after the events when i know more about what happened, now i'm just guessing</p>

        <p class="reveal">
A total of … pamphlets were distributed around Stockholm. 
you will get a number after all school visits, and also some pictures 
        </p>

      </section>

      <section id="tag5">
        <h2 class="revealfromtop">Rays visit</h2>

        <p class="reveal">
          In late June, our human practices team organized a workshop about synthetic biology for high-school students in a summer science school named Rays. The workshop started with us introducing iGEM and synthetic biology by talking about common techniques we are using every day in our lab. But since we believe that the best way of learning synthetic biology is by practicing, we let the students do something hands-on.</p> 

        <p class="reveal">
First thing we did was to show them how to use a micropipette. We had a pipette-school where all students had to pipette 1000µL of water into a beaker and try to get as close as possible to 1g when weighed.</p>

        <p class="reveal">
After the pipette-school it was time to start with the main assignment. To let them get a taste of how it is to work with synthetic biology, they got the opportunity to practice PCR. All students got different BioBrick samples with different lengths to do a PCR on. The PCR samples were loaded on a gel by us and the day after students got assignment to interpret the results.</p> 

        <figure class="reveal">
          <img src="https://static.igem.wiki/teams/4214/wiki/education/feedback.png" class="img-fluid reveal" alt="inclusivity picture">
          <figcaption>
            <p><i style="font-weight:bold;">Title.</i><i> This is a figure caption.</i></p>
          </figcaption>
        </figure>

        <div class="container center reveal">
          <div id="carouselExampleIndicators4" class="carousel carousel-light slide" data-interval="false">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            </div>

            <div class="carousel-inner">
              <div class="carousel-item active">
                <img loading="lazy" src="https://static.igem.wiki/teams/4214/wiki/education/dsc00843.jpg" class="img-fluid"/>
              </div>
              <div class="carousel-item">
                <img loading="lazy" src="https://static.igem.wiki/teams/4214/wiki/education/dsc00840.jpg" class="img-fluid"/>
              </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators4" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators4" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>

      </section>

      <section id="tag6">
        <h2 class="revealfromtop">High school</h2>
        <p class="reveal">We also visited 35 students studying their third year science program in Tullinge Gymnasium, a high school in Stockholm. After getting feedback from students participating in Rays, we changed our workshop style according to their opinions for the next school visit. According to the students, the workshop could be improved by going into more details when explaining different techniques. We decided to therefore have a longer presentation with first explaining basics of biotechnology and synthetic biology, followed by more detailed explanation by going through different steps in our project. During the presentation we also let students answer questions to make it more interactive.</p>

        <p class="reveal">This time, instead of having lab work with students, we decided to after the presentation let them play with the LEGO game we developed and that way they got to learn more about plasmids and how to design these.</p>

        <p class="reveal">At the end we asked them to fill out an anonymous survey where we asked whether or not the workshop was informative and if the LEGO game made it easier to understand the concept of plasmids.</p>

        <figure class="reveal">
          <img src="https://static.igem.wiki/teams/4214/wiki/picture.png" class="img-fluid reveal" alt="inclusivity picture">
          <figcaption>
            <p><i style="font-weight:bold;">Title.</i><i> This is a figure caption.</i></p>
          </figcaption>
        </figure>

      </section>


      <section id="tag7">
        <h2 class="revealfromtop">ForskarFredag</h2>

        <div class="box_page">
          <div class="reveal flashbox"><p>4 target groups</p></div>
          <div class="reveal flashbox"><p>XX visits</p></div> 
          <div class="reveal flashbox"><p>XX people</p></div>
        </div>


        <p class="reveal">
          Extremely we promotion remainder eagerness enjoyment an. Ham her demands removal brought minuter raising invited gay. Contented consisted continual curiosity contained get sex. Forth child dried in in aware do. You had met they song how feel lain evil near. Small she avoid six yet table china. And bed make say been then dine mrs. To household rapturous fulfilled attempted on so.
        </p>

        <figure class="reveal">
          <img src="https://static.igem.wiki/teams/4214/wiki/picture.png" class="img-fluid reveal" alt="inclusivity picture">
          <figcaption>
            <p><i style="font-weight:bold;">Title.</i><i> This is a figure caption.</i></p>
          </figcaption>
        </figure>
        <p></p>
      </section>



      <section>
        <div class="box">
          <a href="{{ url_for('pages', page='human-practices') }}" class="a_pages"><div class="reveal flashbox_pages"><p class="p_pages"><i class="fa fa-solid fa-arrow-left fa_pages"></i> Human practices</p></div></a>

          <a href="{{ url_for('pages', page='inclusivity') }}" class="a_pages"><div class="reveal flashbox_pages"><p class="p_pages">Inclusivity <i class="fa fa-solid fa-arrow-right fa_pages"></i></p></div></a>
        </div>
      </section>
    </div>
  </div>
</div>
{% endblock %}
