{% extends "layout.html" %}

<!-- Header -->
{% block header %}
<header class="py-5 mb-5" id="header" style="background-image: url(https://static.igem.wiki/teams/4214/wiki/picture.png);">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12">
        <h1 class="display-4 text-white mt-5 mb-2">Education & Communication</h1>
        <p class="lead mb-5 text-white-50">Innovative educational tools and outreach activities have the ability to establish a two-way dialogue with new communities by discussing public values and the science behind synthetic biology.</p>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block page_content %}

<div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h4>Best Education Special Prize</h4>
      <p>How have you developed new opportunities to include more people in shaping synthetic biology? Innovative educational tools and outreach activities have the ability to establish a two-way dialogue with new communities by discussing public values and the science behind synthetic biology. Document your approach and what was learned by everyone involved to compete for this award.</p>
      <p>To compete for the Best Education Prize, please describe your work on this page  and also fill out the description on the <a href="https://competition.igem.org/deliverables/judging-form">judging form</a>.</p>
      <hr>
      <p>Please see the <a href="https://competition.igem.org/judging/awards">2022 Awards Page</a> for more information.</p>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col">
    <h2>Inspirations</h2>
    <hr>
    <ul>
      <li><a href="https://2020.igem.org/Team:CCA_San_Diego/Education">2020 CCA San Diego</a></li>
      <li><a href="https://2020.igem.org/Team:Lambert_GA/Education">2020 Lambert GA</a></li>
      <li><a href="https://2020.igem.org/Team:Stanford/Education">2020 Stanford</a></li>
      <li><a href="https://2020.igem.org/Team:Waseda/Education">2020 Waseda</a></li>
      <li><a href="https://2020.igem.org/Team:Fudan/Education">2020 Fudan</a></li>
      <li><a href="https://2020.igem.org/Team:Toulouse_INSA-UPS/Education">2020 Toulouse INSA UPS</a></li>
    </ul>
  </div>
</div>



<!-- !!!!!!REALLY STARTS HEEEEERRE !!!!! -->

<!-- test with side bar -->
<div class="row mt-4">
<div class="col-lg-3">
<div class="side-bar sticky-top">
  <nav class="navigation">
    <ul>
      <li>
        <a href="#tag1">Introduction</a>
        <a href="#tag2">LEGO game</a>
        <a href="#tag3">Children's book</a>
        <a href="#tag4">Comic (collab)</a>
        <a href="#tag5">Rays visit</a>
        <a href="#tag6">High school</a>
        <a href="#tag7">Elementary school</a>
        <a href="#tag8">ForskarFredag</a>


      </li>
    </ul>
  </nav>
</div>
</div>
<!-- END of sidebar -->

<!-- Include chapters here -->
<div class="col-lg-9">
<div class="main-content">

  <section id="tag1">
    <h2>Introduction</h2>

    <div class="row mt-4" style="justify-content: space-between;">
      <div class="col-1"></div>
      <div class="col-2" style="background-color: white; height: 100px; font-size: 20px; display: flex; align-items: center; justify-content: center;"><p style="max-width: 50%; text-align:center;">4 target groups</p></div>
      <div class="col-2"></div>
      <div class="col-2" style="background-color: white; height: 100px; font-size: 20px; display: flex; align-items: center; justify-content: center;"><p style="max-width: 50%; text-align:center;">XX visits</p></div> 
      <div class="col-2"></div>
      <div class="col-2" style="background-color: white; height: 100px; font-size: 20px; display: flex; align-items: center; justify-content: center;"><p style="max-width: 50%; text-align:center;">XX people</p></div>
      <div class="col-1"></div>
    </div>

    <p></p>
    <p>
      Extremely we promotion remainder eagerness enjoyment an. Ham her demands removal brought minuter raising invited gay. Contented consisted continual curiosity contained get sex. Forth child dried in in aware do. You had met they song how feel lain evil near. Small she avoid six yet table china. And bed make say been then dine mrs. To household rapturous fulfilled attempted on so.
      Among going manor who did. Do ye is celebrated it sympathize considered. May ecstatic did surprise elegance the ignorant age. Own her miss cold last. It so numerous if he outlived disposal. How but sons mrs lady when. Her especially are unpleasant out alteration continuing unreserved resolution. Hence hopes noisy may china fully and. Am it regard stairs branch thirty length afford.
      So insisted received is occasion advanced honoured. Among ready to which up. Attacks smiling and may out assured moments man nothing outward. Thrown any behind afford either the set depend one temper. Instrument melancholy in acceptance collecting frequently be if. Zealously now pronounce existence add you instantly say offending. Merry their far had widen was. Concerns no in expenses raillery formerly.
      Kept in sent gave feel will oh it we. Has pleasure procured men laughing shutters nay. Old insipidity motionless continuing law shy partiality. Depending acuteness dependent eat use dejection. Unpleasing astonished discovered not nor shy. Morning hearted now met yet beloved evening. Has and upon his last here must.
      Delightful remarkably mr on announcing themselves entreaties favourable. About to in so terms voice at. Equal an would is found seems of. The particular friendship one sufficient terminated frequently themselves. It more shed went up is roof if loud case. Delay music in lived noise an. Beyond genius really enough passed is up.
      Smallest directly families surprise honoured am an. Speaking replying mistress him numerous she returned feelings may day. Evening way luckily son exposed get general greatly. Zealously prevailed be arranging do. Set arranging too dejection september happiness. Understood instrument or do connection no appearance do invitation. Dried quick round it or order. Add past see west felt did any. Say out noise you taste merry plate you share. My resolve arrived is we chamber be removal.
    </p>
  </section>

  <section id="tag2">
    <h2>LEGO game</h2>
    <div class="row mt-4">
      <div class="col-lg-8">
        <p>
          Extremely we promotion remainder eagerness enjoyment an. Ham her demands removal brought minuter raising invited gay. Contented consisted continual curiosity contained get sex. Forth child dried in in aware do. You had met they song how feel lain evil near. Small she avoid six yet table china. And bed make say been then dine mrs. To household rapturous fulfilled attempted on so.
          Among going manor who did. Do ye is celebrated it sympathize considered. May ecstatic did surprise elegance the ignorant age. Own her miss cold last. It so numerous if he outlived disposal. How but sons mrs lady when. Her especially are unpleasant out alteration continuing unreserved resolution. Hence hopes noisy may china fully and. Am it regard stairs branch thirty length afford.
          So insisted received is occasion advanced honoured. Among ready to which up. Attacks smiling and may out assured moments man nothing outward. Thrown any behind afford either the set depend one temper. Instrument melancholy in acceptance collecting frequently be if. Zealously now pronounce existence add you instantly say offending. Merry their far had widen was. Concerns no in expenses raillery formerly.
          Kept in sent gave feel will oh it we. Has pleasure procured men laughing shutters nay. Old insipidity motionless continuing law shy partiality. Depending acuteness dependent eat use dejection. Unpleasing astonished discovered not nor shy. Morning hearted now met yet beloved evening. Has and upon his last here must.
          Delightful remarkably mr on announcing themselves entreaties favourable. About to in so terms voice at. Equal an would is found seems of. The particular friendship one sufficient terminated frequently themselves. It more shed went up is roof if loud case. Delay music in lived noise an. Beyond genius really enough passed is up.
          Smallest directly families surprise honoured am an. Speaking replying mistress him numerous she returned feelings may day. Evening way luckily son exposed get general greatly. Zealously prevailed be arranging do. Set arranging too dejection september happiness. Understood instrument or do connection no appearance do invitation. Dried quick round it or order. Add past see west felt did any. Say out noise you taste merry plate you share. My resolve arrived is we chamber be removal.
        </p>
      </div>
      <div class="col-lg-4">
          <img src="https://static.igem.wiki/teams/4214/wiki/lab1.jpg" class="img-fluid" alt="LEGO game picture">
      </div>
    </div>
    <img src="https://static.igem.wiki/teams/4214/wiki/picture.png" class="img-fluid" alt="inclusivity picture">
    <p></p>
  </section>

    <section id="tag3">
    <h2>Children's book</h2>
    <p>
      Extremely we promotion remainder eagerness enjoyment an. Ham her demands removal brought minuter raising invited gay. Contented consisted continual curiosity contained get sex. Forth child dried in in aware do. You had met they song how feel lain evil near. Small she avoid six yet table china. And bed make say been then dine mrs. To household rapturous fulfilled attempted on so.
      Among going manor who did. Do ye is celebrated it sympathize considered. May ecstatic did surprise elegance the ignorant age. Own her miss cold last. It so numerous if he outlived disposal. How but sons mrs lady when. Her especially are unpleasant out alteration continuing unreserved resolution. Hence hopes noisy may china fully and. Am it regard stairs branch thirty length afford.
      So insisted received is occasion advanced honoured. Among ready to which up. Attacks smiling and may out assured moments man nothing outward. Thrown any behind afford either the set depend one temper. Instrument melancholy in acceptance collecting frequently be if. Zealously now pronounce existence add you instantly say offending. Merry their far had widen was. Concerns no in expenses raillery formerly.
      Kept in sent gave feel will oh it we. Has pleasure procured men laughing shutters nay. Old insipidity motionless continuing law shy partiality. Depending acuteness dependent eat use dejection. Unpleasing astonished discovered not nor shy. Morning hearted now met yet beloved evening. Has and upon his last here must.
      Delightful remarkably mr on announcing themselves entreaties favourable. About to in so terms voice at. Equal an would is found seems of. The particular friendship one sufficient terminated frequently themselves. It more shed went up is roof if loud case. Delay music in lived noise an. Beyond genius really enough passed is up.
      Smallest directly families surprise honoured am an. Speaking replying mistress him numerous she returned feelings may day. Evening way luckily son exposed get general greatly. Zealously prevailed be arranging do. Set arranging too dejection september happiness. Understood instrument or do connection no appearance do invitation. Dried quick round it or order. Add past see west felt did any. Say out noise you taste merry plate you share. My resolve arrived is we chamber be removal.
    </p>

    <h3>Original version</h3>
    <div class="container center">
      <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 9"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="9" aria-label="Slide 10"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="10" aria-label="Slide 11"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="11" aria-label="Slide 12"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="12" aria-label="Slide 13"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="13" aria-label="Slide 14"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="14" aria-label="Slide 15"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="15" aria-label="Slide 16"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="16" aria-label="Slide 17"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="17" aria-label="Slide 18"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="18" aria-label="Slide 19"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="19" aria-label="Slide 20"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="20" aria-label="Slide 21"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="21" aria-label="Slide 22"></button>
        </div>

        <div class="carousel-inner">
          <div class="carousel-item active">
            <img loading="lazy" src="https://static.igem.wiki/teams/4214/wiki/education/book-english/page1.png" class="img-fluid img-thumbnail"/>
          </div>
          <div class="carousel-item">
            <img loading="lazy" src="https://static.igem.wiki/teams/4214/wiki/education/book-english/page2.png" class="img-fluid img-thumbnail"/>
          </div>
          <div class="carousel-item">
            <img loading="lazy" src="https://static.igem.wiki/teams/4214/wiki/education/book-english/page3.png" class="img-fluid img-thumbnail"/>
          </div>
          <div class="carousel-item">
            <img loading="lazy" src="https://static.igem.wiki/teams/4214/wiki/education/book-english/page4.png" class="img-fluid img-thumbnail"/>
          </div>
          <div class="carousel-item">
            <img loading="lazy" src="https://static.igem.wiki/teams/4214/wiki/education/book-english/page5.png" class="img-fluid img-thumbnail"/>
          </div>
          <div class="carousel-item">
            <img loading="lazy" src="https://static.igem.wiki/teams/4214/wiki/education/book-english/page6.png" class="img-fluid img-thumbnail"/>
          </div>
                    <div class="carousel-item">
            <img loading="lazy" src="https://static.igem.wiki/teams/4214/wiki/education/book-english/page7.png" class="img-fluid img-thumbnail"/>
          </div>
                    <div class="carousel-item">
            <img loading="lazy" src="https://static.igem.wiki/teams/4214/wiki/education/book-english/page8.png" class="img-fluid img-thumbnail"/>
          </div>
                    <div class="carousel-item">
            <img loading="lazy" src="https://static.igem.wiki/teams/4214/wiki/education/book-english/page9.png" class="img-fluid img-thumbnail"/>
          </div>
                    <div class="carousel-item">
            <img loading="lazy" src="https://static.igem.wiki/teams/4214/wiki/education/book-english/page10.png" class="img-fluid img-thumbnail"/>
          </div>
                    <div class="carousel-item">
            <img loading="lazy" src="https://static.igem.wiki/teams/4214/wiki/education/book-english/page11.png" class="img-fluid img-thumbnail"/>
          </div>
                    <div class="carousel-item">
            <img loading="lazy" src="https://static.igem.wiki/teams/4214/wiki/education/book-english/page12.png" class="img-fluid img-thumbnail"/>
          </div>
                    <div class="carousel-item">
            <img loading="lazy" src="https://static.igem.wiki/teams/4214/wiki/education/book-english/page13.png" class="img-fluid img-thumbnail"/>
          </div>
                    <div class="carousel-item">
            <img loading="lazy" src="https://static.igem.wiki/teams/4214/wiki/education/book-english/page14.png" class="img-fluid img-thumbnail"/>
          </div>
                    <div class="carousel-item">
            <img loading="lazy" src="https://static.igem.wiki/teams/4214/wiki/education/book-english/page15.png" class="img-fluid img-thumbnail"/>
          </div>
                    <div class="carousel-item">
            <img loading="lazy" src="https://static.igem.wiki/teams/4214/wiki/education/book-english/page16.png" class="img-fluid img-thumbnail"/>
          </div>
                    <div class="carousel-item">
            <img loading="lazy" src="https://static.igem.wiki/teams/4214/wiki/education/book-english/page17.png" class="img-fluid img-thumbnail"/>
          </div>
                    <div class="carousel-item">
            <img loading="lazy" src="https://static.igem.wiki/teams/4214/wiki/education/book-english/page18.png" class="img-fluid img-thumbnail"/>
          </div>
                    <div class="carousel-item">
            <img loading="lazy" src="https://static.igem.wiki/teams/4214/wiki/education/book-english/page19.png" class="img-fluid img-thumbnail"/>
          </div>
                    <div class="carousel-item">
            <img loading="lazy" src="https://static.igem.wiki/teams/4214/wiki/education/book-english/page20.png" class="img-fluid img-thumbnail"/>
          </div>
                    <div class="carousel-item">
            <img loading="lazy" src="https://static.igem.wiki/teams/4214/wiki/education/book-english/page21.png" class="img-fluid img-thumbnail"/>
          </div>
                    <div class="carousel-item">
            <img loading="lazy" src="https://static.igem.wiki/teams/4214/wiki/education/book-english/page22.png" class="img-fluid img-thumbnail"/>
          </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <p></p>
      <p></p>
    </div>

   <h3>Colorblind version</h3>
    <div class="container center">
      <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 9"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="9" aria-label="Slide 10"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="10" aria-label="Slide 11"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="11" aria-label="Slide 12"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="12" aria-label="Slide 13"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="13" aria-label="Slide 14"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="14" aria-label="Slide 15"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="15" aria-label="Slide 16"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="16" aria-label="Slide 17"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="17" aria-label="Slide 18"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="18" aria-label="Slide 19"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="19" aria-label="Slide 20"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="20" aria-label="Slide 21"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="21" aria-label="Slide 22"></button>
        </div>

        <div class="carousel-inner">
          <div class="carousel-item active">
            <img loading="lazy" src="https://static.igem.wiki/teams/4214/wiki/education/book-english/page1.png" class="img-fluid img-thumbnail"/>
          </div>
          <div class="carousel-item">
            <img loading="lazy" src="https://static.igem.wiki/teams/4214/wiki/education/book-english/page2.png" class="img-fluid img-thumbnail"/>
          </div>
          <div class="carousel-item">
            <img loading="lazy" src="https://static.igem.wiki/teams/4214/wiki/education/book-english/page3.png" class="img-fluid img-thumbnail"/>
          </div>
          <div class="carousel-item">
            <img loading="lazy" src="https://static.igem.wiki/teams/4214/wiki/education/book-english/page4.png" class="img-fluid img-thumbnail"/>
          </div>
          <div class="carousel-item">
            <img loading="lazy" src="https://static.igem.wiki/teams/4214/wiki/education/book-english/page5.png" class="img-fluid img-thumbnail"/>
          </div>
          <div class="carousel-item">
            <img loading="lazy" src="https://static.igem.wiki/teams/4214/wiki/education/book-english/page6.png" class="img-fluid img-thumbnail"/>
          </div>
                    <div class="carousel-item">
            <img loading="lazy" src="https://static.igem.wiki/teams/4214/wiki/education/book-english/page7.png" class="img-fluid img-thumbnail"/>
          </div>
                    <div class="carousel-item">
            <img loading="lazy" src="https://static.igem.wiki/teams/4214/wiki/education/book-english/page8.png" class="img-fluid img-thumbnail"/>
          </div>
                    <div class="carousel-item">
            <img loading="lazy" src="https://static.igem.wiki/teams/4214/wiki/education/book-english/page9.png" class="img-fluid img-thumbnail"/>
          </div>
                    <div class="carousel-item">
            <img loading="lazy" src="https://static.igem.wiki/teams/4214/wiki/education/book-english/page10.png" class="img-fluid img-thumbnail"/>
          </div>
                    <div class="carousel-item">
            <img loading="lazy" src="https://static.igem.wiki/teams/4214/wiki/education/book-english/page11.png" class="img-fluid img-thumbnail"/>
          </div>
                    <div class="carousel-item">
            <img loading="lazy" src="https://static.igem.wiki/teams/4214/wiki/education/book-english/page12.png" class="img-fluid img-thumbnail"/>
          </div>
                    <div class="carousel-item">
            <img loading="lazy" src="https://static.igem.wiki/teams/4214/wiki/education/book-english/page13.png" class="img-fluid img-thumbnail"/>
          </div>
                    <div class="carousel-item">
            <img loading="lazy" src="https://static.igem.wiki/teams/4214/wiki/education/book-english/page14.png" class="img-fluid img-thumbnail"/>
          </div>
                    <div class="carousel-item">
            <img loading="lazy" src="https://static.igem.wiki/teams/4214/wiki/education/book-english/page15.png" class="img-fluid img-thumbnail"/>
          </div>
                    <div class="carousel-item">
            <img loading="lazy" src="https://static.igem.wiki/teams/4214/wiki/education/book-english/page16.png" class="img-fluid img-thumbnail"/>
          </div>
                    <div class="carousel-item">
            <img loading="lazy" src="https://static.igem.wiki/teams/4214/wiki/education/book-english/page17.png" class="img-fluid img-thumbnail"/>
          </div>
                    <div class="carousel-item">
            <img loading="lazy" src="https://static.igem.wiki/teams/4214/wiki/education/book-english/page18.png" class="img-fluid img-thumbnail"/>
          </div>
                    <div class="carousel-item">
            <img loading="lazy" src="https://static.igem.wiki/teams/4214/wiki/education/book-english/page19.png" class="img-fluid img-thumbnail"/>
          </div>
                    <div class="carousel-item">
            <img loading="lazy" src="https://static.igem.wiki/teams/4214/wiki/education/book-english/page20.png" class="img-fluid img-thumbnail"/>
          </div>
                    <div class="carousel-item">
            <img loading="lazy" src="https://static.igem.wiki/teams/4214/wiki/education/book-english/page21.png" class="img-fluid img-thumbnail"/>
          </div>
                    <div class="carousel-item">
            <img loading="lazy" src="https://static.igem.wiki/teams/4214/wiki/education/book-english/page22.png" class="img-fluid img-thumbnail"/>
          </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <p></p>
      <p></p>
    </div>


  </section>

    <section id="tag4">
    <h2>Commic (collab)</h2>
    <p>
      Extremely we promotion remainder eagerness enjoyment an. Ham her demands removal brought minuter raising invited gay. Contented consisted continual curiosity contained get sex. Forth child dried in in aware do. You had met they song how feel lain evil near. Small she avoid six yet table china. And bed make say been then dine mrs. To household rapturous fulfilled attempted on so.
      Among going manor who did. Do ye is celebrated it sympathize considered. May ecstatic did surprise elegance the ignorant age. Own her miss cold last. It so numerous if he outlived disposal. How but sons mrs lady when. Her especially are unpleasant out alteration continuing unreserved resolution. Hence hopes noisy may china fully and. Am it regard stairs branch thirty length afford.
      So insisted received is occasion advanced honoured. Among ready to which up. Attacks smiling and may out assured moments man nothing outward. Thrown any behind afford either the set depend one temper. Instrument melancholy in acceptance collecting frequently be if. Zealously now pronounce existence add you instantly say offending. Merry their far had widen was. Concerns no in expenses raillery formerly.
      Kept in sent gave feel will oh it we. Has pleasure procured men laughing shutters nay. Old insipidity motionless continuing law shy partiality. Depending acuteness dependent eat use dejection. Unpleasing astonished discovered not nor shy. Morning hearted now met yet beloved evening. Has and upon his last here must.
      Delightful remarkably mr on announcing themselves entreaties favourable. About to in so terms voice at. Equal an would is found seems of. The particular friendship one sufficient terminated frequently themselves. It more shed went up is roof if loud case. Delay music in lived noise an. Beyond genius really enough passed is up.
      Smallest directly families surprise honoured am an. Speaking replying mistress him numerous she returned feelings may day. Evening way luckily son exposed get general greatly. Zealously prevailed be arranging do. Set arranging too dejection september happiness. Understood instrument or do connection no appearance do invitation. Dried quick round it or order. Add past see west felt did any. Say out noise you taste merry plate you share. My resolve arrived is we chamber be removal.
    </p>
  </section>

    <section id="tag5">
    <h2>Rays visit</h2>

    <div class="row mt-4" style="justify-content: space-between;">
      <div class="col-1"></div>
      <div class="col-2" style="background-color: white; height: 100px; font-size: 20px; display: flex; align-items: center; justify-content: center;"><p style="max-width: 50%; text-align:center;">XX visitors</p></div>
      <div class="col-2"></div>
      <div class="col-2" style="background-color: white; height: 100px; font-size: 20px; display: flex; align-items: center; justify-content: center;"><p style="max-width: 50%; text-align:center;">Poll icon1</p></div> 
      <div class="col-2"></div>
      <div class="col-2" style="background-color: white; height: 100px; font-size: 20px; display: flex; align-items: center; justify-content: center;"><p style="max-width: 50%; text-align:center;">Poll icon2</p></div>
      <div class="col-1"></div>
    </div>
    <p></p>
    <p>
      Extremely we promotion remainder eagerness enjoyment an. Ham her demands removal brought minuter raising invited gay. Contented consisted continual curiosity contained get sex. Forth child dried in in aware do. You had met they song how feel lain evil near. Small she avoid six yet table china. And bed make say been then dine mrs. To household rapturous fulfilled attempted on so.
      Among going manor who did. Do ye is celebrated it sympathize considered. May ecstatic did surprise elegance the ignorant age. Own her miss cold last. It so numerous if he outlived disposal. How but sons mrs lady when. Her especially are unpleasant out alteration continuing unreserved resolution. Hence hopes noisy may china fully and. Am it regard stairs branch thirty length afford.
      So insisted received is occasion advanced honoured. Among ready to which up. Attacks smiling and may out assured moments man nothing outward. Thrown any behind afford either the set depend one temper. Instrument melancholy in acceptance collecting frequently be if. Zealously now pronounce existence add you instantly say offending. Merry their far had widen was. Concerns no in expenses raillery formerly.
      Kept in sent gave feel will oh it we. Has pleasure procured men laughing shutters nay. Old insipidity motionless continuing law shy partiality. Depending acuteness dependent eat use dejection. Unpleasing astonished discovered not nor shy. Morning hearted now met yet beloved evening. Has and upon his last here must.
      Delightful remarkably mr on announcing themselves entreaties favourable. About to in so terms voice at. Equal an would is found seems of. The particular friendship one sufficient terminated frequently themselves. It more shed went up is roof if loud case. Delay music in lived noise an. Beyond genius really enough passed is up.
      Smallest directly families surprise honoured am an. Speaking replying mistress him numerous she returned feelings may day. Evening way luckily son exposed get general greatly. Zealously prevailed be arranging do. Set arranging too dejection september happiness. Understood instrument or do connection no appearance do invitation. Dried quick round it or order. Add past see west felt did any. Say out noise you taste merry plate you share. My resolve arrived is we chamber be removal.
    </p>
    <img src="https://static.igem.wiki/teams/4214/wiki/picture.png" class="img-fluid" alt="inclusivity picture">
    <p></p>
  </section>

      <section id="tag6">
    <h2>High school</h2>

    <div class="row mt-4" style="justify-content: space-between;">
      <div class="col-1"></div>
      <div class="col-2" style="background-color: white; height: 100px; font-size: 20px; display: flex; align-items: center; justify-content: center;"><p style="max-width: 50%; text-align:center;">XX visitors</p></div>
      <div class="col-2"></div>
      <div class="col-2" style="background-color: white; height: 100px; font-size: 20px; display: flex; align-items: center; justify-content: center;"><p style="max-width: 50%; text-align:center;">Poll icon1</p></div> 
      <div class="col-2"></div>
      <div class="col-2" style="background-color: white; height: 100px; font-size: 20px; display: flex; align-items: center; justify-content: center;"><p style="max-width: 50%; text-align:center;">Poll icon2</p></div>
      <div class="col-1"></div>
    </div>
    <p></p>
    <p>
      Extremely we promotion remainder eagerness enjoyment an. Ham her demands removal brought minuter raising invited gay. Contented consisted continual curiosity contained get sex. Forth child dried in in aware do. You had met they song how feel lain evil near. Small she avoid six yet table china. And bed make say been then dine mrs. To household rapturous fulfilled attempted on so.
      Among going manor who did. Do ye is celebrated it sympathize considered. May ecstatic did surprise elegance the ignorant age. Own her miss cold last. It so numerous if he outlived disposal. How but sons mrs lady when. Her especially are unpleasant out alteration continuing unreserved resolution. Hence hopes noisy may china fully and. Am it regard stairs branch thirty length afford.
      So insisted received is occasion advanced honoured. Among ready to which up. Attacks smiling and may out assured moments man nothing outward. Thrown any behind afford either the set depend one temper. Instrument melancholy in acceptance collecting frequently be if. Zealously now pronounce existence add you instantly say offending. Merry their far had widen was. Concerns no in expenses raillery formerly.
      Kept in sent gave feel will oh it we. Has pleasure procured men laughing shutters nay. Old insipidity motionless continuing law shy partiality. Depending acuteness dependent eat use dejection. Unpleasing astonished discovered not nor shy. Morning hearted now met yet beloved evening. Has and upon his last here must.
      Delightful remarkably mr on announcing themselves entreaties favourable. About to in so terms voice at. Equal an would is found seems of. The particular friendship one sufficient terminated frequently themselves. It more shed went up is roof if loud case. Delay music in lived noise an. Beyond genius really enough passed is up.
      Smallest directly families surprise honoured am an. Speaking replying mistress him numerous she returned feelings may day. Evening way luckily son exposed get general greatly. Zealously prevailed be arranging do. Set arranging too dejection september happiness. Understood instrument or do connection no appearance do invitation. Dried quick round it or order. Add past see west felt did any. Say out noise you taste merry plate you share. My resolve arrived is we chamber be removal.
    </p>
    <p></p>
    <img src="https://static.igem.wiki/teams/4214/wiki/picture.png" class="img-fluid" alt="inclusivity picture">
    <p></p>
  </section>

      <section id="tag7">
    <h2>Elementary school</h2>

    <div class="row mt-4" style="justify-content: space-between;">
      <div class="col-1"></div>
      <div class="col-2" style="background-color: white; height: 100px; font-size: 20px; display: flex; align-items: center; justify-content: center;"><p style="max-width: 50%; text-align:center;">XX visitors</p></div>
      <div class="col-2"></div>
      <div class="col-2" style="background-color: white; height: 100px; font-size: 20px; display: flex; align-items: center; justify-content: center;"><p style="max-width: 50%; text-align:center;">Poll icon1</p></div> 
      <div class="col-2"></div>
      <div class="col-2" style="background-color: white; height: 100px; font-size: 20px; display: flex; align-items: center; justify-content: center;"><p style="max-width: 50%; text-align:center;">Poll icon2</p></div>
      <div class="col-1"></div>
    </div>
    <p></p>

    <p>
      Extremely we promotion remainder eagerness enjoyment an. Ham her demands removal brought minuter raising invited gay. Contented consisted continual curiosity contained get sex. Forth child dried in in aware do. You had met they song how feel lain evil near. Small she avoid six yet table china. And bed make say been then dine mrs. To household rapturous fulfilled attempted on so.
      Among going manor who did. Do ye is celebrated it sympathize considered. May ecstatic did surprise elegance the ignorant age. Own her miss cold last. It so numerous if he outlived disposal. How but sons mrs lady when. Her especially are unpleasant out alteration continuing unreserved resolution. Hence hopes noisy may china fully and. Am it regard stairs branch thirty length afford.
      So insisted received is occasion advanced honoured. Among ready to which up. Attacks smiling and may out assured moments man nothing outward. Thrown any behind afford either the set depend one temper. Instrument melancholy in acceptance collecting frequently be if. Zealously now pronounce existence add you instantly say offending. Merry their far had widen was. Concerns no in expenses raillery formerly.
      Kept in sent gave feel will oh it we. Has pleasure procured men laughing shutters nay. Old insipidity motionless continuing law shy partiality. Depending acuteness dependent eat use dejection. Unpleasing astonished discovered not nor shy. Morning hearted now met yet beloved evening. Has and upon his last here must.
      Delightful remarkably mr on announcing themselves entreaties favourable. About to in so terms voice at. Equal an would is found seems of. The particular friendship one sufficient terminated frequently themselves. It more shed went up is roof if loud case. Delay music in lived noise an. Beyond genius really enough passed is up.
      Smallest directly families surprise honoured am an. Speaking replying mistress him numerous she returned feelings may day. Evening way luckily son exposed get general greatly. Zealously prevailed be arranging do. Set arranging too dejection september happiness. Understood instrument or do connection no appearance do invitation. Dried quick round it or order. Add past see west felt did any. Say out noise you taste merry plate you share. My resolve arrived is we chamber be removal.
    </p>
    <p></p>
    <img src="https://static.igem.wiki/teams/4214/wiki/picture.png" class="img-fluid" alt="inclusivity picture">
    <p></p>
  </section>

      <section id="tag8">
    <h2>ForskarFredag</h2>

    <div class="row mt-4" style="justify-content: space-between;">
      <div class="col-1"></div>
      <div class="col-2" style="background-color: white; height: 100px; font-size: 20px; display: flex; align-items: center; justify-content: center;"><p style="max-width: 50%; text-align:center;">XX visitors</p></div>
      <div class="col-2"></div>
      <div class="col-2" style="background-color: white; height: 100px; font-size: 20px; display: flex; align-items: center; justify-content: center;"><p style="max-width: 50%; text-align:center;">Poll icon1</p></div> 
      <div class="col-2"></div>
      <div class="col-2" style="background-color: white; height: 100px; font-size: 20px; display: flex; align-items: center; justify-content: center;"><p style="max-width: 50%; text-align:center;">Poll icon2</p></div>
      <div class="col-1"></div>
    </div>
    <p></p>

    <p>
      Extremely we promotion remainder eagerness enjoyment an. Ham her demands removal brought minuter raising invited gay. Contented consisted continual curiosity contained get sex. Forth child dried in in aware do. You had met they song how feel lain evil near. Small she avoid six yet table china. And bed make say been then dine mrs. To household rapturous fulfilled attempted on so.
      Among going manor who did. Do ye is celebrated it sympathize considered. May ecstatic did surprise elegance the ignorant age. Own her miss cold last. It so numerous if he outlived disposal. How but sons mrs lady when. Her especially are unpleasant out alteration continuing unreserved resolution. Hence hopes noisy may china fully and. Am it regard stairs branch thirty length afford.
      So insisted received is occasion advanced honoured. Among ready to which up. Attacks smiling and may out assured moments man nothing outward. Thrown any behind afford either the set depend one temper. Instrument melancholy in acceptance collecting frequently be if. Zealously now pronounce existence add you instantly say offending. Merry their far had widen was. Concerns no in expenses raillery formerly.
      Kept in sent gave feel will oh it we. Has pleasure procured men laughing shutters nay. Old insipidity motionless continuing law shy partiality. Depending acuteness dependent eat use dejection. Unpleasing astonished discovered not nor shy. Morning hearted now met yet beloved evening. Has and upon his last here must.
      Delightful remarkably mr on announcing themselves entreaties favourable. About to in so terms voice at. Equal an would is found seems of. The particular friendship one sufficient terminated frequently themselves. It more shed went up is roof if loud case. Delay music in lived noise an. Beyond genius really enough passed is up.
      Smallest directly families surprise honoured am an. Speaking replying mistress him numerous she returned feelings may day. Evening way luckily son exposed get general greatly. Zealously prevailed be arranging do. Set arranging too dejection september happiness. Understood instrument or do connection no appearance do invitation. Dried quick round it or order. Add past see west felt did any. Say out noise you taste merry plate you share. My resolve arrived is we chamber be removal.
    </p>
    <p></p>
    <img src="https://static.igem.wiki/teams/4214/wiki/picture.png" class="img-fluid" alt="inclusivity picture">
    <p></p>
  </section>
</div>
</div>
</div>


{% endblock %}
