{% extends "layout.html" %}

<!-- Header -->
{% block header %}
<header class="py-5 mb-5" id="header" style="background-image: linear-gradient(0deg, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%),url(https://static.igem.wiki/teams/4214/wiki/picture.png);">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-12">
        <h1 class="display-4 text-white">Entrepreneurship</h1>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block page_content %}

<div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h4>Best Supporting Entrepreneurship Special Prize</h4>
      <p>The Best Supporting Entrepreneurship award recognizes exceptional effort to build a business case and commercialize an iGEM project. This award is open to all teams to show that entrepreneurship is something all teams can aspire to do with their project. This award can go to an new project, or to a previous project that a team aimed to commercialize. Have you filed a provisional patent on your project/device/process? Have you raised money to build and ship products? Have you pitched your idea to investors and received money? As always in iGEM, the aim is to impress the judges!</p>
      <p>To compete for the Best Supporting Entrepreneurship prize, please describe your work on this page and also fill out the description on the <a href="https://competition.igem.org/deliverables/judging-form">judging form</a>.</p>
      <hr>
      <p>Please see the <a href="https://competition.igem.org/judging/awards">2022 Awards Page</a> for more information.</p>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-lg-8">
    <h2>Patents and intellectual property</h2>
    <hr>
    <p>If your team is seriously considering commercializing and looking into building a company after the competition, you may want to look at how you are going to protect your work and secure investment. Investors will usually require some form of intellectual protection, so you may want to investigate how to apply for a patent or provisional patent in your country and region before disclosing your project at iGEM. Remember that you can only be evaluated in iGEM based on what you share on your wiki and at the Jamboree, so any work you don't present can't count towards your project.</p>
    <p>This is an area where we are different as we care about sharing, openness and contributing to the community and investors don't always agree with these values. It is up to you and your team to decide what to do. Remember that most universities have a commercialization department and that you can talk to them before coming to a decision.</p>
  </div>
  <div class="col-lg-4">
    <h2>Inspirations</h2>
    <hr>
    <ul>
      <li><a href="https://2019.igem.org/Team:UCopenhagen/Entrepreneurship">2019 UCopenhagen</a></li>
      <li><a href="https://2019.igem.org/Team:Thessaly/Entrepreneurship">2019 Thessaly</a></li>
      <li><a href="https://2019.igem.org/Team:NCKU_Tainan/Entrepreneurship">2019 NCKU Tainan</a></li>
      <li><a href="https://2020.igem.org/Team:TAS_Taipei/Entrepreneurship">2020 TAS Taipei</a></li>
      <li><a href="https://2020.igem.org/Team:KCL_UK/Entrepreneurship">2020 KCL UK</a></li>
      <li><a href="https://2020.igem.org/Team:Calgary/Entrepreneurship">2020 Calgary</a></li>
    </ul>
  </div>
</div>




<!-- test with side bar -->
<div class="row mt-4">
  <div class="col-lg-3">
    <div class="side-bar sticky-top">
      <nav class="navigation">
        <ul>
          <li>
            <a href="#tag1">Phase 1: Research</a>
              <a href="tag1_1" class="light_sidebar">Project development</a>
                <a href="tag1_1_1" class="light2_sidebar">Brainstorming</a>
                <a href="tag1_1_2" class="light2_sidebar">Market analysis</a>
                <a href="tag1_1_3" class="light2_sidebar">Cost analysis</a>
                <a href="tag1_1_4" class="light2_sidebar">Stakeholders analysis</a>
                <a href="tag1_1_5" class="light2_sidebar">Panel discussion</a>
              <a href="tag1_2" class="light_sidebar">Feedback from stakeholders and experts</a>
                <a href="tag1_2_1" class="light2_sidebar">KI innovation</a>
                <a href="tag1_2_2" class="light2_sidebar">Karolinska development</a>
                <a href="tag1_2_3" class="light2_sidebar">KTH innovation</a>
                <a href="tag1_2_4" class="light2_sidebar">Doctors</a>

            <a href="#tag2">Phase 2: Application</a>
              <a href="tag2_1" class="light_sidebar">Regulations</a>
                <a href="tag2_1_1" class="light2_sidebar">EMA</a>
                <a href="tag2_1_2" class="light2_sidebar">FDA</a>
                <a href="tag2_1_3" class="light2_sidebar">Bioethics</a>
              <a href="tag2_2" class="light_sidebar">Stakeholders</a>
                <a href="tag2_2_1" class="light2_sidebar">Consult company</a>

            <a href="#tag3">Phase 3: Future plan</a>
              <a href="tag3_1" class="light_sidebar">Drug versus supplement</a>
              <a href="tag3_2" class="light_sidebar">Our solution as template</a>
              <a href="tag3_3" class="light_sidebar">Scale-up plan: protein production</a>

            <a href="#tag4">Business plan</a>
              <a href="tag4_1" class="light_sidebar">SWOT analysis</a>



          </li>
        </ul>
      </nav>
    </div>
  </div>
<!-- END of sidebar -->

  <!-- Include chapters here -->
  <div class="col-lg-9">
    <div class="main-content">

      <section id="tag1">
        <h2 class="revealfromtop">Phase 1: Initial research</h2>
            <p class="reveal">
              Extremely we promotion remainder eagerness enjoyment an. Ham her demands removal brought minuter raising invited gay. Contented consisted continual curiosity contained get sex. Forth child dried in in aware do. You had met they song how feel lain evil near. Small she avoid six yet table china. And bed make say been then dine mrs. To household rapturous fulfilled attempted on so.
              Among going manor who did. Do ye is celebrated it sympathize considered. May ecstatic did surprise elegance the ignorant age. Own her miss cold last. It so numerous if he outlived disposal. How but sons mrs lady when. Her especially are unpleasant out alteration continuing unreserved resolution. Hence hopes noisy may china fully and. Am it regard stairs branch thirty length afford.
            </p>
      </section>

      <section id="tag2">
        <h2 class="revealfromtop">Phase 2: Proof of concept</h2>
            <p class="reveal">
              Extremely we promotion remainder eagerness enjoyment an. Ham her demands removal brought minuter raising invited gay. Contented consisted continual curiosity contained get sex. Forth child dried in in aware do. You had met they song how feel lain evil near. Small she avoid six yet table china. And bed make say been then dine mrs. To household rapturous fulfilled attempted on so.
              Among going manor who did. Do ye is celebrated it sympathize considered. May ecstatic did surprise elegance the ignorant age. Own her miss cold last. It so numerous if he outlived disposal. How but sons mrs lady when. Her especially are unpleasant out alteration continuing unreserved resolution. Hence hopes noisy may china fully and. Am it regard stairs branch thirty length afford.
            </p>
      </section>


      <section id="references">
        <!-- REFERENCES !!! -->
        <h2 class="revealfromtop">References</h2>
          <div class="tabs reveal">
            <div class="tab">
              <input type="checkbox" id="chck1">
              <label class="tab-label" for="chck1">References</label>
              <div class="tab-content">
                <ol>
                  <li>
                    <p><!--authors here-->Authors<br>
                    <!--paper titles--><b style="font-weight: bold !important;">Title</b><br>
                    <!-- journal's name--><i>Journal's name</i><br>
                    <!-- link to artile--><a href="#" target="_blank">A link</a>
                    </p>
                  <hr>
                  </li>

                  <li>
                    <p><!--authors here-->Authors<br>
                    <!--paper titles--><b style="font-weight: bold !important;">Title</b><br>
                    <!-- journal's name--><i>Journal's name</i><br>
                    <!-- link to artile--><a href="#" target="_blank">A link</a>
                    </p>
                  <hr>
                  </li>
                  
                  <li>
                    <p><!--authors here-->Authors<br>
                    <!--paper titles--><b style="font-weight: bold !important;">Title</b><br>
                    <!-- journal's name--><i>Journal's name</i><br>
                    <!-- link to artile--><a href="#" target="_blank">A link</a>
                    </p>
                  <hr>
                  </li>

                </ol>
              </div>
            </div>  
          </div>
      </section>


      <section>
        <div class="box">
          <a href="{{ url_for('pages', page='collaborations') }}" class="a_pages"><div class="reveal flashbox_pages"><p class="p_pages"><i class="fa fa-solid fa-arrow-left fa_pages"></i> Collaborations</p></div></a>

          <a href="{{ url_for('pages', page='contribution') }}" class="a_pages"><div class="reveal flashbox_pages"><p class="p_pages">Contribution <i class="fa fa-solid fa-arrow-right fa_pages"></i></p></div></a>
        </div>
      </section>
    </div>
  </div>
</div>
{% endblock %}
