{% extends "layout.html" %}

<!-- Header -->
{% block header %}
<header class="py-5 mb-5" id="header" style="background-image: linear-gradient(0deg, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%),url(https://static.igem.wiki/teams/4214/wiki/implementation/header-from-unsplash.jpg);">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-12">
        <h1 class="display-4 text-white">Proposed Implementation</h1>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block page_content %}

<!-- side bar -->
<div class="row mt-4">
  <div class="col-lg-3">
    <div class="side-bar sticky-top">
      <nav class="navigation">
        <ul>
          <li>
            <a href="#tag1">The timeline</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
<!-- END of sidebar -->

  <!-- Include chapters here -->
  <div class="col-lg-9">
    <div class="main-content">

      <section id="tag1">
        <h2 class="revealfromtop">The timeline</h2>
    
        <div class="timeline">

          <div class="container-timeline left revealfromleft">
            <div class="content-timeline">
              <h2>Trials</h2>
              <p>Currently what we have done is selected particular mutant variants, based on literature, cloned them into a display capable, commercially available plasmid and inserted the mutations using site directed mutagenesis through E.coli. These were transfected into HEK293 cells to look at expression, colocalization, followed by a panel of antibody based validation studies. Paralelly, modeling and immunogenicity studies in silico were attempted. We choose these steps since we want to make sure we have a method for developing proteins that evade autoantibodies and later can be produced in E.coli. The in silico studies helped us understand what happens thermodynamically and structurally, as well as predicting immune response. 
</p>
            </div>
          </div>

          <div class="container-timeline right revealfromright">
            <div class="content-timeline">
              <h2>Manufacturing</h2>
              <p>In order to implement our therapeutic protein for combatting pernicious anemia we would have to scale up what we have done so far. This would firstly need more engineering cycles, until the results are significant and exceed expectations! Furthermore we would need to check our results with additional validation methods with more controls, more variants, more antibodies and so on. To scale up, we would take the pipeline we have developed and parallelize the procedures and speed them up to whatever extent possible without compromising on the quality of the work. This would be done for continued development of BIG IF, and possibly other protein therapeutics using the same pipeline. 
</p>
            </div>
          </div>

          <div class="container-timeline left revealfromleft">
            <div class="content-timeline">
              <h2>Challenges</h2>
              <p>In order for our idea to reach and benefit the consumer we would have to design the product as a therapeutic drug. It can’t be sold as a supplement since it is intended to treat a disease <a href="#references">[1]</a>. This means that it has to be approved by the FDA and EMEA in order to reach consumers. 
</p>
            </div>
          </div>

          <div class="container-timeline right revealfromright">
            <div class="content-timeline">
              <h2>MVP</h2>
              <p>
Pharmacological studies will give us answers around catabolism - involving important considerations like pharmacodynamics and pharmacokinetics, binding capacity, patient factors such as genetics and overall health, solubility, and uptake <a href="#references">[2]</a>. They are an important part of the preclinical studies. It is also important to consider potential side effects and possible interactions with other drugs. For the preclinical work the toxicity has to be assessed in vivo and in vitro, in cell and animal model organisms. Depending on the results from the preclinical studies the therapeutic could move on to clinical studies <a href="#references">[3]</a>.
</p>
            </div>
          </div>

          <div class="container-timeline left revealfromleft">
            <div class="content-timeline">
              <h2>End users and finished product</h2>
              <p>For the phase I clinical studies the dosage and safety is assessed on a small cohort of normal and healthy humans. This will green light phase II - for determining potential side effects, as well as efficacy. In the second phase, the trial lasts longer and involves more participants with the disease. The third and fourth phase trials have the same purpose as the second phase trial but go one for longer or involve more participants. Finally there is a drug review where the data is analyzed and assessed, weighing harms and benefits for the therapeutic <a href="#references">[4]</a>.
</p>
            </div>
          </div>

          <div class="container-timeline right revealfromright">
            <div class="content-timeline">
              <h2>???</h2>
              <p>
To produce our modified intrinsic factor we plan to use E.coli and engineer it into a cell factory. The cells would be grown in a bioreactor under optimal conditions. Then the therapeutic would be induced, harvested, separated, purified, suspended in a suitable medium and delivered to the drug production facility. The proteins would then be checked to make sure the structure is intact and then packed into pills or another suitable method for delivery. 
</p>
            </div>
          </div>

          <div class="container-timeline left revealfromleft">
            <div class="content-timeline">
              <h2>Some challenges and some unanswered questions to address</h2>
              <h3>Engineering</h3>
              <p>
                <i class="fa fa-solid fa-check"></i> Are the mutations successful in producing an Human Gastric Intrinsic Factor that can serve the intended purpose?<br>
                <i class="fa fa-solid fa-check"></i> How reliably can the protein be expressed on the cell surface?<br>
                <i class="fa fa-solid fa-check"></i> How reliable are the antibody based validation assays for confirming the evasion of auto-antibodies?<br>
                <i class="fa fa-solid fa-check"></i> Will the engineered protein be able to treat all patients with different genotypes and corresponding phenotypes?<br>
              </p>

              <h3>Production</h3>
              <p>
                <i class="fa fa-solid fa-check"></i> How reliable is the E. coli as a cell factory to produce our proteins for therapeutic use?<br>
                <i class="fa fa-solid fa-check"></i> Optimizing large scale production.<br>
              </p>

              <h3>Efficacy and Economics</h3>
              <p>
                <i class="fa fa-solid fa-check"></i> Does it have better efficacy with improved clinical outcomes for patients compared with traditional remedies?<br>
                <i class="fa fa-solid fa-check"></i> How cost effective is this approach than other treatments?<br>
              </p>
            </div>
          </div>

          <div class="container-timeline right revealfromright">
            <div class="content-timeline">
              <h2>???</h2>
              <p>
Now we have reached our consumers - people with pernicious anemia! Ideally they would be able to take a pill which releases our modified intrinsic factor in the stomach where B12 would be taken up at a higher rate than previously. The upscaling and an optimized production would make the treatment reasonably cost effective and accessible to people all around the globe making pernicious anemia a more manageable condition to live with! 
</p>
            </div>
          </div>


        </div>
      </section>


      <section id="references">
        <!-- REFERENCES !!! -->
        <h2 class="revealfromtop">References</h2>
          <div class="tabs reveal">
            <div class="tab">
              <input type="checkbox" id="chck1">
              <label class="tab-label" for="chck1">References</label>
              <div class="tab-content">
                <ol>
                  <li>
                    <p><!--authors here-->American Addiction Centers Editorial Staff<br>
                    <!--paper titles--><b style="font-weight: bold !important;">Drugs vs. Supplements: What’s the Difference?</b><br>
                    <!-- journal's name--><i>American Addiction Centers</i><br>
                    <!-- link to artile--><a href="https://drugabuse.com/blog/drugs-vs-supplements-whats-the-difference/" target="_blank">Read the article</a>
                    </p>
                  <hr>
                  </li>

                  <li>
                    <p><!--authors here-->Roche<br>
                    <!--paper titles--><b style="font-weight: bold !important;">What is a clinical trial and how does a trial work?</b><br>
                    <!-- journal's name--><i>Roche</i><br>
                    <!-- link to artile--><a href="https://www.roche.com/innovation/process/clinical-trials/about#b74e294d-1765-419e-8b38-96aaa88d62fa" target="_blank">Read the article</a>
                    </p>
                  <hr>
                  </li>
                  
                  <li>
                    <p><!--authors here-->U.S. Food & Drug Administration<br>
                    <!--paper titles--><b style="font-weight: bold !important;">Step 1: Discovery and Development</b><br>
                    <!-- journal's name--><i>The Drug Development Process</i><br>
                    <!-- link to artile--><a href="https://www.fda.gov/patients/drug-development-process/step-1-discovery-and-development" target="_blank">Read the article</a>
                    </p>
                  <hr>
                  </li>

                  <li>
                    <p><!--authors here-->U.S. Food & Drug Administration<br>
                    <!--paper titles--><b style="font-weight: bold !important;">Step 4: FDA Drug Review</b><br>
                    <!-- journal's name--><i>The Drug Development Process</i><br>
                    <!-- link to artile--><a href="https://www.fda.gov/patients/drug-development-process/step-4-fda-drug-review" target="_blank">Read the article</a>
                    </p>
                  </li>

                </ol>
              </div>
            </div>  
          </div>
      </section>


      <section>
        <div class="box">
          <a href="{{ url_for('pages', page='proof-of-concept') }}" class="a_pages"><div class="reveal flashbox_pages"><p class="p_pages"><i class="fa fa-solid fa-arrow-left fa_pages"></i> Proof of concept</p></div></a>

          <a href="{{ url_for('pages', page='safety') }}" class="a_pages"><div class="reveal flashbox_pages"><p class="p_pages">Safety <i class="fa fa-solid fa-arrow-right fa_pages"></i></p></div></a>
        </div>
      </section>
    </div>
  </div>
</div>
{% endblock %}
