{% extends "layout.html" %}

<!-- Header -->
{% block header %}
<header class="py-5 mb-5" id="header" style="background-image: linear-gradient(0deg, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%),url(https://static.igem.wiki/teams/4214/wiki/inclusivity/header-inclusivity.jpg);">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-12">
        <h1 class="display-4 text-white">Diversity and Inclusion</h1>
      </div>
    </div>
  </div>
</header>
{% endblock %} 

{% block page_content %}

<!-- side bar -->
<div class="row mt-4">
  <div class="col-lg-3">
    <div class="side-bar sticky-top">
      <nav class="navigation">
        <ul>
          <li>
            <a href="#tag1">Accessibility</a>
            <a href="#tag2">Project idea</a>
            <a href="#tag3">Promotional video</a>
            <a href="#tag4">SynBio Dictionary</a>
            <a href="#tag5">Human practices</a>
            <a href="#references">References</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
<!-- END of sidebar -->

  <!-- Include chapters here -->
  <div class="col-lg-9">
    <div class="main-content">

      <section id="tag1">
        <h2 class="revealfromtop">Accessibility</h2>
        <p class="reveal">
In order to increase the accessibility of the iGEM Stockholm 2022 Wiki for differently abled individuals, a variety of considerations were made. To make the web page more dyslexia friendly, several of the guidelines described by the British Dyslexia Association were followed. This includes the use of Arial (at a relatively large font size of 18 px), which is a recommended sans serif font, in which letters appear less crowded. To further increase readability, an increased inter-letter spacing was used. Furthermore, the option of using a lightmode background was influenced by it being more dyslexia friendly. <a href="#references">[1]</a></p> 

        <p class="reveal">
Care was taken to include literal text descriptions of all pictures and figures on the wiki, wherever possible. Such descriptions allow image contents to be accessible with text-to-speech programs, making the site more user friendly for the visually impaired, as per recommendations by the American Foundation for the Blind. <a href="#references">[2]</a> Following a similar rationale, our media team created their illustrations (such as logos and informative figures) with the intent of being as legible as possible with red-green colorblindness.</p>  

        <p class="reveal">
Outside of the wiki, our accessibility efforts extended into the wet lab. Namely, wheelchair friendly lab practices were implemented. This included the use of a useful height adjustable lab bench, and storage of everyday lab materials such as pipette tips, microcentrifuge tubes and buffers/media in reachable areas (as opposed to high cupboards etc). Such adaptations may seem simple, but were found to be personally very helpful to the wheelchair user in our team.
        </p>

        <figure class="reveal">
          <img src="https://static.igem.wiki/teams/4214/wiki/inclusivity/accessibility.jpg" class="img-fluid reveal" alt="inclusivity picture">
          <figcaption>
            <p><i style="font-weight:bold;">Picture</i><i> Group photo of our team wearing lab coats and goggles.</i></p>
          </figcaption>
        </figure>

      </section>



      <section id="tag2">
        <h2 class="revealfromtop">Project idea</h2>
        <p class="reveal">
          With our project BIG-IF, we have been focusing on Pernicious Anemia, an autoimmune disease that’s affecting a lot of people around the world. By designing a pill containing a recombinant intrinsic factor together with vitamin B12, we want to tackle this problem and make life a bit easier for all people suffering from its symptoms. Even though our main project is about expressing the protein in mammalian cells, to make the product as cheap as possible and thus also available to as many people as possible, we are at the same time trying to produce it in bacterial cells.
        </p>


        <figure class="reveal">
          <img src="https://static.igem.wiki/teams/4214/wiki/inclusivity/home-screen.gif" class="img-fluid reveal" alt="inclusivity picture">
          <figcaption>
            <p><i style="font-weight:bold;">Gif</i><i> IF slam dunking B12.</i></p>
          </figcaption>
        </figure>

        
      </section>



      <section id="tag3">
        <h2 class="revealfromtop">Promotional video</h2>

        <p class="reveal">
        One of many words which describes our team the best is “diverse”. Besides uniting students from 4 different universities, all of us have different backgrounds of study programs, working experiences and origins. Especially due to the latter – as well as friends and family - we were able to translate the script of our promotional video from English into 14 different languages and to provide 11 different voice-overs.</p>

        <p class="reveal">
Our aim was to inform the general public about the problem we are tackling and about our solution in the most understandable way possible. Therefore, we chose to use animation to visualize the processes within the body and describe the different mechanisms in different languages to reach out to as many people as possible.</p>

        <p class="reveal">
You have probably seen our promotional video in English already but have you checked out if it is also available in your native language? Here, you can select your language and watch the video with the voice of one of our team members:
        </p>

        <div class="row reveal">
          <div class="col form-floating">
            <form id="form1" method="post">
                <label class="label-dropdown" for="floatingSelect">Choose a language:</label>
                <select class="form-select" id="language" onchange="setIframeSource()">
                  <option value="https://video.igem.org/videos/embed/d7e36b34-c2eb-4da5-a0ab-b326f63757c1">English</option>
                  <option value="https://video.igem.org/videos/embed/6f992379-cec2-4b97-95b4-1cb7621d51ad">Swedish</option><hr>
                  <option value="https://video.igem.org/videos/embed/6e1e3cba-9221-40f3-af5a-212846e0a559">Bosnian</option> 
                  <option value="https://video.igem.org/videos/embed/cd51dfe9-f05f-4e7d-87e5-4baace6566e9">Chinese</option> 
                  <option value="https://video.igem.org/videos/embed/430f7f9a-7c2f-4cd6-9587-bbc8d2c60532">Finnish</option>
                  <option value="https://video.igem.org/videos/embed/b7133958-8bf6-4836-83b0-088f286dbec3">French</option> 
                  <option value="https://video.igem.org/videos/embed/af4a5a01-06c9-4a9b-b579-107416f79198">German</option> 
                  <option value="https://video.igem.org/videos/embed/a0d70754-68d1-4fc2-aa2f-9ced247c1fe4">Greek</option> 
                  <option value="https://video.igem.org/videos/embed/6cf173f8-ea07-4636-a90b-a318eada5769">Hindi</option> 
                  <option value="https://video.igem.org/videos/embed/e26601ca-9968-4907-8c5a-bed1719d2b10">Russian</option> 
                  <option value="https://video.igem.org/videos/embed/94cf2588-b9fb-40d0-ab9b-7ec2b20096b2">Tamil</option> 
              </select>
            </form>
          </div>
          <div class="col-md-9"></div>
        </div>
        
        <p></p>

        <p align="center" class="reveal"><iframe id="myPromovideo" title="Stockholm: BIG IF? Big-Yes!!! (2022) - Project Promotion [English]" width="700" height="400" src="https://video.igem.org/videos/embed/d7e36b34-c2eb-4da5-a0ab-b326f63757c1" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups"></iframe>
        </p>
        
      </section>

      <section id="tag4">
        <h2 class="revealfromtop">SynBio Dictionary</h2>
        <p class="reveal">
          When the iGEM team from Lund approached us with this idea it was impossible to say no to it! Together with the team from Lund in Sweden, Paris-Saclay in France and many more, we created a dictionary with terms from the world of traditional biology, genetic engineering as well as synthetic biology. With that, we want to approach people without any science background and support them in understanding the world of iGEM. It should ease the introduction to all of the projects and also raise their curiosity about biological science.</p>

        <p class="reveal">
If you became curious about this project how about having a look at our collaboration page for more information?
        </p>

        <!-- Dictionnary!!! -->
        <div class="box">
          <a href="#" class="a_pages"><div class="reveal flashbox_pages"><p class="p_pages">Dictionnary <i class="fa fa-solid fa-arrow-right fa_pages"></i></p></div></a>
        </div>

        <p></p>

        <figure class="reveal">
          <img src="https://static.igem.wiki/teams/4214/wiki/inclusivity/sic.jpeg" class="img-fluid reveal" alt="inclusivity picture">
          <figcaption>
            <p><i style="font-weight:bold;">Picture.</i><i> Group photo of us and other iGEM teams during the event SIC</i></p>
          </figcaption>
        </figure>

      </section>




      <section id="tag5">
        <h2 class="revealfromtop">Human practices</h2>

        <p class="reveal">
          To improve the project and meet the needs of society it has been important for us to get feedback from both experts in the field and the general public. During our work within human practices and outreach we have therefore been including different age groups and professions. Apart from having a close contact with researchers and doctors, we have also tried to include government authorities and politicians in the improvement of our project and product development.</p> 

        <p class="reveal">
Our main goal within outreach and education was to introduce synthetic biology to as many people as possible, in the easiest way possible. By making a LEGO game, writing a book, organizing workshops in schools, and also being a part of Level Up Collaboration and ForskarFredag, our team succeeded in targeting five age groups: children 1-5 years old, children in elementary school, high schoolers, university students and adults. 
        </p>

        <figure class="reveal">
          <img src="https://static.igem.wiki/teams/4214/wiki/human-practices/dsc00903.jpg" class="img-fluid reveal" alt="inclusivity picture">
          <figcaption>
            <p><i style="font-weight:bold;">Title.</i><i> This is a figure caption.</i></p>
          </figcaption>
        </figure>

        <div class="box">
          <a href="{{ url_for('pages', page='human-practices') }}" class="a_pages"><div class="reveal flashbox_pages"><p class="p_pages">Human practices <i class="fa fa-solid fa-arrow-right fa_pages"></i></p></div></a>
        </div>

      </section>


      <section id="references">
        <!-- REFERENCES !!! -->
        <h2 class="revealfromtop">References</h2>
          <div class="tabs reveal">
            <div class="tab">
              <input type="checkbox" id="chck1">
              <label class="tab-label" for="chck1">References</label>
              <div class="tab-content">
                <ol>
                  <li>
                    <p><!--authors here-->British Dyslexia Association<br>
                    <!--paper titles--><b style="font-weight: bold !important;">Dyslexia friendly style guide</b><br>
                    <!-- journal's name--><i>Creating a dyslexia friendly workplace</i><br>
                    <!-- link to artile--><a href="Creating a dyslexia friendly workplace" target="_blank">Read it</a>
                    </p>
                  <hr>
                  </li>

                  <li>
                    <p><!--authors here-->American Foundation for the Blind<br>
                    <!--paper titles--><b style="font-weight: bold !important;">AFB Accessibility Resources</b><br>
                    <!-- journal's name--><i>American Foundation for the Blind</i><br>
                    <!-- link to artile--><a href="https://www.afb.org/consulting/afb-accessibility-resources/improving-your-web-site" target="_blank">Read it</a>
                    </p>
                  </li>
                  
                </ol>
              </div>
            </div>  
          </div>
      </section>


      <section>
        <div class="box">
          <a href="{{ url_for('pages', page='education') }}" class="a_pages"><div class="reveal flashbox_pages"><p class="p_pages"><i class="fa fa-solid fa-arrow-left fa_pages"></i> Education&communication</p></div></a>

          <a href="{{ url_for('pages', page='index') }}" class="a_pages"><div class="reveal flashbox_pages"><p class="p_pages">Home <i class="fa fa-solid fa-arrow-right fa_pages"></i></p></div></a>
        </div>
      </section>
    </div>
  </div>
</div>
{% endblock %}
