{% extends "layout.html" %}

{% block page_content %}

  <!-- BIG-IF pill-->
  <figure>
    <img src="https://static.igem.wiki/teams/4214/wiki/home/dropdown.gif" class="img-fluid" alt="Rotating structure of B12-IF complex">
    <figcaption>
      <!--<p><i style="font-weight:bold;">Model.</i><i> Rotating structure of B12-IF complex</i></p>-->
    </figcaption>
  </figure>

  <div><video autoplay="autoplay" playsinline="playsinline" muted="muted" loop="loop" src="https://gitlab.igem.org/2022/stockholm/-/blob/main/videos/homepage_3.mov" poster="https://static.igem.wiki/teams/4214/wiki/drylab/drylab-header.png"></video></div>

<!--- empty chuck --->
      <div style="height:250px;background-color:bg-dark;font-size:30px">
      </div>

<!--- text --->
      <div style="height:250px;background-color:bg-dark;font-size:30px">
      About 2 % of the population in Scandinavia suffer from an autoimmune response which targets a protein called "intrinsic factor" (IF). Normally, the    protein binds to vitamin B12 and receptors in teh intestines enabling the uptake of the vitamin. The binding of antibodies to the IF, however, changes the conformation of the protein which results in reduced B12 uptake. This can lead to a vitamin B12 deficiency so called Biemer's disease or pernicious anaemia. 
      </div>

      <figure>
        <img src="https://static.igem.wiki/teams/4214/wiki/home/antibody2.gif" class="img-fluid reveal" alt="Rotating structure of B12-IF complex">
        <figcaption>
          <!--<p><i style="font-weight:bold;">Model.</i><i> Rotating structure of B12-IF complex</i></p>-->
        </figcaption>
      </figure>


        <!--- ROW 1 --->
      <div class="row mt-4 reveal">
        <div class="col-lg-7">
            <div style="height:300px;background-color:bg-dark;font-size:30px">
            Binding of these antibodies to IF, changes the conformation of the protein, resulting in reduced B12 uptake. This leads to a state of deficiency in people with the current treatment being vitamin supplements.
            </div>
        </div>

        <div class="col-lg-5">
            <figure>
              <img src="https://static.igem.wiki/teams/4214/wiki/home/homepage-1.gif" class="img-fluid reveal" alt="Rotating structure of B12-IF complex">
              <figcaption>
                <!--<p><i style="font-weight:bold;">Model.</i><i> Rotating structure of B12-IF complex</i></p>-->
              </figcaption>
            </figure>
        </div>
      </div>


        <!--- ROW 2 --->
      <div class="row mt-4 reveal">
        <div class="col-lg-5">
            <figure>
              <img src="https://static.igem.wiki/teams/4214/wiki/home/homepage-1.gif" class="img-fluid reveal" alt="Rotating structure of B12-IF complex">
              <figcaption>
                <!--<p><i style="font-weight:bold;">Model.</i><i> Rotating structure of B12-IF complex</i></p>-->
              </figcaption>
            </figure>
        </div>
        <div class="col-lg-7">
            <div style="height:300px;background-color:bg-dark;font-size:30px">
            Binding of these antibodies to IF, changes the conformation of the protein, resulting in reduced B12 uptake. This leads to a state of deficiency in people with the current treatment being vitamin supplements.
            </div>
        </div>
      </div>


        <!--- ROW 3 --->
            <div style="height:300px;background-color:bg-dark;font-size:30px">
            In order to tackle this disease, we have developed a new treatment plan based on an improved version of IF, to which the antibodies cannot bind. This was done through a method called site-directed mutagenesis, to mask the binding site of the antibody on the IF.
            </div>


        <!--- ROW 4 --->
            <div style="height:300px;background-color:bg-dark;font-size:30px">
This new and improved IF can then be delivered through a pill and survive in the body of patients, who’s native IF has been inactivated. This way, it restores the body’s ability to take up vitamin B12.
            </div>


        <!--- ROW 5 --->
      <div class="row mt-4 reveal">
        <div class="col-lg-6">
            <figure>
              <img src="https://static.igem.wiki/teams/4214/wiki/home/homepage-3.gif" class="img-fluid reveal" alt="Rotating structure of B12-IF complex">
              <figcaption>
                <!--<p><i style="font-weight:bold;">Model.</i><i> Rotating structure of B12-IF complex</i></p>-->
              </figcaption>
            </figure>
        </div>

        <div class="col-lg-6">

          <div style="height:100px;background-color:bg-dark;font-size:30px">
          We used our amazing software PROMUTOR for generating every possible candidate variants of IF by mutating the amino acid(s) on a binding site (a technique called site-directed mutagenesis). Aside from our project, PROMUTOR can also create mutants for any other occasions when the sequence and the mutation sites are given by the user.
          </div>

            <figure>
              <img src="https://static.igem.wiki/teams/4214/wiki/home/soft-logo.png" class="img-fluid reveal" style="max-heigh: 200px" alt="Rotating structure of B12-IF complex">
            <figcaption>
              <!--<p><i style="font-weight:bold;">Model.</i><i> Rotating structure of B12-IF complex</i></p>-->
            </figcaption>
          </figure>
        </div>
      </div>

  <section>
    <div class="box">
      <a href="{{ url_for('pages', page='description') }}" class="a_pages"><div class="reveal flashbox_pages"><p class="p_pages">Project <i class="fa fa-solid fa-arrow-right fa_pages"></i></p></div></a>

      <a href="{{ url_for('pages', page='team') }}" class="a_pages"><div class="reveal flashbox_pages"><p class="p_pages">People <i class="fa fa-solid fa-arrow-right fa_pages"></i></p></div></a>

      <a href="{{ url_for('pages', page='contribution') }}" class="a_pages"><div class="reveal flashbox_pages"><p class="p_pages">Human practices <i class="fa fa-solid fa-arrow-right fa_pages"></i></p></div></a>
    </div>
  </section>



{% endblock %}
