{% extends "layout.html" %}

{% block page_content %}

  <!-- BIG-IF pill-->
  <!--<figure>-->
    <!--<img src="https://static.igem.wiki/teams/4214/wiki/home/dropdown.gif" class="img-fluid" alt="Rotating structure of B12-IF complex">-->
    <!--<figcaption>-->
      <!--<p><i style="font-weight:bold;">Model.</i><i> Rotating structure of B12-IF complex</i></p>-->
    <!--</figcaption>-->
  <!--</figure>-->

  <div><video width="1200" height="800" class="center" autoplay="autoplay" playsinline="playsinline" muted="muted" src="https://gitlab.igem.org/2022/stockholm/-/raw/main/videos/dropdown.webm" poster=""></video></div>

      <!--- empty chuck --->
      <div style="height:150px;"></div>


      <!--- ROW 1 : text 1 + mean Ab--->
      <div class="row mt-4 reveal">

        <div class="col-lg-6">
            <p style="font-size:30px">Gastric Intrinsic Factor (IF) is a protein found in our gut that binds to vitamin B12 available in the intestines enabling the absorption of the vitamin. About 2% of the Scandinavian population suffer from a condition called Pernicious Anaemia, where the immune system produces antibodies targeting the IF.</p>
        </div>

        <div class="col-lg-6">
          <!--<figure>-->
            <!--<img src="https://static.igem.wiki/teams/4214/wiki/home/antibody2.gif" class="img-fluid reveal" alt="Rotating structure of B12-IF complex">-->
            <!--<figcaption>-->
              <!--<p><i style="font-weight:bold;">Model.</i><i> Rotating structure of B12-IF complex</i></p>-->
            <!--</figcaption>-->
          <!--</figure>-->
          <div><video width="600" height="400" class="center" autoplay="autoplay" playsinline="playsinline" muted="muted" src="https://gitlab.igem.org/2022/stockholm/-/raw/main/videos/antibody.webm" poster=""></video></div>
        </div>
      </div>
      <!--- empty chuck --->
      <div style="height:150px;"></div>



      <!--- ROW 2 : gif + text 2--->
      <div class="row mt-4 reveal">

        <div class="col-lg-6">
          <!--<figure>-->
            <!--<img src="https://static.igem.wiki/teams/4214/wiki/home/antibody2.gif" class="img-fluid reveal" alt="Rotating structure of B12-IF complex">-->
            <!--<figcaption>-->
              <!--<p><i style="font-weight:bold;">Model.</i><i> Rotating structure of B12-IF complex</i></p>-->
            <!--</figcaption>-->
          <!--</figure>-->
          <div><video width="600" height="400" class="center" autoplay="autoplay" playsinline="playsinline" muted="muted" src="https://gitlab.igem.org/2022/stockholm/-/raw/main/videos/antibody.webm" poster=""></video></div>
        </div>
        <div class="col-lg-6">
            <p style="font-size:30px">Binding of these antibodies to IF, changes the conformation of the protein, resulting in reduced B12 uptake. This leads to a state of deficiency in people with the current treatment being vitamin supplements.</p>
        </div>
      </div>
      <!--- empty chuck --->
      <div style="height:150px;"></div>



      <!--- ROW 3 : text 3 + gif point epitope--->
      <div class="row mt-4 reveal">

        <div class="col-lg-6">
            <p style="font-size:30px">In order to tackle this disease, we have developed a new treatment plan based on an improved version of IF, to which the antibodies cannot bind. This was done through a method called site-directed mutagenesis, changing the surface of the protein and therefore masking the binding site of the antibody on the IF.</p>
        </div>

        <div class="col-lg-6">
          <!--<figure>-->
           <video width="600" height="400" class="center" autoplay="autoplay" playsinline="playsinline" muted="muted" src="https://gitlab.igem.org/2022/stockholm/-/raw/main/videos/proteinzoom.webm" poster=""></video>
            <!--<figcaption>-->
              <!--<p><i style="font-weight:bold;">Model.</i><i> Rotating structure of B12-IF complex</i></p>-->
            <!--</figcaption>-->
           <!--</figure>-->
        </div>
      </div>

      <!--- 2% --->
      <div  style="height:150px; background-color: #326789; width: 120% !important; margin-left: -10% !important; margin-right: 10% !important;"><p style="font-size:30px" class="center">2%</p></div>




      <!--- ROW 4 : gif + text 4--->
      <div class="row mt-4 reveal">

        <div class="col-lg-6">
          <video width="600" height="400" class="center" autoplay="autoplay" playsinline="playsinline" muted="muted" loop="loop" src="https://gitlab.igem.org/2022/stockholm/-/raw/main/videos/homepage_3.webm" poster=""></video>
        </div>
        <div class="col-lg-6">
            <p style="font-size:30px">This new and improved IF can then be delivered through a pill and survive in the body of patients, who’s native IF has been inactivated. This way, it restores the body’s ability to take up vitamin B12.</p>
        </div>
      </div>
      <!--- empty chuck --->
      <div style="height:90px;"></div>



      <!--- ROW 5 : text 5 + soft logo--->
      <div class="row mt-4 reveal">

        <div class="col-lg-6">
            <p style="font-size:30px">We used our amazing software ProMutor for generating every possible candidate variants of IF by mutating the amino acid(s) on the binding site. Aside from our project, this user-friendly software can also create mutants for any other occasions when the sequence and the mutation sites are given by the user.</p>
        </div>

        <div class="col-lg-6">
            <!--<figure>-->
              <!--<img src="https://static.igem.wiki/teams/4214/wiki/home/soft-logo.png" class="img-fluid reveal" style="max-heigh: 200px" alt="Rotating structure of B12-IF complex">-->
              <video width="600" height="400" class="center" autoplay="autoplay" playsinline="playsinline" muted="muted" src="https://gitlab.igem.org/2022/stockholm/-/raw/main/videos/soft-logo.webm" poster=""></video>
            <figcaption>
              <!--<p><i style="font-weight:bold;">Model.</i><i> Rotating structure of B12-IF complex</i></p>-->
            <!--</figcaption>-->
          <!--</figure>-->
        </div>
      </div>
      <!--- empty chuck --->
      <div style="height:150px;"></div>


      <!--- ROW 6 : text 6 --->
      <div class="row mt-4 reveal">
        <p style="font-size:30px">Now embark on an amazing journey through our wiki, to learn more about our efforts to make BigIF, a Big Yes!</p>
      </div>


  <section>
    <div class="box">
      <a href="{{ url_for('pages', page='description') }}" class="a_pages"><div class="reveal flashbox_pages"><p class="p_pages">Project <i class="fa fa-solid fa-arrow-right fa_pages"></i></p></div></a>

      <a href="{{ url_for('pages', page='team') }}" class="a_pages"><div class="reveal flashbox_pages"><p class="p_pages">People <i class="fa fa-solid fa-arrow-right fa_pages"></i></p></div></a>

      <a href="{{ url_for('pages', page='contribution') }}" class="a_pages"><div class="reveal flashbox_pages"><p class="p_pages">Human practices <i class="fa fa-solid fa-arrow-right fa_pages"></i></p></div></a>
    </div>
  </section>
{% endblock %}
