{% extends "layout.html" %}

{% block page_content %}

      <!-- BiG-IF pill-->
      <figure>
        <img src="https://static.igem.wiki/teams/4214/wiki/home/dropdown.gif" class="img-fluid" alt="Dropping pill logo">
      </figure>



      <!--- empty chuck --->
      <div style="height:150px;"></div>



      <!--- ROW 1 : text 1 + mean Ab--->
      <div class="row mt-4 reveal">
        <div class="col-lg-1"></div>
        <div class="col-lg-4">
            <p style="font-size:40px; font-weight: 900; margin-bottom:1px; line-height: 0.6;">Vitamin B12</p> 
            <p style="font-size:30px; font-weight: 500; margin-bottom:3px; line-height: 1.1;">UPTAKE</p> 
            <p style="font-size:20px; line-height: 1.3;">Vitamin B12 is important for several functions in our body and is obtained from our diet. Upon digestion, the protein “gastric intrinsic factor” (IF) binds to the vitamin, carries it to our gut and enables the uptake of the vitamin. However, many people suffer from an autoimmune disease called “Pernicious Anaemia” (PA) where antibodies attack the IF.</p>
        </div>
        <div class="col-lg-7">
          <figure>
            <img src="https://static.igem.wiki/teams/4214/wiki/home/antibody.gif" class="img-fluid reveal" alt="Mean antibody">
          </figure>
        </div>
      </div>


      <!--- empty chuck --->
      <div style="height:150px;"></div>



      <!--- ROW 2 : Animation + text 2--->
      <div class="row mt-4 reveal">
        <div class="col-lg-7">
          <figure>
            <img src="https://static.igem.wiki/teams/4214/wiki/home/if-antibody.gif" class="img-fluid reveal" alt="No binding">
          </figure>
        </div>

        <div class="col-lg-4" style="vertical-align: baseline;">
            <p style="font-size:40px; font-weight: 900; margin-bottom:1px; line-height: 0.6;">Disease</p> 
            <p style="font-size:30px; font-weight: 500; margin-bottom:3px; line-height: 0.9;">PERNICIOUS ANAEMIA</p> 
            <p style="font-size:20px; line-height: 1.3;">During the attack, the antibodies block IF from binding to vitamin B12. Therefore, the uptake of vitamins is reduced, which results in a form of vitamin B12 deficiency - called PA. Currently, the only treatment is injecting high-dose vitamin B12 by healthcare providers every 3 months.</p>
        </div>
        <div class="col-lg-1"></div>
      </div>


      <!--- empty chuck --->
      <div style="height:150px;"></div>


      <!--- Banner 2% --->
      <div style="background-color: #326789; color: white; width: 120% !; margin-left: -10%; margin-right: -10%;">
        <p class="center" style="color:#e65c4f !important; font-size:100px; padding-top: 35px; line-height:0.2;">
          <img src="https://static.igem.wiki/teams/4214/wiki/heart-pulse.svg" style="max-height:100px;">
        </p>
        <p style="font-size:150px; font-weight:600; line-height:0.9;" class="center">~7 million</p>
        <p style="font-size:20px; padding-bottom: 35px;" class="center">people globally suffer from pernicious anaemia</p>
      </div>


      <!--- empty chuck --->
      <div style="height:150px;"></div>



      <!--- ROW 3 : protein figure + text 3 --->
      <div class="row mt-4 reveal">
        <div class="col-lg-6">
          <figure>
            <img src="https://static.igem.wiki/teams/4214/wiki/home/protein-homepage.gif" class="img-fluid reveal video-medium" alt="Epitope reveal">
          </figure>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-4" style="vertical-align: baseline;">
            <p style="font-size:40px; font-weight: 900; margin-bottom:1px; line-height: 0.6;">Antibody Defence</p> 
            <p style="font-size:30px; font-weight: 500; margin-bottom:3px; line-height: 0.9;">SITE-DIRECTED MUTAGENESIS</p> 
            <p style="font-size:20px; line-height: 1.3;">To defend the IF from antibodies, we mutated the part of the protein which is recognized by the antibodies. This new and improved IF cannot be recognised by the antibodies, restoring the body’s ability to take up vitamin B12.</p>
        </div>
        <div class="col-lg-1"></div>
      </div>



      <!--- PROMUTOR--->
      <figure>
            <img src="https://static.igem.wiki/teams/4214/wiki/home/soft-logo.gif" class="img-fluid reveal" alt="promutor logo">
      </figure>
      <div>
        <p style="font-size:25px" class="center reveal">In need of mutations on your own protein?<br>Check out our newly developed mutation-generating software <a href="https://promutor.com/" target="_target">ProMutor</a></p>
      </div>


      <!--- empty chuck --->
      <div style="height:90px;"></div>

      <!--- ROW 4 : Results & nomination --->
      <div class="row mt-4 reveal">
        <div class="col-lg-6">
          <svg class="center" fill="#C0C0C0" width="200" height="200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M16 0H144c5.3 0 10.3 2.7 13.3 7.1l81.1 121.6c-49.5 4.1-94 25.6-127.6 58.3L2.7 24.9C-.6 20-.9 13.7 1.9 8.5S10.1 0 16 0zM509.3 24.9L401.2 187.1c-33.5-32.7-78.1-54.2-127.6-58.3L354.7 7.1c3-4.5 8-7.1 13.3-7.1H496c5.9 0 11.3 3.2 14.1 8.5s2.5 11.5-.8 16.4zM432 336c0 97.2-78.8 176-176 176s-176-78.8-176-176s78.8-176 176-176s176 78.8 176 176zM264.4 241.1c-3.4-7-13.3-7-16.8 0l-22.4 45.4c-1.4 2.8-4 4.7-7 5.1L168 298.9c-7.7 1.1-10.7 10.5-5.2 16l36.3 35.4c2.2 2.2 3.2 5.2 2.7 8.3l-8.6 49.9c-1.3 7.6 6.7 13.5 13.6 9.9l44.8-23.6c2.7-1.4 6-1.4 8.7 0l44.8 23.6c6.9 3.6 14.9-2.2 13.6-9.9l-8.6-49.9c-.5-3 .5-6.1 2.7-8.3l36.3-35.4c5.6-5.4 2.5-14.8-5.2-16l-50.1-7.3c-3-.4-5.7-2.4-7-5.1l-22.4-45.4z"/></svg>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-4" style="vertical-align: baseline;">
            <p style="font-size:40px; font-weight: 900; margin-bottom:1px; line-height: 0.6;">Silver medal</p> 
            <p style="font-size:30px; font-weight: 500; margin-bottom:3px; line-height: 0.9;">Nomination: BEST INCLUSIVITY</p> 
            <p style="font-size:20px; line-height: 1.3;">This nomination is very important to us since throughout our project, diversity has had a fundamental place both in our knowledge but also in our cultures, interests and ambitions.</p>
        </div>
        <div class="col-lg-1"></div>
      </div>


      <!--- empty chuck --->
      <div style="height:90px;"></div>


  <section>
    <div class="box">
      <a href="{{ url_for('pages', page='description') }}" class="a_pages"><div class="reveal flashbox_pages"><p class="p_pages">Project <svg fill="#FFFFFF" width="20" height="20" viewBox="0 0 448 512"><!--! Font Awesome Free 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. --><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg></p></div></a>

      <a href="{{ url_for('pages', page='team') }}" class="a_pages"><div class="reveal flashbox_pages"><p class="p_pages">People <svg fill="#FFFFFF" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Free 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. --><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg></p></div></a>

      <a href="{{ url_for('pages', page='contribution') }}" class="a_pages"><div class="reveal flashbox_pages"><p class="p_pages">Human practices <svg fill="#FFFFFF" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Free 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. --><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg></p></div></a>
    </div>
  </section>
{% endblock %}
