{% extends "layout.html" %}

<!-- Header -->
{% block header %}
<header class="py-5 mb-5" id="header" style="background-image: linear-gradient(0deg, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%),url(https://static.igem.wiki/teams/4214/wiki/picture.png);">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-12">
        <h1 class="display-4 text-white">Model</h1>
      </div>
    </div>
  </div>
</header>
{% endblock %} 

{% block page_content %}

<div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h4>Gold Medal Criterion #3</h4>
      <p>Use modeling to gain insight into how your project works or should be implemented. Explain your model's assumptions, data, parameters, and results in a way that anyone could understand.</p>
      <hr>
      <p>Please see the <a href="https://competition.igem.org/judging/medals">2022 Medals Page</a> for more information.</p>
    </div>
    <div class="bd-callout bd-callout-info">
      <h4>Best Model Special Prize</h4>
      <p>Models and computer simulations provide a great way to describe the functioning and operation of BioBrick Parts and Devices. Synthetic biology is an engineering discipline and part of engineering is simulation and modeling to determine system behavior before building your design. Designing and simulating can be iterated many times in a computer before moving to the lab. This award is for teams who build a model of their system and use it to inform system design or simulate expected behavior before or in conjunction with experiments in the wetlab.</p>
      <p>To compete for the Best Model prize, please describe your work on this page and also fill out the description on the <a href="https://competition.igem.org/deliverables/judging-form">judging form</a>.</p>
      <hr>
      <p>Please see the <a href="https://competition.igem.org/judging/awards">2022 Awards Page</a> for more information.</p>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-lg-8">
    <h2>Overview</h2>
    <hr>
    <p>Mathematical models and computer simulations provide a great way to describe the function and operation of Parts and Devices. Synthetic Biology is an engineering discipline, and part of engineering is simulation and modeling to determine the behavior of your design before you build it. Designing and simulating can be iterated many times in a computer before moving to the lab.</p>
    <p>Please note you can compete for both the Gold Medal criterion #3 and the Best Model prize with this page.</p>
  </div>
  <div class="col-lg-4">
    <h2>Inspirations</h2>
    <hr>
    <ul>
      <li><a href="http://2018.igem.org/Team:GreatBay_China/Model">2018 GreatBay China</a></li>
      <li><a href="http://2018.igem.org/Team:Leiden/Model">2018 Leiden</a></li>
      <li><a href="https://2019.igem.org/Team:IISER_Kolkata/Model">2019 IISER Kolkata</a></li>
      <li><a href="https://2019.igem.org/Team:Exeter/Model">2019 Exeter</a></li>
      <li><a href="https://2019.igem.org/Team:Mingdao/Model">2019 Mingdao</a></li>
      <li><a href="https://2020.igem.org/Team:Harvard/Model">2020 Harvard</a></li>
      <li><a href="https://2020.igem.org/Team:Leiden/Model">2020 Leiden</a></li>
    </ul>
  </div>
</div>



<!-- !!!!!!REALLY STARTS HEEEEERRE !!!!! -->

<!-- test with side bar -->
<div class="row mt-4">
<div class="col-lg-3">
<div class="side-bar sticky-top">
  <nav class="navigation">
    <ul>
      <li>
        <a href="#tag1">Content1</a>
        <a href="#tag2">Content2</a>
        <a href="#tag3">Content3</a>
      </li>
    </ul>
  </nav>
</div>
</div>
<!-- END of sidebar -->

<!-- Include chapters here -->
<div class="col-lg-9">
<div class="main-content">

  <section id="tag1">
    <h2 class="revealfromtop">Content1</h2>
    <img src="https://static.igem.wiki/teams/4214/wiki/picture.png" class="img-fluid reveal" alt="inclusivity picture">
    <p></p>
    <p class="reveal">
      Extremely we promotion remainder eagerness enjoyment an. Ham her demands removal brought minuter raising invited gay. Contented consisted continual curiosity contained get sex. Forth child dried in in aware do. You had met they song how feel lain evil near. Small she avoid six yet table china. And bed make say been then dine mrs. To household rapturous fulfilled attempted on so.
      Among going manor who did. Do ye is celebrated it sympathize considered. May ecstatic did surprise elegance the ignorant age. Own her miss cold last. It so numerous if he outlived disposal. How but sons mrs lady when. Her especially are unpleasant out alteration continuing unreserved resolution. Hence hopes noisy may china fully and. Am it regard stairs branch thirty length afford.
    </p>
  </section>

  <section id="tag2">
    <h2 class="revealfromtop">Content2</h2>
    <img src="https://static.igem.wiki/teams/4214/wiki/picture.png" class="img-fluid reveal" alt="inclusivity picture">
    <p></p>
    <p class="reveal">
      Extremely we promotion remainder eagerness enjoyment an. Ham her demands removal brought minuter raising invited gay. Contented consisted continual curiosity contained get sex. Forth child dried in in aware do. You had met they song how feel lain evil near. Small she avoid six yet table china. And bed make say been then dine mrs. To household rapturous fulfilled attempted on so.
      Among going manor who did. Do ye is celebrated it sympathize considered. May ecstatic did surprise elegance the ignorant age. Own her miss cold last. It so numerous if he outlived disposal. How but sons mrs lady when. Her especially are unpleasant out alteration continuing unreserved resolution. Hence hopes noisy may china fully and. Am it regard stairs branch thirty length afford.
      So insisted received is occasion advanced honoured. Among ready to which up. Attacks smiling and may out assured moments man nothing outward. Thrown any behind afford either the set depend one temper. Instrument melancholy in acceptance collecting frequently be if. Zealously now pronounce existence add you instantly say offending. Merry their far had widen was. Concerns no in expenses raillery formerly.
      Kept in sent gave feel will oh it we. Has pleasure procured men laughing shutters nay. Old insipidity motionless continuing law shy partiality. Depending acuteness dependent eat use dejection. Unpleasing astonished discovered not nor shy. Morning hearted now met yet beloved evening. Has and upon his last here must.
      Delightful remarkably mr on announcing themselves entreaties favourable. About to in so terms voice at. Equal an would is found seems of. The particular friendship one sufficient terminated frequently themselves. It more shed went up is roof if loud case. Delay music in lived noise an. Beyond genius really enough passed is up.
      Smallest directly families surprise honoured am an. Speaking replying mistress him numerous she returned feelings may day. Evening way luckily son exposed get general greatly. Zealously prevailed be arranging do. Set arranging too dejection september happiness. Understood instrument or do connection no appearance do invitation. Dried quick round it or order. Add past see west felt did any. Say out noise you taste merry plate you share. My resolve arrived is we chamber be removal.
    </p>
  </section>

    <section id="tag3">
    <h2 class="revealfromtop">Content3</h2>
         
        <div class="scene reveal">

            <div class="flipcard">
              <div class="flipcard__face flipcard__face--front">
                <img class="flipcard-img img-fluid" src="https://static.igem.wiki/teams/4214/wiki/experiments/attributions/kth-logo.jpg" />
              </div>
              <div class="flipcard__face flipcard__face--back">
                <p>Some text here</p>
              </div>
            </div>

            <div class="flipcard">
              <div class="flipcard__face flipcard__face--front">
                <img class="flipcard-img img-fluid" src="https://static.igem.wiki/teams/4214/wiki/experiments/attributions/ki.png" />
              </div>
              <div class="flipcard__face flipcard__face--back">
                <p>Some text here</p>
              </div>
            </div>

            <div class="flipcard">
              <div class="flipcard__face flipcard__face--front">
                <img class="flipcard-img img-fluid" src="https://static.igem.wiki/teams/4214/wiki/experiments/attributions/igem-logo.png" />
              </div>
              <div class="flipcard__face flipcard__face--back">
                <p>Some text here</p>
              </div>
            </div>

            <div class="flipcard">
              <div class="flipcard__face flipcard__face--front">
                <img class="flipcard-img img-fluid" src="https://static.igem.wiki/teams/4214/wiki/experiments/attributions/kth-logo.jpg" />
              </div>
              <div class="flipcard__face flipcard__face--back">
                <p>Some text here</p>
              </div>
            </div>

            <div class="flipcard">
              <div class="flipcard__face flipcard__face--front">
                <img class="flipcard-img img-fluid" src="https://static.igem.wiki/teams/4214/wiki/experiments/attributions/kth-logo.jpg" />
              </div>
              <div class="flipcard__face flipcard__face--back">
                <p>Some text here</p>
              </div>
            </div>

            <div class="flipcard">
              <div class="flipcard__face flipcard__face--front">
                <img class="flipcard-img img-fluid" src="https://static.igem.wiki/teams/4214/wiki/experiments/attributions/ki.png" />
              </div>
              <div class="flipcard__face flipcard__face--back">
                <p>Some text here</p>
              </div>
            </div>

            <div class="flipcard">
              <div class="flipcard__face flipcard__face--front">
                <img class="flipcard-img img-fluid" src="https://static.igem.wiki/teams/4214/wiki/experiments/attributions/igem-logo.png" />
              </div>
              <div class="flipcard__face flipcard__face--back">
                <p>Some text here</p>
              </div>
            </div>

            <div class="flipcard">
              <div class="flipcard__face flipcard__face--front">
                <img class="flipcard-img img-fluid" src="https://static.igem.wiki/teams/4214/wiki/experiments/attributions/kth-logo.jpg" />
              </div>
              <div class="flipcard__face flipcard__face--back">
                <p>Some text here</p>
              </div>
            </div>

            <div class="flipcard">
              <div class="flipcard__face flipcard__face--front">
                <img class="flipcard-img img-fluid" src="https://static.igem.wiki/teams/4214/wiki/experiments/attributions/kth-logo.jpg" />
              </div>
              <div class="flipcard__face flipcard__face--back">
                <p>Some text here</p>
              </div>
            </div>

            <div class="flipcard">
              <div class="flipcard__face flipcard__face--front">
                <img class="flipcard-img img-fluid" src="https://static.igem.wiki/teams/4214/wiki/experiments/attributions/ki.png" />
              </div>
              <div class="flipcard__face flipcard__face--back">
                <p>Some text here</p>
              </div>
            </div>

            <div class="flipcard">
              <div class="flipcard__face flipcard__face--front">
                <img class="flipcard-img img-fluid" src="https://static.igem.wiki/teams/4214/wiki/experiments/attributions/igem-logo.png" />
              </div>
              <div class="flipcard__face flipcard__face--back">
                <p>Some text here</p>
              </div>
            </div>

            <div class="flipcard">
              <div class="flipcard__face flipcard__face--front">
                <img class="flipcard-img img-fluid" src="https://static.igem.wiki/teams/4214/wiki/experiments/attributions/kth-logo.jpg" />
              </div>
              <div class="flipcard__face flipcard__face--back">
                <p>Some text here</p>
              </div>
            </div>
        </div>
        
    <p class="reveal">
      Extremely we promotion remainder eagerness enjoyment an. Ham her demands removal brought minuter raising invited gay. Contented consisted continual curiosity contained get sex. Forth child dried in in aware do. You had met they song how feel lain evil near. Small she avoid six yet table china. And bed make say been then dine mrs. To household rapturous fulfilled attempted on so.
      Among going manor who did. Do ye is celebrated it sympathize considered. May ecstatic did surprise elegance the ignorant age. Own her miss cold last. It so numerous if he outlived disposal. How but sons mrs lady when. Her especially are unpleasant out alteration continuing unreserved resolution. Hence hopes noisy may china fully and. Am it regard stairs branch thirty length afford.
    </p>

    <div class="container">
      <div class="mySlides">
        <img src="img_woods_wide.jpg" style="width:100%">
      </div>

      <div class="mySlides">    
        <img src="img_5terre_wide.jpg" style="width:100%">
      </div>

      <div class="mySlides">   
        <img src="img_mountains_wide.jpg" style="width:100%">
      </div>
        
      <div class="mySlides">   
        <img src="img_lights_wide.jpg" style="width:100%">
      </div>

      <div class="mySlides">  
        <img src="img_nature_wide.jpg" style="width:100%">
      </div>
        
      <div class="mySlides">   
        <img src="img_snow_wide.jpg" style="width:100%">
      </div>
      
        <div class="mySlides">
        <img src="img_woods_wide.jpg" style="width:100%">
      </div>

      <div class="mySlides">    
        <img src="img_5terre_wide.jpg" style="width:100%">
      </div>

      <div class="mySlides">   
        <img src="img_mountains_wide.jpg" style="width:100%">
      </div>
        
      <div class="mySlides">   
        <img src="img_lights_wide.jpg" style="width:100%">
      </div>

      <div class="mySlides">  
        <img src="img_nature_wide.jpg" style="width:100%">
      </div>
        
      <div class="mySlides">   
        <img src="img_snow_wide.jpg" style="width:100%">
      </div>
        
      <a class="prev" onclick="plusSlides(-1)">❮</a>
      <a class="next" onclick="plusSlides(1)">❯</a>

      <div class="caption-container">
        <p id="caption"></p>
      </div>

      <div class="row">
        <div class="column">
          <img class="demo cursor" src="img_woods.jpg" style="width:100%" onclick="currentSlide(1)" alt="The Woods">
        </div>
        <div class="column">
          <img class="demo cursor" src="img_5terre.jpg" style="width:100%" onclick="currentSlide(2)" alt="Cinque Terre">
        </div>
        <div class="column">
          <img class="demo cursor" src="img_mountains.jpg" style="width:100%" onclick="currentSlide(3)" alt="Mountains and fjords">
        </div>
        <div class="column">
          <img class="demo cursor" src="img_lights.jpg" style="width:100%" onclick="currentSlide(4)" alt="Northern Lights">
        </div>
        <div class="column">
          <img class="demo cursor" src="img_nature.jpg" style="width:100%" onclick="currentSlide(5)" alt="Nature and sunrise">
        </div>    
        <div class="column">
          <img class="demo cursor" src="img_snow.jpg" style="width:100%" onclick="currentSlide(6)" alt="Snowy Mountains">
        </div>
            <div class="column">
          <img class="demo cursor" src="img_woods.jpg" style="width:100%" onclick="currentSlide(1)" alt="The Woods">
        </div>
        <div class="column">
          <img class="demo cursor" src="img_5terre.jpg" style="width:100%" onclick="currentSlide(2)" alt="Cinque Terre">
        </div>
        <div class="column">
          <img class="demo cursor" src="img_mountains.jpg" style="width:100%" onclick="currentSlide(3)" alt="Mountains and fjords">
        </div>
        <div class="column">
          <img class="demo cursor" src="img_lights.jpg" style="width:100%" onclick="currentSlide(4)" alt="Northern Lights">
        </div>
        <div class="column">
          <img class="demo cursor" src="img_nature.jpg" style="width:100%" onclick="currentSlide(5)" alt="Nature and sunrise">
        </div>    
        <div class="column">
          <img class="demo cursor" src="img_snow.jpg" style="width:100%" onclick="currentSlide(6)" alt="Snowy Mountains">
        </div>
      </div>
    </div>

<script>
let slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("demo");
  let captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>

  </section>

  <section>
    <div class="box">
      <a href="{{ url_for('pages', page='engineering') }}" class="a_pages"><div class="reveal flashbox_pages"><p class="p_pages"><i class="fa fa-solid fa-arrow-left fa_pages"></i> Engineering</p></div></a>

      <a href="{{ url_for('pages', page='software') }}" class="a_pages"><div class="reveal flashbox_pages"><p class="p_pages">Software <i class="fa fa-solid fa-arrow-right fa_pages"></i></p></div></a>
    </div>
  </section>
</div>
</div>
</div>

{% endblock %}
