{% extends "layout.html" %}

<!-- Header -->
{% block header %}
<header class="py-5 mb-5" id="header" style="background-image: linear-gradient(0deg, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%),url(https://static.igem.wiki/teams/4214/wiki/home/soft-logo.gif);">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-12">
        <h1 class="display-4 text-white">ProMutor</h1>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block page_content %}

<div class="row mt-4">


<!-- END of sidebar -->

  <!-- Include chapters here -->
  <div class="col-lg-9">
    <div class="main-content">

      <section>

        <!--DESCRIPTION for client-->
        <div class="container-fluid p-5">
          <p>
            This software will allow you to enter a wild type sequence of DNA or
            protein in fasta format and create mutants of it at the positions of
            your choice.
          </p>
        </div>

        <!--FORM for the inputs-->
        <!-- Create route to server-->

<!--
        <form
          method="post"
          enctype="multipart/form-data"
          action="http://194.230.110.60:80/igem-software"
        >-->

          <div class="container-fluid p-5 background-clear">
            <h4>Sequence type</h4>

            <div class="form-check form-check-inline">
              <input
                class="form-check-input mt-0"
                id="DNA"
                type="radio"
                name="type_inp"
                value="nucleotide"
                checked
              />
              <label class="form-check-label" for="DNA"> DNA </label>
            </div>

            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                id="Protein"
                type="radio"
                name="type_inp"
                value="protein"
              />
              <label class="form-check-label" for="Protein"> Protein </label>
            </div>
            <p></p>
          </div>

          <div class="container-fluid p-5">
            <h4>Insert your sequence</h4>

            <div class="row">
              <div class="col mb-3">
                <label for="formFile" class="form-label"
                  >Choose file to upload</label
                >
                <input
                  class="form-control"
                  type="file"
                  id="formFile"
                  name="fasta_file"
                  accept=".fasta, .fa"
                />
              </div>
              <div class="col-md-6"></div>
            </div>

            <div class="row">
              <div class="col mb-3">
                <label for="exampleFormControlTextarea1" class="form-label"
                  >Or paste your fasta sequence here</label
                >
                <textarea
                  class="form-control"
                  type="text"
                  name="fasta_sequence"
                  id="fasta_sequence"
                  rows="10"
                  placeholder="Your sequence must start with the [>] sign"
                ></textarea>
              </div>
              <div class="col-md-6"></div>
            </div>
            <p></p>
          </div>

          <div class="container-fluid p-5 background-clear">
            <h4>At what positions do you want to generate mutations?</h4>

            <div class="row">
              <div class="col mb-3">
                <label for="exampleFormControlTextarea1" class="form-label"
                  >At what positions do you want to insert mutation(s)?</label
                >
                <textarea
                  class="form-control"
                  type="text"
                  id="mutation_position"
                  name="pos"
                  required
                  minlength="1"
                  maxlength="100"
                  placeholder="Ex.: 12, 54, 58"
                ></textarea>
              </div>
              <div class="col-md-6"></div>
            </div>

            <!--
            <div class="row">
              <div class="col mb-3">
                <label for="exampleFormControlTextarea1" class="form-label"
                  >At what position do you want to ALWAYS insert a mutation? (from
                  the above mentioned positions)</label
                >
                <textarea
                  class="form-control"
                  type="text"
                  id="mutation_mandatory"
                  name="mandatory_mutation"
                  maxlength="100"
                  placeholder="Ex.: 54, 58 (let empty if no priorities)"
                ></textarea>
              </div>
              <div class="col-md-6"></div>
            </div>
            <p></p> -->
          </div>

          <div class="container-fluid p-5">
            <h4>How many mutations should we include per mutant?</h4>
            <p></p>

            <div class="row">
              <div class="col mb-3">
                <label for="exampleFormControlTextarea1" class="form-label"
                  >Should be at least 1, but can be multiple.</label
                >
                <textarea
                  class="form-control"
                  type="text"
                  id="number_of_mutant"
                  name="number_of_mutant"
                  required
                  minlength="1"
                  maxlength="100"
                  placeholder="Ex.: 3, 4"
                ></textarea>
              </div>
              <div class="col-md-6"></div>
            </div>

            <p></p>
          </div>

          <div class="container-fluid p-5 background-clear">
            <h4>Do you expect a preserved or disrupt structure?</h4>

            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                id="preserved"
                type="radio"
                name="preserve"
                value="True"
                checked
              />
              <label class="form-check-label" for="preserved"> Preserved </label>
            </div>

            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                id="disrupted"
                type="radio"
                name="preserve"
                value="False"
              />
              <label class="form-check-label" for="disrupted"> Disrupted </label>
            </div>
            <p></p>
          </div>

          <div class="container-fluid p-5">
            <h4>What similarity matrix do you want to use?</h4>
            <p>(by default: Blossum62)</p>

            <div class="row">
              <div class="col form-floating">
                <select
                  class="form-select"
                  name="matrix"
                  id="matrix-select"
                  aria-label="Floating label select example"
                >
                  <option value="Blossum45">Blossum45</option>
                  <option value="Blossum50">Blossum50</option>
                  <option value="Blossum62" selected>Blossum62</option>
                  <option value="Blossum80">Blossum80</option>
                  <option value="Blossum90">Blossum90</option>
                  <option value="Pam30">Pam30</option>
                  <option value="Pam90">Pam90</option>
                  <option value="Pam250">Pam250</option>
                </select>
                <label class="label-dropdown text-black-50" for="floatingSelect">
                  Choose a matrix</label
                >
              </div>
              <div class="col-md-9"></div>
            </div>
            <p></p>
          </div>

          <div class="container-fluid p-5 background-clear">
            <h4>Do you want to include the mutants sequences in nucleotide?</h4>

            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                id="nc"
                type="radio"
                name="is_nc"
                value="True"
              />
              <label class="form-check-label" for="preserved">
                Include nucleotide output
              </label>
            </div>

            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                id="nc"
                type="radio"
                name="is_nc"
                value="False"
                checked
              />
              <label class="form-check-label" for="disrupted"> No need </label>
            </div>
            <p></p>
          </div>

          <div class="container-fluid p-5">
            <h4>
              Do you want single file per mutant or all mutants in a one file?
            </h4>

            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                id="separate_files"
                type="radio"
                name="separate_files"
                value="True"
              />
              <label class="form-check-label" for="preserved">
                Separate files
              </label>
            </div>

            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                id="nc"
                type="radio"
                name="separate_files"
                value="False"
                checked
              />
              <label class="form-check-label" for="disrupted">
                All mutants in one file
              </label>
            </div>
            <p></p>
          </div>

          <div class="container-fluid p-5 background-clear">
            <!--<button class="btn btn-secondary" type="submit">Generate the mutants</button>-->
            <p>Nota bene: The calculations might take several minutes, please do not quit the page in order to receive your results.</p>
            <!--<input
              class="btn btn-secondary"
              type="button"
              id="JSON-btn"
              value="Generate the mutants"
            />-->
            <button type="button" class="btn btn-secondary" id="JSON-btn">Generate the mutants</button>
          </div>
        <!--</form> -->


        <!-- Display the RESULTS -->
        <div class="container-fluid p-5 background-clear" id="myResults">
            <!--<p>The following parameters were selected:</p>
            <table>
                <tbody id="arg_tbody"></tbody>
            </table>-->
        </div>




        <script>
        // Return the content of the file only when you have it. Await in next function makes the code wait for the specific content.
          function readFile(file) {
            return new Promise((resolve, reject) => {
              const reader = new FileReader();

              reader.onload = (res) => {
                resolve(res.target.result);
              };
              reader.onerror = (err) => reject(err);

              reader.readAsText(file);
            });
          }

          async function store_JSON() {
            var formData = new FormData();
            //retrieve parameters from the for with ID or name.//

            // type_inp
            formData.append(
              "type_inp",
              document.querySelector('input[name="type_inp"]:checked').value
            ); //good for radio inputs

            // fasta_file (upload option)
            var file = document.getElementById("formFile").files[0];
            if (file) {
                var data_file = await readFile(file);
                formData.append("fasta_sequence", data_file);
            }else{
                // fasta_file (write yourself option) fasta_sequence
            formData.append(
              "fasta_sequence",
              document.getElementById("fasta_sequence").value
            ); // works with new ID !!!
            }

            // pos
            formData.append(
              "pos",
              document.getElementById("mutation_position").value
            ); // works with new ID !!!

            // mandatory mutation. NOT YET FUNCTIONAL IN SCRIPT
            //formData.append("mutation_mandatory", document.getElementById("mutation_mandatory").value); // works with new ID !!!

            // number of mutant
            formData.append(
              "number_of_mutant",
              document.getElementById("number_of_mutant").value
            ); // works with new ID !!!

            // preserved or disrupt
            formData.append(
              "preserve",
              document.querySelector('input[name="preserve"]:checked').value
            ); //good for radio inputs

            // matrix
            formData.append(
              "matrix",
              document.getElementById("matrix-select").value
            ); // works with new ID !!!

            // is_nc
            formData.append(
              "is_nc",
              document.querySelector('input[name="is_nc"]:checked').value
            ); //good for radio inputs

            // separate files
            formData.append(
              "separate_files",
              document.querySelector('input[name="separate_files"]:checked').value
            ); //good for radio inputs

            //2nd part to send to server. // will be able to replace by /igem-software
            var xhr = new XMLHttpRequest();
            //xhr.open("POST", "http://127.0.0.1:5000/igem-test"); // works (we were testing)
            xhr.open("POST", "http://194.230.110.60:80/igem-software"); // error 500? --> solved. it was due to run_container
            //xhr.open("POST", "http://89.44.250.84:5000/igem-software"); // To the server // server IP address KTH: 89.44.250.84
            
            xhr.timeout = 10*60*1000; // time in milliseconds 5X60X1000
            xhr.ontimeout = (e) => {
              window.alert("Server not responding after 5 minutes");
            };

            xhr.send(formData);
            xhr.onreadystatechange = function () {
              // If the request completed, close the extension popup
              if (xhr.readyState == 4) {
                if (xhr.status == 200) {
                    var s = JSON.parse(xhr.responseText)

                    console.log(s);

                    let keys_args = Object.keys(s.args)
                    let values_args = Object.values(s.args)

                    let keys_prot = Object.keys(s.prot)
                    let values_prot = Object.values(s.prot)

                    let keys_nc = Object.keys(s.nc)
                    let values_nc = Object.values(s.nc)

                    let keys_mutant_predictions = Object.keys(s.mutant_predictions)
                    let values_mutant_predictions = Object.values(s.mutant_predictions)


                    // automatic creation of the RESULTS called  div  :
                    const div = document.getElementById('myResults'); // already in HTML (called div)

                    // create div for table:
                    const table_paragraph = document.createElement("p"); // create content to add to this div
                    const table_paragraph_text = document.createTextNode("The following parameters were selected:");
                    table_paragraph.appendChild(table_paragraph_text); // attach the text node to the created paragraph
                    
                    div.appendChild(table_paragraph); // attach paragraph element to div element.

                    //TABLE
                    let table = document.createElement('table');
                    table.classList.add("sequence"); // class name for style
                    let thead = document.createElement('thead');
                    let tbody = document.createElement('tbody');

                    table.appendChild(thead);
                    table.appendChild(tbody);

                    // Adding the entire table to the body tag
                    div.appendChild(table); // attach table element to div element.

                    // Heading
                    let row_1 = document.createElement('tr');
                    let heading_1 = document.createElement('th');
                    heading_1.innerHTML = "Argument";
                    let heading_2 = document.createElement('th');
                    heading_2.innerHTML = "Chosen";


                    row_1.appendChild(heading_1);
                    row_1.appendChild(heading_2);
                    thead.appendChild(row_1);

                    // 1 sequence
                    let row_2 = document.createElement('tr');
                    let row_2_data_1 = document.createElement('td');
                    row_2_data_1.innerHTML = "Sequence:";
                    let row_2_data_2 = document.createElement('td');
                    mySeq = values_args[0].replace(/(.{80})/g, "$&\n")
                    row_2_data_2.innerHTML = mySeq;

                    row_2.appendChild(row_2_data_1);
                    row_2.appendChild(row_2_data_2);
                    tbody.appendChild(row_2);

                    // 2 nucleotide
                    let row_3 = document.createElement('tr');
                    let row_3_data_1 = document.createElement('td');
                    row_3_data_1.innerHTML = "Nucleotide:";
                    let row_3_data_2 = document.createElement('td');
                    row_3_data_2.innerHTML = values_args[1];

                    row_3.appendChild(row_3_data_1);
                    row_3.appendChild(row_3_data_2);
                    tbody.appendChild(row_3);

                    // 3 matrix
                    let row_4 = document.createElement('tr');
                    let row_4_data_1 = document.createElement('td');
                    row_4_data_1.innerHTML = "Matrix:";
                    let row_4_data_2 = document.createElement('td');
                    row_4_data_2.innerHTML = values_args[2];

                    row_4.appendChild(row_4_data_1);
                    row_4.appendChild(row_4_data_2);
                    tbody.appendChild(row_4);

                    // 4 number of mutant
                    let row_5 = document.createElement('tr');
                    let row_5_data_1 = document.createElement('td');
                    row_5_data_1.innerHTML = "Number of mutant:";
                    let row_5_data_2 = document.createElement('td');
                    row_5_data_2.innerHTML = values_args[3];

                    row_5.appendChild(row_5_data_1);
                    row_5.appendChild(row_5_data_2);
                    tbody.appendChild(row_5);

                    // 5 positions
                    let row_6 = document.createElement('tr');
                    let row_6_data_1 = document.createElement('td');
                    row_6_data_1.innerHTML = "Positions:";
                    let row_6_data_2 = document.createElement('td');
                    row_6_data_2.innerHTML = values_args[4];

                    row_6.appendChild(row_6_data_1);
                    row_6.appendChild(row_6_data_2);
                    tbody.appendChild(row_6);

                    // 6 preserved
                    let row_7 = document.createElement('tr');
                    let row_7_data_1 = document.createElement('td');
                    row_7_data_1.innerHTML = "Preserved:";
                    let row_7_data_2 = document.createElement('td');
                    row_7_data_2.innerHTML = values_args[5];

                    row_7.appendChild(row_7_data_1);
                    row_7.appendChild(row_7_data_2);
                    tbody.appendChild(row_7);

                    // 7 sepfiles
                    // let row_8 = document.createElement('tr');
                    // let row_8_data_1 = document.createElement('td');
                    // row_8_data_1.innerHTML = "Separate files:";
                    // let row_8_data_2 = document.createElement('td');
                    // row_8_data_2.innerHTML = values_args[4];

                    // row_8.appendChild(row_8_data_1);
                    // row_8.appendChild(row_8_data_2);
                    // tbody.appendChild(row_8);

                    // 7
                    let row_9 = document.createElement('tr');
                    let row_9_data_1 = document.createElement('td');
                    row_9_data_1.innerHTML = "Input type:";
                    let row_9_data_2 = document.createElement('td');
                    row_9_data_2.innerHTML = values_args[7];

                    row_9.appendChild(row_9_data_1);
                    row_9.appendChild(row_9_data_2);
                    tbody.appendChild(row_9);


                    const p_score = document.createElement("p");
                    const p_score_text = document.createTextNode("The mutants created have the following scores:");
                    p_score.appendChild(p_score_text);
                    div.appendChild(p_score);


                    // Table scores:
                    // const table_score_paragraph = document.createElement("p"); // create content to add to this div
                    // const table_score_paragraph_text = document.createTextNode("The mutants created have the following scores:");
                    // table_paragraph.appendChild(table_score_paragraph_text); // attach the text node to the created paragraph
                    
                    // div.appendChild(table_score_paragraph); // attach paragraph element to div element.

                    //TABLE
                    let table_score = document.createElement('table');
                    table_score.classList.add("sequence"); // class name for style
                    let thead_score = document.createElement('thead');
                    let tbody_score = document.createElement('tbody');

                    table_score.appendChild(thead_score);
                    table_score.appendChild(tbody_score);

                    // Adding the entire table to the body tag
                    div.appendChild(table_score); // attach table element to div element.

                    // Heading for score table
                    let score_row_1 = document.createElement('tr');
                    let score_heading_1 = document.createElement('th');
                    score_heading_1.innerHTML = "Mutant";
                    let score_heading_2 = document.createElement('th');
                    score_heading_2.innerHTML = "Score";

                    score_row_1.appendChild(score_heading_1);
                    score_row_1.appendChild(score_heading_2);
                    thead_score.appendChild(score_row_1);

                    // automatic table rows for scores
                    for(var i = 0; i < keys_mutant_predictions.length; i++) {
                    let score_row_2 = document.createElement('tr');
                    let score_row_2_mutant = document.createElement('td');
                    score_row_2_mutant.innerHTML = keys_mutant_predictions[i];
                    let score_row_2_data = document.createElement('td');
                    score_row_2_data.innerHTML = values_mutant_predictions[i];

                    score_row_2.appendChild(score_row_2_mutant);
                    score_row_2.appendChild(score_row_2_data);
                    tbody_score.appendChild(score_row_2);
                    };


                    const p_dropdown = document.createElement("p");
                    const p_dropdown_text = document.createTextNode("Select one of the mutants created and use the available functions bellow:");
                    p_dropdown.appendChild(p_dropdown_text);
                    div.appendChild(p_dropdown);

                    // create element dropdown:
                    const dropdown = document.createElement("select");
                    dropdown.id = "mySelect";
                    dropdown.classList.add("btn", "btn-light", "dropdown-toggle");
                    const label = document.createElement("label");
                    const label_text = document.createTextNode("Choose a mutant:")
                    label.appendChild(label_text);
                    dropdown.appendChild(label);

                    // AUTOMATIC DROPDOWN
                        var options = s.prot;

                        for(var i = 0; i < Object.keys(options).length; i++) {
                            var opt = Object.keys(options)[i];
                            var el = document.createElement("option");
                            el.innerHTML = opt;
                            el.value = Object.values(options)[i];
                            dropdown.appendChild(el);
                        }
                        div.appendChild(dropdown);



                    const div_button = document.createElement("div");
                    div_button.classList.add("div_button");

                    div.appendChild(div_button); // attach div_button to div element.

                    // script DISPLAY SEQUENCE 
                    var display_seq = document.createElement('button');
                    display_seq.classList.add("btn", "btn-secondary"); // class name for style
                    display_seq.innerHTML = 'Show me the value';
                    div_button.appendChild(display_seq);

                    display_seq.onclick = function() {
                        var e = document.getElementById("mySelect");
                        var name = e.options[e.selectedIndex].text;
                        var seq = e.options[e.selectedIndex].value;
                        var seq_split = seq.replace(/(.{80})/g, "$&\n")


                        const display_p = document.createElement("p"); // create content to add to this div
                        display_p.classList.add("sequence"); // class name for style
                        const display_text = document.createTextNode(">" + name + "\n" + seq_split);
                        display_p.appendChild(display_text); // attach the text node to the created paragraph
                    
                        div_button.appendChild(display_p); // attach paragraph element to div element.
                    };


                    // script NEW TAB SEQUENCE 
                    var display_seq_tab = document.createElement('button');
                    display_seq_tab.classList.add("btn", "btn-secondary"); // class name for style
                    display_seq_tab.innerHTML = 'Open in a new tab';
                    div_button.appendChild(display_seq_tab);

                    display_seq_tab.onclick = function() {
                        var e = document.getElementById("mySelect");
                        var name = e.options[e.selectedIndex].text;
                        var seq = e.options[e.selectedIndex].value;
                        var seq_split = seq.replace(/(.{80})/g, "$&\n")
                    
                        let new_page = window.open("about:blank", "_blank", "width=850,height=500");
                            new_page.document.write('<html><head><title>Sequence</title><link rel="stylesheet" type="text/css" href= "sequence_page.css"></head><body>', 
                            ">" + name +
                            "<br>" + seq_split);
                            new_page.document.close();
                    };




                    // script DOWNLOAD FASTA (1) 
                    var download_fasta = document.createElement('button');
                    download_fasta.classList.add("btn", "btn-secondary"); // class name for style
                    download_fasta.innerHTML = 'Download fasta';
                    div_button.appendChild(download_fasta);

                    download_fasta.onclick = function(filename, text) {

                        var e = document.getElementById("mySelect");
                        var name = e.options[e.selectedIndex].text;
                        var seq = e.options[e.selectedIndex].value;
                        var seq_split = seq.replace(/(.{80})/g, "$&\n");
                        let seq_to_download = ">" + name + "\n" + seq_split;
                        var text = seq_to_download;

                        var filename = name+".fasta"; //NAME OF THE FILE!

                        var element = document.createElement('a');
                        element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
                        element.setAttribute('download', filename);
                        element.style.display = 'none';

                        document.body.appendChild(element);
                        element.click();
                        document.body.removeChild(element);

                    };
                    //, false);

                    // Open AlphaFold on click
                    var open_AF = document.createElement('button');
                    open_AF.classList.add("btn", "btn-secondary"); // class name for style
                    open_AF.innerHTML = '<img src="https://static.igem.wiki/teams/4214/wiki/software/collab.png"> AlphaFold';
                    div_button.appendChild(open_AF);

                    open_AF.onclick = function() {
                        // var e = document.getElementById("mySelect");
                        // var name = e.options[e.selectedIndex].text;
                        // var seq = e.options[e.selectedIndex].value;
                        // var seq_split = seq.replace(/(.{80})/g, "$&\n")
                    
                        let new_page = window.open("https://colab.research.google.com/github/sokrypton/ColabFold/blob/main/AlphaFold2.ipynb#scrollTo=kOblAo-xetgx", "_blank");
                            new_page.document.close();
                    };


                    // script DOWNLOAD FASTA (ALL)
                    var download_all_fasta = document.createElement('button');
                    download_all_fasta.classList.add("btn", "btn-secondary"); // class name for style
                    download_all_fasta.innerHTML = 'Download every fasta';
                    div_button.appendChild(download_all_fasta);

                    

                    download_all_fasta.onclick = function(filename, text) {
                        let list_to_download = "";
                        for (let i = 0; i < keys_prot.length; i++) {
                            list_to_download += ">" + keys_prot[i]+ "\n" + values_prot[i].replace(/(.{80})/g, "$&\n") + "\n";
                        }

                        var filename = "all_mutant.fasta";
                        var text = list_to_download;

                        var element2 = document.createElement('a');
                        element2.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
                        element2.setAttribute('download', filename);
                        element2.style.display = 'none';

                        document.body.appendChild(element2);
                        element2.click();
                        document.body.removeChild(element2);
                    };
                    //, false);

                    // // script DOWNLOAD JSON 
                    // function download_all_fasta(filename, text) {
                    //     var element = document.createElement('a');
                    //     element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
                    //     element.setAttribute('download', filename);
                    //     element.style.display = 'none';
                    //     document.body.appendChild(element);
                    //     element.click();
                    //     document.body.removeChild(element);
                    // }

                    // document.getElementById("dwn-btn-JSON").addEventListener("click", function(){
                    //     var e = document.getElementById("mySelect");
                    //     var name = e.options[e.selectedIndex].text;
                    //     var seq = e.options[e.selectedIndex].value;

                    //     let myJSON = "";
                    //         myJSON += "{" + 
                    //         "\"query_sequence\":" + "\"" + seq + "\"" + "," +
                    //         "\"jobname\":" + "\"" + name + "\"" +
                    //         "}";
                        
                    //     var filename = name+".json";
                    //     var text = myJSON;
                    //     download_all_fasta(filename, text);
                    // }, false);




                } else {
                    const errorMessage = document.createElement('marquee')
                    errorMessage.textContent = `Gah, it's not working!`
                    app.appendChild(errorMessage)

                }
              }
            };
          }

          //activate the function on click with the button "JSON-btn"
          document.getElementById("JSON-btn").addEventListener(
            "click",
            function () {
              store_JSON();
            },
            false
          );
        </script>
      </section>


      <section>
        <div class="box">
          <a href="{{ url_for('pages', page='software') }}" class="a_pages"><div class="reveal flashbox_pages"><p class="p_pages"><i class="fa fa-solid fa-arrow-left fa_pages"></i> Software</p></div></a>

          <a href="{{ url_for('pages', page='experiments') }}" class="a_pages"><div class="reveal flashbox_pages"><p class="p_pages">Experiments <i class="fa fa-solid fa-arrow-right fa_pages"></i></p></div></a>
        </div>
      </section>

    </div>
  </div>
</div>
{% endblock %}
