{% extends "layout.html" %}

<!-- Header -->
{% block header %}
<header class="py-5 mb-5" id="header" style="background-image: linear-gradient(0deg, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%),url(https://static.igem.wiki/teams/4214/wiki/safety/header-from-unsplash.jpg);">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-12">
        <h1 class="display-4 text-white">Safety</h1>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block page_content %}

<!-- side bar -->
<div class="row mt-4">
  <div class="col-lg-3">
    <div class="side-bar sticky-top">
      <nav class="navigation">
        <ul class="nav-ul-sidebar">
          <li class="nav-ul-li-sidebar">
            <a class="nav-ul-li-a-sidebar" href="#tag1">Risks in Synthetic Biology / Key Biosecurity Vocabulary</a>
            <a class="nav-ul-li-a-sidebar" href="#tag2">Safeguarding from Synbio Risks</a>
            <a class="nav-ul-li-a-sidebar" href="#tag3">Safety in our project</a>
            <a class="nav-ul-li-a-sidebar" href="#tag4">Safe Lab Work</a>
            <a class="nav-ul-li-a-sidebar" href="#tag5">Safe Project Design</a>
            <a class="nav-ul-li-a-sidebar" href="#references">References</a>

          </li>
        </ul>
      </nav>
    </div>
  </div>
  <!-- END of sidebar -->

  <!-- Include chapters here -->
  <div class="col-lg-9">
    <div class="main-content">

      <section id="tag1">
        <h2 class="revealfromtop">Risks in Synthetic Biology / Key Biosecurity Vocabulary</h2>
        <!-- not sure...
        <div class="box">
          <a href="#tag2"><div class="reveal flashbox"><p>Lab safety</p></div></a>
          <a href="#tag3"><div class="reveal flashbox"><p>Consideration</p></div></a>
        </div>
        -->
        <p class="reveal">
          <i class="fa fa-solid fa-check"></i> A large risk in synthetic biology is technology that can be used for both good and bad — so called dual use. An example of this would be knowledge that is being developed for vaccines that could also be used for bioweapons. It’s crucial that ethical concerns are considered early in the process and if the downside to the research is too large it might be wise to wait until there is a way to decrease the risk of it falling into the wrong hands. <a href="#references">[1]</a><br>
          <i class="fa fa-solid fa-check"></i> Information hazards are similar to the dual use dilemma, it’s exactly what it sounds like — information which could be used to harm by for instance bioterrorists. The unilateralists curse makes this extra harmful, since information in the hands of a bad actor is enough to create harmful effects even though all other actors are using the information responsibly. <a href="#references">[2]</a><br>
          <i class="fa fa-solid fa-check"></i> GCBRs are biological risks of a massive scale, imagine a pandemic which wipes out civilization and the future of humanity. With faster development of engineering in synthetic biology it is not unimaginable that something like this could be created… <a href="#references">[3]</a><br>
          <i class="fa fa-solid fa-check"></i> Bioweapons are weapons made with biology, for instance smallpox has been weaponized in the past. <a href="#references">[4]</a> Using bioweapons in war is considered a war crime. There is currently a Biological Weapons Convention. <a href="#references">[5]</a><br>
          <i class="fa fa-solid fa-check"></i> Gain of function research is about making pathogens more transmissible or more dangerous. <a href="#references">[6]</a> This ties together with information hazard since that information can be used for both good and bad purposes. For updating vaccines against new variants of covid or making a bioweapon.<br>
          <i class="fa fa-solid fa-check"></i> Gene drives are genetic elements which make sure more than half of the offspring inherits certain genes. This has been most debated for malaria mosquitos. There are many ethical implications, especially on ecosystems. <a href="#references">[7]</a><br>
        </p>

      </section>

      <section id="tag2">
        <h2 class="revealfromtop">Safeguarding from Synbio Risks</h2>
        <p class="reveal">
          <i class="fa fa-solid fa-check"></i> Surveillance of emerging pathogens which could cause new pandemics is important in order to be able to take action, use protective measures to contain the spread and develop vaccines as fast as possible. An example of this is using metagenomics to screen wastewater and look for spikes in new unknown DNA. <a href="#references">[8]</a><br>
          <i class="fa fa-solid fa-check"></i> Vaccine technology is a great tool for protecting people against harmful effects and reaching immunity as quickly as possible. The idea is to give the immune system a small non-harmful piece of the pathogen to practice on so that it doesn’t get sick when exposed to it.<br>
          <i class="fa fa-solid fa-check"></i> Technology design is important to consider in terms of information hazards and dual use. The key is to not create incentives for bad actors, as well as decreasing the ways it can be used for harmful purposes. An example of this would be to screen DNA orders for harmful sequences before synthesizing and selling them. <a href="#references">[9]</a><br>
          <i class="fa fa-solid fa-check"></i> Policy and global cooperation increases the likelihood that standard practices and legislation is passed and enforced. Since pathogens don’t understand borders, cooperation is non negotiable for managing outbreaks.<br>
          <i class="fa fa-solid fa-check"></i> Personal protective equipment such as face masks or rubber gloves is a great way to protect yourself and in extension others from both chemicals and potentially harmful toxins or organisms.<br>
        </p>
      </section>




      <section id="tag3">
        <h2 class="revealfromtop">Safety in our project</h2>
        <p class="reveal">
          We had one or two incidents of covid during our project, the infected team members stayed home during that time! The policy for being sick, no matter if it was a cold or covid was to stay home until it was gone.
        </p>
        <p class="reveal">
          Depending on what was most safe and suitable, we used open bench, fume hood or biosafety cabinets. For instance when handling potential carcinogens such as s-acrylamide we used personal protective equipment and a fume hood. Our work with E.coli was conducted in a standard microbiological lab with security level one. For the HEK cells a level two lab was used in order to get moderate containment.
        </p>
        <p class="reveal">
          A large focus for us was following relevant rules and policies for biocontainment. Especially because of the incorporation of antibiotic resistance genes which could allow them to spread more easily if they escape containment. This could pose a risk of the antibiotic resistance genes being transferred to other more harmful pathogens. The only place for our engineered organisms would be the lab or production facilities.  
        </p>
      </section>



      <section id="tag4">
        <h2 class="revealfromtop">Safe Lab work</h2>
        <p class="reveal">
          As guidance we used the rules from the universities where we did our lab work, Karolinska Institute and KTH Royal Institute of Technology, as well as The Public Health Agency of Sweden.
        </p>

        <div class="row mt-4">
          <div class="col-6 reveal">
            <h4>Safety and security training about topics:</h4>
            <p>
              <i class="fa fa-solid fa-check"></i> Lab access and rules<br>
              <i class="fa fa-solid fa-check"></i> Responsible individuals<br>
              <i class="fa fa-solid fa-check"></i> Differences between biosafety levels<br>
              <i class="fa fa-solid fa-check"></i> Biosafety equipment<br>
              <i class="fa fa-solid fa-check"></i> Good microbial technique<br>
              <i class="fa fa-solid fa-check"></i> Disinfection and sterilization<br>
              <i class="fa fa-solid fa-check"></i> Emergency procedures<br>
              <i class="fa fa-solid fa-check"></i> Rules for transporting samples between labs or shipping between institutions<br>
              <i class="fa fa-solid fa-check"></i> Physical biosecurity<br>
              <i class="fa fa-solid fa-check"></i> Personnel biosecurity<br>
              <i class="fa fa-solid fa-check"></i> Data biosecurity / cyberbiosecurity<br>
              <i class="fa fa-solid fa-check"></i> Chemical, fire and electrical safety<br>
            </p>
          </div>

          <div class="col-6 reveal">
            <h4>Implemented measures:</h4>
            <p>
              <i class="fa fa-solid fa-check"></i> Accident reporting<br>
              <i class="fa fa-solid fa-check"></i> Personal Protective Equipment<br>
              <i class="fa fa-solid fa-check"></i> Inventory controls<br>
              <i class="fa fa-solid fa-check"></i> Physical access controls<br>
              <i class="fa fa-solid fa-check"></i> Data access controls<br>
              <i class="fa fa-solid fa-check"></i> Waste management system<br>
              <i class="fa fa-solid fa-check"></i> Additional containment<br>
              <i class="fa fa-solid fa-check"></i> Project-specific safety or security training<br>
              <i class="fa fa-solid fa-check"></i> Consulting with other experts about managing risks<br>
              <i class="fa fa-solid fa-check"></i> Consulting with iGEM about managing risks<br>

            </p>
          </div>
        </div>
      </section>


      <section id="tag5">
        <h2 class="revealfromtop">Safe Project Design</h2>
        <p class="reveal">
          To the best of our knowledge the parts and organisms were relatively low risk. For the HEK cells which weren’t on the white list we submitted a check in form. HEK cells belong to risk group two, and could potentially be a hazard to immunodeficient individuals since the genome contains Adenovirus 5 DNA. For this we used BSL2 containment, sterile techniques, a special safety introduction from the department expert and supervision. 
        </p>
        <p class="reveal">
          We are not aware of any accidental release from the designated areas. While working we were mindful of the security training and the implemented measures to minimize such risks. Since we believe our institution is sufficient at managing risks we did not bring in external risk experts. For further development, for instance preclinical trials and clinical trials, we would contact external experts to assess risks with large scale production of recombinant proteins and concerns related to drug approval. 
        </p>

      </section>


      <section id="references">
        <!-- REFERENCES !!! -->
        <h2 class="revealfromtop">References</h2>
          <div class="tabs reveal">
            <div class="tab">
              <input type="checkbox" id="chck1">
              <label class="tab-label" for="chck1">References</label>
              <div class="tab-content">
                <ol>
                  <li>
                    <p><!--authors here-->Aprotim C. Bhowmik<br>
                    <!--paper titles--><b style="font-weight: bold !important;">Dual-Use in Synthetic Biology: Balancing Intellectual Freedom with Regulations on Research</b><br>
                    <!-- journal's name--><i> Vol. 6 (2017): Stanford Journal of Public Health Volume 6 Spring 2017</i><br>
                    <!-- link to artile--><a href="https://ojs.stanford.edu/ojs/index.php/sjph/article/view/1228/1138" target="_blank">Read it</a>
                    </p>
                  <hr>
                  </li>

                  <li>
                    <p><!--authors here-->Nieuwenweg, A.C., Trump, B.D., Klasa, K., Bleijs, D.A., Oye, K.A.<br>
                    <!--paper titles--><b style="font-weight: bold !important;">Emerging Biotechnology and Information Hazards</b><br>
                    <!-- journal's name--><i>NATO Science for Peace and Security Series C: Environmental Security. Springer, Dordrecht.</i><br>
                    <!-- link to artile--><a href="https://doi.org/10.1007/978-94-024-2086-9_9" target="_blank">DOI: 10.1007/978-94-024-2086-9_9</a>
                    </p>
                  <hr>
                  </li>
                  
                  <li>
                    <p><!--authors here-->Toby Ord<br>
                    <!--paper titles--><b style="font-weight: bold !important;">The Precipice</b><br>
                    <!-- journal's name--><i>The Precipice</i><br>
                    <!-- link to artile--><a href="#" target="_blank"></a>
                    </p>
                  <hr>
                  </li>   

                  <li>
                    <p><!--authors here-->Ken Alibek<br>
                    <!--paper titles--><b style="font-weight: bold !important;">Smallpox: a disease and a weapon</b><br>
                    <!-- journal's name--><i>International Journal of Infectious Diseases (2004) 8S2, S3—S8</i><br>
                    <!-- link to artile--><a href="https://doi.org/10.1016/j.ijid.2004.09.004" target="_blank">DOI: 10.1016/j.ijid.2004.09.004</a>
                    </p>
                  <hr>
                  </li>

                  <li>
                    <p><!--authors here-->Jozef GoldWat<br>
                    <!--paper titles--><b style="font-weight: bold !important;">The Biological Weapons Convention
An overview</b><br>
                    <!-- journal's name--><i>
International Review of the Red Cross (1961 - 1997) , Volume 37</i><br>
                    <!-- link to artile--><a href="https://www.cambridge.org/core/journals/international-review-of-the-red-cross-1961-1997/article/abs/biological-weapons-convention-an-overview/D926279DB51CB1D66EF77D00786D9A7A" target="_blank">DOI: 10.1017/S0020860400084679</a>
                    </p>
                  <hr>
                  </li>
                  
                  <li>
                    <p><!--authors here-->National Research Council; Institute of Medicine.<br>
                    <!--paper titles--><b style="font-weight: bold !important;">3Gain-of-Function Research: Background and Alternatives</b><br>
                    <!-- journal's name--><i>Potential Risks and Benefits of Gain-of-Function Research: Summary of a Workshop.</i><br>
                    <!-- link to artile--><a href="https://www.ncbi.nlm.nih.gov/books/NBK285579/" target="_blank">Read it</a>
                    </p>
                  <hr>
                  </li>
                  
                  <li>
                    <p><!--authors here-->Kelsey Lane Warmbrod, Amanda Kobokovich, Rachel West, Georgia Ray, Marc Trotochaud, Michael Montague<br>
                    <!--paper titles--><b style="font-weight: bold !important;">New Report from Johns Hopkins Center for Health Security: Gene Drives: Pursuing Opportunities, Minimizing Risk</b><br>
                    <!-- journal's name--><i>Center News</i><br>
                    <!-- link to artile--><a href="https://www.centerforhealthsecurity.org/news/center-news/2020/2020-05-20-gene-drives-report.html" target="_blank">Read it</a>
                    </p>
                  <hr>
                  </li>
                  
                  <li>
                    <p><!--authors here-->Cornell University<br>
                    <!--paper titles--><b style="font-weight: bold !important;">A Global Nucleic Acid Observatory for Biodefense and Planetary Health</b><br>
                    <!-- journal's name--><i>The Nucleic Acid Observatory Consortium</i><br>
                    <!-- link to artile--><a href="https://doi.org/10.48550/arXiv.2108.02678" target="_blank">DOI:10.48550/arXiv.2108.02678</a>
                    </p>
                  <hr>
                  </li>
                  
                  <li>
                    <p><!--authors here-->Isaac CR<br>
                    <!--paper titles--><b style="font-weight: bold !important;">Establishing an incentive-based multistakeholder approach to dual-use DNA screening</b><br>
                    <!-- journal's name--><i>Biochem Cell Biol.</i><br>
                    <!-- link to artile--><a href="https://pubmed.ncbi.nlm.nih.gov/35290750/" target="_blank">DOI: 10.1139/bcb-2021-0504</a>
                    </p>

                  </li>
                </ol>
              </div>
            </div>  
          </div>
      </section>


      <section>
        <div class="box">
          <a href="{{ url_for('pages', page='implementation') }}" class="a_pages"><div class="reveal flashbox_pages"><p class="p_pages"><i class="fa fa-solid fa-arrow-left fa_pages"></i> Implementation</p></div></a>

          <a href="{{ url_for('pages', page='team') }}" class="a_pages"><div class="reveal flashbox_pages"><p class="p_pages">Team <i class="fa fa-solid fa-arrow-right fa_pages"></i></p></div></a>
        </div>
      </section>
    </div>
  </div>
</div>
{% endblock %}
