{% extends "layout.html" %}

<!-- Header -->
{% block header %}
<header class="py-5 mb-5" id="header" style="background-image: linear-gradient(0deg, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%),url(https://static.igem.wiki/teams/4214/wiki/software/software-header.png);">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-12">
        <h1 class="display-4 text-white">Software</h1>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block page_content %}

<!-- side bar -->
<div class="row mt-4">
  <div class="col-lg-3">
    <div class="side-bar sticky-top">
      <nav class="navigation">
        <ul class="nav-ul-sidebar">
          <li class="nav-ul-li-sidebar">
            <a class="nav-ul-li-a-sidebar" href="#tag1">Background</a>
            <a class="nav-ul-li-a-sidebar" href="#tag2">Description</a>
            <a class="nav-ul-li-a-sidebar" href="#tag3">Tutorials</a>
                <a class="nav-ul-li-a-sidebar light_sidebar" href="#tag3_1">Screening mode</a>
                <a class="nav-ul-li-a-sidebar light_sidebar" href="#tag3_2">Mutants generation</a>
            <a class="nav-ul-li-a-sidebar" href="#references">References</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <!-- END of sidebar -->

  <!-- Include chapters here -->
  <div class="col-lg-9">
    <div class="main-content">

      <section id="tag1">
        <h2>Background</h2>
          <p>Protein design is essential for any protein engineering project. While designing new proteins is still challenging, improvement of existing ones by using site-directed mutagenesis seems to be feasible. As the amount of mutation sites space is huge, an in silico preselection of mutants is needed. Several tools are available that enable the prediction of the mutation effect on protein structures. However, they are complicated to use and they do not give any suggestions with which mutants to proceed in a particular experiment (reffs).</p>

          <p class="reveal">In order to address this problem, we generated the powerful software ProMutor.</p>

          <p class="reveal">ProMutor is a flexible, easy-to-use, open-source platform for generating advantageous point mutants. In our software, wild-type sequences are used to suggest a list of potent mutations based on explicit modelling of evolutionary history. It enables the user to pick the variants of interest based on epistatic scores. To our knowledge, it is the first web-based software to tackle the complexity of protein design.</p>
      </section>

      <section id="tag2">
        <h2 class="revealfromtop">Description</h2>

        <p class="reveal">We developed a web-based user-friendly tool to facilitate protein design. As a starting point, our tool takes either nucleotide or amino acid sequences. Multiple operation modes are offered to the client to make the process of mutant creation as customised as possible. Based on the desired protein design settings, ProMutor provides a list of mutants with the predicted effect of introduced mutations based on the epistatic effect and amino acid conservation across various species.</p>

        <p class="reveal">The mutant generation pipeline begins with a wild-type sequence and a list of positions to be mutated. For instance, this could be a known epitope that is to be modified, post-translational modification sites that should be removed, etc. In addition, our tool could be used as a screening instrument for the effect of all possible single-point mutations. This would facilitate the screening for amino acids that are essential for the protein’s structure and function.</p>

        <p class="reveal">Two modes enable various types of mutant generation. Once a mutation list is submitted, variants with either a similar WT structure (“Preserved” mode of the tool) or a significantly differing one (“Disrupted” mode of the tool) are designed. In both cases, substitution matrices such as BLOSUM or PAM are utilised for a pre-selection of amino acids. A wide choice of those (8) is provided to the user so that the prediction could be as tunable as possible. In cases of conserving structures, most similar amino acids are chosen as substitutes since it's supposed that evolutionary-tolerated amino acid substitutions cause neither major perturbations on the protein's structure nor on its function. On the contrary, when the protein structure should be completely disrupted, the mutations that are least tolerated in evolution are selected to proceed with.</p>

        <p class="reveal">After compiling a list of mutants for testing, ProMutor evaluates the effect of the proposed interventions by predicting their mutational outcomes. For this purpose, a software called GEMME is used, which evaluates mutations based on explicit modelling of the evolutionary history of natural sequences. In addition, GEMME is much faster than other existing tools. It takes into account only biologically meaningful and interpretable parameters and does not require any complex learning steps. Given input alignment, it generates a complete landscape of protein mutations in minutes. Extensive validation was performed to show that GEMME is on par or better than more complex tools. Moreover, GEMME could handle combinations of mutations and give reliable predictions for those.</p>

        <p class="reveal">For our purposes, HHblits and Uniclust database are chosen to create a multiple sequence alignment (MSA) required as an input for GEMME. By providing several databases (Uniclust, PDB70, PfamA, SCOP70), the user has the freedom to choose. However, we suggest Uniclust database due to greater search space and more reliable predictions.</p>

        <p class="reveal">Once all steps are complete, the user gets a list of scored point mutants as well as their sequences. In order to enable reproducibility, all inputs and outputs are interpreted and reported. The results can be downloaded and displayed in several formats for easy usage. Last but not least, the user is provided with protein prediction possibilities as a follow-up step (ColabFold).</p>

        <p class="reveal">Overall, this sophisticated pipeline is a multiple steps process which is fully automated without any user involvement. Calculations are performed on a powerful multi-core cluster and accessible through a single web form.</p>

        <p class="reveal">Note from authors: “Our vision is to provide a complete and powerful tool that makes protein design as painless as possible.”</p>
      </section>

      <section id="tag3">
        <h2 class="revealfromtop">Tutorials</h2>
        <p class="reveal">This tutorial explains how to set every parameters in order to efficiently use both the mode that are available (screening and mutants generation). For more detailed explanations, please visite the Gitlab.</p>
      </section>

      <section id="tag3_1">
        <h3 class="revealfromtop">Screening mode</h3>
        <h4 class="revealfromtop">Input</h4>
        <h5 class="revealfromtop">Step 1: Choose your sequence type</h5>
        <p class="reveal">Is it a DNA (nucleotide bases) or Protein (amino acids) sequence?</p>
        <p>
        <code>
protein
        </code>
        </p>

      </div>

        <h5 class="revealfromtop">Step 2: Insert your Sequence</h5>
        <p class="reveal">You can choose to upload a fasta file (.fasta, .fa, .fna, .fnn, .faa) or paste the sequence as follows:</p>

      <div style="background-color: whitesmoke; border-radius: 5px; font-style:monospace;">   

>sp|P27352|IF_HUMAN Cobalamin binding intrinsic factor OS=Homo sapiens OX=9606 GN=CBLIF PE=1 SV=2
MAWFALYLLSLLWATAGTSTQTQSSCSVPSAQEPLVNGIQVLMENSVTSSAYPNPSILIA
MNLAGAYNLKAQKLLTYQLMSSDNNDLTIGQLGLTIMALTSSCRDPGDKVSILQRQMENW
APSSPNAEASAFYGPSLAILALCQKNSEATLPIAVRFAKTLLANSSPFNVDTGAMATLAL
TCMYNKIPVGSEEGYRSLFGQVLKDIVEKISMKIKDNGIIGDIYSTGLAMQALSVTPEPS
KKEWNCKKTTDMILNEIKQGKFHNPMSIAQILPSLKGKTYLDVPQVTCSPDHEVQPTLPS
NPGPGPTSASNITVIYTINNQLRGVELLFNETINVSVKSGSVLLVVLEEAQRKNPMFKFE
TTMTSWGLVVSSINNIAENVNHKTYWQFLSGVTPLNEGVADYIPFNHEHITANFTQY

      </div>


        <h5 class="revealfromtop">Step 3: Insert the position of mutation(s)</h5>
        <p class="reveal">Set the position to 0 to enable screening mode</p>
        <code>
0
        </code>

        <h5 class="revealfromtop">Step 4: Insert the positions that are always of mutated</h5>
        <p class="reveal"></p>

          <code>
Leave empty
          </code>
 

        <h5 class="revealfromtop">Step 5: Insert maximum number of mutation(s)</h5>
        <p class="reveal"></p>
        <div stle="background: rgb(74,74,74); background: linear-gradient(0deg, rgba(74,74,74,0.24975927871148462) 100%, rgba(253,187,45,1) 100%);">
        <pre class="language-markup">
          <code>
Leave empty
          </code>
        </pre>
      </div> 

        <h5 class="revealfromtop">Step 6: Choose structure preservation mode</h5>
        <p class="reveal">By default:</p>
        <div stle="background: rgb(74,74,74); background: linear-gradient(0deg, rgba(74,74,74,0.24975927871148462) 100%, rgba(253,187,45,1) 100%);">
        <pre class="language-markup">
          <code>
Preserved
          </code>
        </pre>
      </div>

        <h5 class="revealfromtop">Step 7: Choose the similarity matrix</h5>
        <p class="reveal">By default:</p>
        <div stle="background: rgb(74,74,74); background: linear-gradient(0deg, rgba(74,74,74,0.24975927871148462) 100%, rgba(253,187,45,1) 100%);">
        <pre class="language-markup">
          <code>
Blosum62
          </code>
        </pre>
      </div> 

        <h5 class="revealfromtop">Step 8: Choose the database to be used</h5>
        <p class="reveal">Select against which database the MSA should be ran. Uniclust is recommended for more reliable prediction. Faster results may be produced with other choices.</p>
        <div stle="background: rgb(74,74,74); background: linear-gradient(0deg, rgba(74,74,74,0.24975927871148462) 100%, rgba(253,187,45,1) 100%);">
        <pre class="language-markup">
          <code>
Uniclust
          </code>
        </pre>
      </div> 

        <h5 class="revealfromtop">Step 9: Submit the form</h5>
        <p class="reveal">Press:</p>
        <div stle="background: rgb(74,74,74); background: linear-gradient(0deg, rgba(74,74,74,0.24975927871148462) 100%, rgba(253,187,45,1) 100%);">
        <pre class="language-markup">
          <code>
Run
          </code>
        </pre>
      </div> 

      <p>Or you can watch the video bellow:</p>
      <iframe title="Stockholm: ProMutor Screening Mode Tutorial (2022) [English]" width="560" height="315" src="https://video.igem.org/videos/embed/65018f06-d809-4951-a9c4-92242a610a91" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups"></iframe>

        <p class="reveal">
          Extremely we promotion remainder eagerness enjoyment an. Ham her demands removal brought minuter raising invited gay. Contented consisted continual curiosity contained get sex. Forth child dried in in aware do. You had met they song how feel lain evil near. Small she avoid six yet table china. And bed make say been then dine mrs. To household rapturous fulfilled attempted on so.
        </p>


        <figure class="reveal">
          <img src="https://static.igem.wiki/teams/4214/wiki/picture.png" class="img-fluid reveal" alt="inclusivity picture">
          <figcaption>
            <p><i style="font-weight:bold;">Title.</i><i> This is a figure caption</i></p>
          </figcaption>
        </figure>

      </section>

      <section id="tag3_2">
        <h3 class="revealfromtop">Mutants generation</h3>

        <p class="reveal">
          Extremely we promotion remainder eagerness enjoyment an. Ham her demands removal brought minuter raising invited gay. Contented consisted continual curiosity contained get sex. Forth child dried in in aware do. You had met they song how feel lain evil near. Small she avoid six yet table china. And bed make say been then dine mrs. To household rapturous fulfilled attempted on so.
        </p>
      </section>




        <div class="box_page">
          <a href="https://promutor.com/" target="_blank" class="a_pages"><div class="reveal flashbox_pages"><p class="p_pages">ProMutor <svg fill="#FFFFFF" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Free 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. --><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg></p></div></a>
        </div>
      </section>


      <section id="references">
        <!-- REFERENCES !!! -->
        <h2 class="revealfromtop">References</h2>
          <div class="tabs reveal">
            <div class="tab">
              <input type="checkbox" id="chck1">
              <label class="tab-label" for="chck1">References</label>
              <div class="tab-content">
                <ol>
                  <li>
                    <p><!--authors here-->Authors<br>
                    <!--paper titles--><b style="font-weight: bold !important;">Title</b><br>
                    <!-- journal's name--><i>Journal's name</i><br>
                    <!-- link to artile--><a href="#" target="_blank">A link</a>
                    </p>
                  <hr>
                  </li>

                  <li>
                    <p><!--authors here-->Authors<br>
                    <!--paper titles--><b style="font-weight: bold !important;">Title</b><br>
                    <!-- journal's name--><i>Journal's name</i><br>
                    <!-- link to artile--><a href="#" target="_blank">A link</a>
                    </p>
                  <hr>
                  </li>
                  
                  <li>
                    <p><!--authors here-->Authors<br>
                    <!--paper titles--><b style="font-weight: bold !important;">Title</b><br>
                    <!-- journal's name--><i>Journal's name</i><br>
                    <!-- link to artile--><a href="#" target="_blank">A link</a>
                    </p>
                  <hr>
                  </li>

                </ol>
              </div>
            </div>  
          </div>
      </section>


      <section>
        <div class="box">
          <a href="{{ url_for('pages', page='model') }}" class="a_pages"><div class="reveal flashbox_pages"><p class="p_pages"><svg fill="#FFFFFF" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Free 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. --><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg> Model</p></div></a>

          <a href="{{ url_for('pages', page='experiments') }}" class="a_pages"><div class="reveal flashbox_pages"><p class="p_pages">Experiments <svg fill="#FFFFFF" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Free 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. --><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg></p></div></a>
        </div>
      </section>
    </div>
  </div>
</div>
{% endblock %}
