<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://static.igem.wiki/teams/4214/wiki/favicon.png"/>
    <link rel="license" href="https://creativecommons.org/licenses/by/4.0/"/>

    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename = 'bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename = 'style.css') }}" rel="stylesheet">

        <!-- Google Fonts -->
    <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&amp;display=swap'>


    <title>{% block title %}{% endblock %} | Stockholm - iGEM 2022</title>
</head>

<body>

  <div>
    {% block header %}{% endblock %}
  </div>


  <!-- Navigation -->
  {% include 'menu.html' %}



  <!-- Page Content -->
  <div class="container">
    {% block page_content %}{% endblock %}
  </div>

  <!-- Footer: MUST mention license AND have a link to team wiki's repository on gitlab.igem.org -->
  {% include 'footer.html' %}

  <!-- Wiki Tools: Teams are allowed to remove it -->
  {% include 'wiki-tools.html' %}

    <!-- JS for sidebar -->
    <script src="{{ url_for('static', filename = 'navbar.js') }}"></script>

  <!-- Bootstrap Bundle with Popper -->
  <script src="{{ url_for('static', filename = 'bootstrap.bundle.min.js') }}"></script>
</body>
</html>
