body { padding-top: 56px; }
.left-aligned { margin-left: auto; }
.bg-dark { background-color: #343a40 !important; }
.bg-hero { background-color: #2A95B1; }

/* CALLOUT */
.bd-callout { padding:1.25rem; margin-top:0rem; margin-bottom:1.25rem; border:1px solid #e9ecef; border-left-width:.25rem; border-radius:.25rem }
.bd-callout h4 { margin-bottom:.25rem }
.bd-callout p:last-child { margin-bottom:0 }
.bd-callout code { border-radius:.25rem }
.bd-callout+.bd-callout { margin-top:-.25rem }
.bd-callout-info { border-left-color:#5bc0de }
.bd-callout-warning { border-left-color:#f0ad4e }
.bd-callout-danger { border-left-color:#d9534f }

/* footer */
footer a { color: white; font-weight: bold; text-decoration: none; }
footer a:hover { color: white; text-decoration: underline; }
/*footer style STOPS*/

/*START PERSONALIZED STYLE*/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

*{
   font-family: "Source Sans Pro", "Roboto", Arial, sans-serif;
}

html {
   scroll-behavior: smooth;
}

nav {
   position:relative;
   top: 0;
}

.center {
   text-align: center;
}

body{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background: #eee;
  color:#333;
  text-align: justify;
}

header {
   font-family: 'Roboto', sans-serif;
   font-weight: 700;
}

/*main content and section START*/
.main-content {
   margin-left: 25%;
   padding-top: 3%;
   padding-bottom: 3%;
   position: static;
   z-index: 0;
}

section {
   background-color: red;
   height: auto;
   margin:0;
   /*padding:2.5rem 4rem;*/
   position: relative;
   z-index: 0;
}

section:last-of-type {
   height: 100vh;
}
  
.active { /*needed for the JS*/
   color: #e41b17; 
   font-weight: 600;
}




/* SIDE BAR START*/
.side-bar {
  flex-direction: column;
  justify-content: center;
  /*width: 25%;
  padding-top: 6%;
  padding-left: 10%;*/
  display: flex;
  float: left;
  background-color: transparent;
  position: sticky;
  z-index: 0;
}

nav ul {
  padding: 0;
}

nav li {
  list-style: none;
}

nav li a {
  text-align: left !important;
  text-decoration: none;
  display: block;
  font-weight: 500;
  transition: all ease-out 100ms;
  padding: 4px;
  color: #2A95B1
}

nav li a:hover {
  color: #e41b17;
  font-size: 18px;
}
/* SIDE BAR STOP*/
/*make the side bar disappear in function of the width*/
@media (max-width: 1000px) {
   .side-bar {
     position:static;
     display: none;
     background: transparent;
   }
}

.list-group-item {
   transition: all ease-out 100ms;
}
/* end of new code FOR SIDE BAR */


/*progress bar*/
.progress-container {
   position: fixed;
   top: 0;
   z-index: 1;
   width: 100%;
   height: 3px;
   background: none; /*can change*/
}
 
.progress-bar {
   height: 3px;
   background: #e41b17;
   width: 0%;
   transition:ease;
}
 
.content {
   padding: 100px 0;
   margin: 50px auto 0 auto;
}
/*stop*/
