body { padding-top: 0px; }
.left-aligned { margin-left: auto; }
.bg-dark { background-color: #000000 /*#343a40*/ !important; }

/* CALLOUT */
.bd-callout { padding:1.25rem; margin-top:1.25rem; margin-bottom:1.25rem; border:1px solid #e9ecef; border-left-width:.25rem; border-radius:.25rem }
.bd-callout h4 { margin-bottom:.25rem }
.bd-callout p:last-child { margin-bottom:0 }
.bd-callout code { border-radius:.25rem }
.bd-callout+.bd-callout { margin-top:-.25rem }
.bd-callout-info { border-left-color:#5bc0de }
.bd-callout-warning { border-left-color:#f0ad4e }
.bd-callout-danger { border-left-color:#d9534f }

/* footer */
footer p { color: text-light !important}
footer a { color: text-dark; font-weight: bold; text-decoration: none; }
footer a:hover { color: text-dark; text-decoration: underline; }

/*footer style STOPS*/

/*START PERSONALIZED STYLE*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

*{
   font-family: "Source Sans Pro", "Roboto", Arial, sans-serif;
}

html {
   scroll-behavior: smooth;
}

nav {
   position:relative;
   top: 0 !important;
}
nav li a {
   color:#2A7F93;
   font-size: 500;
}

.center {
   text-align: center;
}

body{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
   background: rgb(233,73,73);
   background: linear-gradient(90deg, rgba(233,73,73,0.15) 0%, rgba(255,255,255,0) 35%, rgba(42,127,147,0.26) 100%);
   color:#333;
  text-align: justify;
  line-height: 1.6;
  word-spacing: 1.15px;
    /* font-family: 'opendyslexic' !important; */
}

@font-face {
  font-family: 'opendyslexic';
    src: url('fonts/od.otf');
    font-style: normal;
    font-weight: normal;
} 

.od {
    font-family: 'opendyslexic' !important;
}

header {
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 9px;
   height: 350px;
}

header h1 {
   padding-top: 170px !important;
}

h2, h3, h4 {
   letter-spacing: 6px;
   text-transform: uppercase;
   padding-bottom: 5PX;
   text-align:start !important;
}

h5, h6 {
   letter-spacing: 6px;
   text-transform: uppercase;
   text-align:start !important;
}

p {
   padding-top: 3px;
   padding-bottom: 5PX;
}

a {
   color:#2A7F93;
   text-decoration: none;
}

/* Switch dark-light*/
.form-check {
   padding: auto;
}

/* animation logo START */
.static-gif {
   position:absolute;
}

.static-gif:hover {
   opacity:0;
}

.active-gif:hover {
   opacity: 0;
}
/* animation logo STOP */

/* dropdown navbar START */
.dropdown:hover .dropdown-menu {
   display: block;
   margin-top: 0; /* remove the gap so it doesn't close*/
   opacity: 1 !important;
}

.dropdown-menu.show {
   -webkit-animation: fadeIn 0.3s alternate;
   /* Safari 4.0 - 8.0 */
   animation: fadeIn 0.3s alternate;
}
 
.nav-item.dropdown.dropdown-mega {
   position: static;
}

.nav-item.dropdown.dropdown-mega .dropdown-menu {
   width: 100%;
   top: auto;
   left: 0%;
}

.nav-link {
   color: black;
   font-weight:400;
}

/*
.navbar-toggler {
   border: none;
   padding: 0;
   outline: none;
}

.navbar-toggler:focus {
   box-shadow: none;
}

.navbar-toggler .hamburger-toggle {
   position: relative;
   display: inline-block;
   width: 50px;
   height: 50px;
   z-index: 11;
}

.navbar-toggler .hamburger-toggle .hamburger {
   position: absolute;
   transform: translate(-50%, -50%) rotate(0deg);
   left: 50%;
   top: 50%;
   width: 50%;
   height: 50%;
   pointer-events: none;
}

.navbar-toggler .hamburger-toggle .hamburger span {
   width: 100%;
   height: 4px;
   position: absolute;
   background: #333;
   border-radius: 2px;
   z-index: 1;
   transition: transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), all 0.2s ease-in-out;
   left: 0px;
}

.navbar-toggler .hamburger-toggle .hamburger span:first-child {
   top: 10%;
   transform-origin: 50% 50%;
   transform: translate(0% -50%) !important;
}

.navbar-toggler .hamburger-toggle .hamburger span:nth-child(2) {
   top: 50%;
   transform: translate(0, -50%);
}

.navbar-toggler .hamburger-toggle .hamburger span:last-child {
   left: 0px;
   top: auto;
   bottom: 10%;
   transform-origin: 50% 50%;
}

.navbar-toggler .hamburger-toggle .hamburger.active span {
   position: absolute;
   margin: 0;
}

.navbar-toggler .hamburger-toggle .hamburger.active span:first-child {
   top: 45%;
   transform: rotate(45deg);
}

.navbar-toggler .hamburger-toggle .hamburger.active span:nth-child(2) {
   left: 50%;
   width: 0px;
}

.navbar-toggler .hamburger-toggle .hamburger.active span:last-child {
   top: 45%;
   transform: rotate(-45deg);
}
*/
/* dropdown navbar STOP */


/*main content and section START*/
.main-content {
   margin-left: 0%;
   padding-top: 0%;
   padding-bottom: 3%;
   position: static;
   z-index: 0;
}

section {
   /*background-color: #f5d1cb;*/
   height: auto;
   margin-bottom:80px;
   padding-top: 0%;
   /*padding-bottom: 30px;*/
   /*padding:2.5rem 4rem;*/ /*try to egalize sidebar and maincontent*/
   position: relative;
   z-index: 0;
}

section:last-of-type {
   /*height: 60vh;*/
   height:auto;
}
  
.active { /*needed for the JS*/
   color: #e94949; 
   font-weight: 600;
}

/* SIDE BAR START*/
.side-bar {
  flex-direction: column;
  justify-content: center;
  /*width: 25%;*/
  padding-top: 3%; /*to be same as main-content*/
  padding-left: 0%; /*to be aligned to title*/
  display: flex;
  float: left;
  /*background-color: lightblue;*/
  position: sticky;
  z-index: 0;
}

nav ul {
  padding: 0;
}

nav li {
  list-style: none;
}

nav li a {
  text-align: left !important;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  font-weight: 500;
  transition: all ease-out 100ms;
  padding: 4px;
  color: #2A7F93
}

nav li a:hover {
  color: #e94949;
  font-size: 20px;
}
/* SIDE BAR STOP*/
/*make the side bar disappear in function of the width*/
@media (max-width: 1000px) {
   .side-bar {
     position:static;
     display: none;
     background: transparent;
   }
}

.list-group-item {
   transition: all ease-out 100ms;
}
/* end of new code FOR SIDE BAR */


/*progress bar*/
.progress-container {
   position: fixed;
   top: 0;
   z-index: 3;
   width: 100%;
   height: 3px;
   background: none; /*can change*/
}
 
.progress-bar {
   height: 3px;
   background: rgb(233,73,73);
   background: linear-gradient(90deg, rgba(233,73,73,1) 0%, rgba(255,255,255,0) 35%, rgba(42,127,147,1) 100%);
   width: 0%;
   transition:ease;
}
 
.content {
   padding: 100px 0;
   margin: 50px auto 0 auto;
}
/*stop*/

/*carousel*/
.carousel {
  position: relative;
  z-index: 0;
}

.carousel .item {
  height: 20px;
  margin: auto;
}

.item img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  /*min-height: 50px;*/
   max-width: 70% !important;}
/*end of carousel*/


/*reveal effect onscroll from bottom*/
.reveal{
   position: relative;
   transform: translateY(80px);
   opacity: 0;
   transition: all 1.3s ease;
}
.reveal:nth-child(2){
   position: relative;
   transform: translateY(80px);
   opacity: 0;
   transition: all 1.4s ease;
}
.reveal:nth-child(3){
   position: relative;
   transform: translateY(80px);
   opacity: 0;
   transition: all 1.5s ease;
}

.reveal.activeonscroll{
   transform: translateY(0px);
   opacity: 1;
}
/*end of reveal effect*/

/*reveal effect onscroll from top*/
.revealfromtop{
   position: relative;
   transform: translateY(-80px);
   opacity: 0;
   transition: all 1.3s ease;
}

.revealfromtop.activeonscrolltop{
   transform: translateY(0px);
   opacity: 1;
}
/*end of reveal effect*/

/*reveal effect onscroll from left*/
.revealfromleft{
   position: relative;
   transform: translateX(-80px);
   opacity: 0;
   transition: all 1.3s ease;
}

.revealfromleft.activeonscrolltop{
   transform: translateX(0px);
   opacity: 1;
}
/*end of reveal effect*/

/*reveal effect onscroll from right*/
.revealfromright{
   position: relative;
   transform: translateX(+80px);
   opacity: 0;
   transition: all 1.3s ease;
}

.revealfromright.activeonscrolltop{
   transform: translateX(0px);
   opacity: 1;
}
/*end of reveal effect*/

/*box*/
.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

@media (max-width: 1000px) {
   .box {
      flex-direction: column;
   }
}

.flashbox {
   width: 160px;
   height: 80px;
   background-color: #85bcc1;
   color:#e94949;
   /*transition: 0.3s;*/
   box-shadow: 5px 5px 5px 5px rgba(42,149,177,0.15);
   border-radius: 5px;
   font-size: 20px;
   text-align:center;
   line-height: 70px;
   /*align-items: center; 
   justify-content: center;*/
   text-decoration: none;
}

.flashbox:hover {
   background-color: #2a8093ac;
}

.flashbox_pages {
   width: 265px;
   height: 80px;
   background-color: #85bcc1;
   transition: 0.3s;
   box-shadow: 5px 5px 5px 5px rgba(42,149,177,0.15);
   border-radius: 5px;
   font-size: 20px;
   text-align:center;
   line-height: 70px;
   /*align-items: baseline; 
   justify-content: center;*/
   text-decoration: none;
}
.flashbox_pages:hover {
   background-color: #2a8093ac;
}
.fa_pages {
   color: #e94949 !important;
}
/*
.flashbox_pages:hover .fa_pages {
   color: #17375e !important;
}
*/
.p_pages, .a_pages {
   color:#e94949;
   text-decoration: none;
}
/*
.flashbox_pages:hover .p_pages, .a_pages {
   color: #17375e;
}
*/
/*end of flashbox*/



/*TIMELINE*/
* {
   box-sizing: border-box;
 }
 
 /* The actual timeline (the vertical ruler) */
 .timeline {
   position: relative;
   max-width: auto;
   margin: 0 auto;
 }
 
 /* The actual timeline (the vertical ruler) */
 .timeline::after {
   content: '';
   position: absolute;
   width: 2px;
   background: rgb(233,73,73);
   background: linear-gradient(0deg, rgba(233,73,73,1) 0%, rgba(255,255,255,0) 50%, rgba(42,127,147,1) 100%);
   top: 0;
   bottom: 0;
   left: 50%;
   margin-left: -1px;
 }
 
 /* Container around content */
 .container-timeline {
   padding: 10px 20px;
   position: relative;
   background-color: transparent/*lightgrey*/;
   width: 50%;
 }
 
 /* The circles on the timeline */
 .container-timeline::after {
   content: '';
   position: absolute;
   width: 30px;
   height: 30px;
   right: -15px;
   background-color: transparent /*green*/;
   border: transparent /*4px solid red*/;
   top: 15px;
   border-radius: 50%;
   z-index: 1;
 }
 
 /* Place the container to the left */
 .left {
   left: 0;
 }
 
 /* Place the container to the right */
 .right {
   left: 50%;
 }
 
 /* Add arrows to the left container (pointing right) */
 .left::before {
   content: " ";
   height: 0;
   position: absolute;
   top: 22px;
   width: 0;
   z-index: 1;
   right: 10px;
   border: medium solid grey;
   border-width: 10px 0 10px 10px;
   border-color: transparent transparent transparent grey;
 }
 
 /* Add arrows to the right container (pointing left) */
 .right::before {
   content: " ";
   height: 0;
   position: absolute;
   top: 22px;
   width: 0;
   z-index: 1;
   left: 10px;
   border: medium solid grey;
   border-width: 10px 10px 10px 0;
   border-color: transparent grey transparent transparent;
 }
 
 /* Fix the circle for containers on the right side */
 .right::after {
   left: -16px;
 }
 
 /* The actual content */
 .content-timeline {
   padding: 20px 30px;
   background-color: #85bcc1;
   position: relative;
   border-radius: 5px; /*round angles*/
 }
 
 /* Media queries - Responsive timeline on screens less than 600px wide */
 @media screen and (max-width: 600px) {
   /* Place the timelime to the left */
   .timeline::after {
   left: 31px;
   }
   
   /* Full-width containers */
   .container-timeline {
   width: 100%;
   padding-left: 70px;
   padding-right: 25px;
   }
   
   /* Make sure that all arrows are pointing leftwards */
   .container-timeline::before {
   left: 60px;
   border: medium solid white;
   border-width: 10px 10px 10px 0;
   border-color: transparent white transparent transparent;
   }
 
   /* Make sure all circles are at the same spot */
   .left::after, .right::after {
   left: 15px;
   }
   
   /* Make all right containers behave like the left ones */
   .right {
   left: 0%;
   }
 }
 /*END TIMELINE*/


/*FLIPCARD*/
.scene {
  width:100%;
  perspective: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

@media screen and (max-width: 600px){
   .scene {
      padding-left: 25%;
      }
}

.flipcard {
   position: relative;
   width: 200px;
   height:200px;
   color:#30afb4;
   background-color: #17375e;
   text-align: center;
   line-height: 190px;
   cursor: pointer;
   transition: 1s ease-in-out;
   transform-style: preserve-3d;
}

.flipcard:hover {
   transform: rotateY(0.5turn);
}

.flipcard__face {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   backface-visibility: hidden;
   transition: 1s ease-in-out;
}

.flipcard-img {
   width: auto;
   /*height: 200px;*/
   object-fit: cover;
}

.flipcard__face--back {
   transform: rotateY(0.5turn);
}
/*end flip card*/

/*font awesome*/
.fa {
   color:#30afb4;
   transition: 0.3s;
}

.fa:hover{
   color:#e94949;
}
/*end font awesome*/

/*button to top*/
#btn-back-to-top {
  position: fixed;
  bottom: 70px;
  right: 70px;
  display: none;
  transition: 0.3s;
  background-color: #30afb4; 
  color: white;
}

#btn-back-to-top:hover {
   background-color: #e94949;
}

